Repository storm-software/storm-ops: changes, and which lefthook commands are due for each by the changed paths.
All: prebuild, validate, format, postbuild

prebuild:
  run: pnpm build
  stage_fixed: true

validate:
  run: node ./dist/packages/git-tools/bin/pre-commit.js {staged_files}
  stage_fixed: true

format:
  run: pnpm biome:format {staged_files} && git update-index

postbuild:
  run: pnpm build
  stage_fixed: true

fix(workspace-tools): Update the env values passed into tsup builder
  packages/workspace-tools/src/base/base-executor.ts
  packages/workspace-tools/src/utils/run-tsup-build.ts
Due: prebuild, validate, postbuild

chore(release): Publish monorepo release updates
  packages/workspace-tools/CHANGELOG.md
  packages/workspace-tools/package.json
Due: prebuild, validate, format, postbuild

fix(workspace-tools): Ensure invalid env are not provided to build
  packages/workspace-tools/src/utils/run-tsup-build.ts
Due: prebuild, validate, postbuild

fix(tsconfig): Added `lib` option to base tsconfig file
  packages/tsconfig/src/base.json
  packages/workspace-tools/assets/cjs_shims.js
  packages/workspace-tools/assets/esm_shims.js
  packages/workspace-tools/src/executors/tsup-browser/get-config.ts
  packages/workspace-tools/src/executors/tsup-neutral/get-config.ts
  packages/workspace-tools/src/executors/tsup-node/get-config.ts
  tsconfig.base.json
Due: prebuild, validate, postbuild

chore(release): Publish monorepo release updates
  packages/tsconfig/CHANGELOG.md
  packages/tsconfig/package.json
  packages/workspace-tools/CHANGELOG.md
  packages/workspace-tools/package.json
  tsconfig.base.json
Due: prebuild, validate, format, postbuild

fix(workspace-tools): Updates to compiler options for dts build
  packages/tsconfig/src/base.json
  packages/workspace-tools/src/executors/tsup/executor.ts
  packages/workspace-tools/src/utils/run-tsup-build.ts
  tsconfig.base.json
Due: prebuild, validate, postbuild

fix(workspace-tools): Update method of parsing the tsconfig json values for dts build
  packages/workspace-tools/package.json
  packages/workspace-tools/project.json
  packages/workspace-tools/src/utils/run-tsup-build.ts
  pnpm-lock.yaml
Due: prebuild, validate, format, postbuild

docs(storm-ops): Updates to repository README.md files
  packages/config-tools/README.md
  packages/config/README.md
  packages/create-storm-workspace/README.md
  packages/git-tools/README.md
  packages/linting-tools/README.md
  packages/testing-tools/README.md
  packages/tsconfig/README.md
  packages/workspace-tools/README.md
Due: prebuild, validate, format, postbuild

fix(workspace-tools): Updates to handle errors with tsconfig loading
  packages/workspace-tools/src/utils/run-tsup-build.ts
Due: prebuild, validate, postbuild

fix(workspace-tools): Dynamically import `bundle-require` in tsup build
  packages/workspace-tools/src/utils/run-tsup-build.ts
Due: prebuild, validate, postbuild

fix(workspace-tools): Update tsup build to use `readConfigFile` function for tsconfig loader
  packages/workspace-tools/src/utils/run-tsup-build.ts
Due: prebuild, validate, postbuild

fix(workspace-tools): Enhance collecting compiler options and logging
  packages/workspace-tools/src/utils/run-tsup-build.ts
Due: prebuild, validate, postbuild

fix(workspace-tools): Update `workspaceRoot` to no longer include backslash characters
  packages/workspace-tools/src/utils/run-tsup-build.ts
Due: prebuild, validate, postbuild

fix(workspace-tools): Added code to resolve issues with paths saved to `StormConfig`
  packages/config-tools/src/env/get-env.ts
  packages/config-tools/src/env/set-env.ts
  packages/config-tools/src/utilities/correct-paths.ts
  packages/config-tools/src/utilities/find-workspace-root.ts
  packages/workspace-tools/src/utils/run-tsup-build.ts
Due: prebuild, validate, postbuild

chore(release): Publish monorepo release updates
  packages/config-tools/CHANGELOG.md
  packages/config-tools/package.json
  packages/workspace-tools/CHANGELOG.md
  packages/workspace-tools/package.json
Due: prebuild, validate, format, postbuild

fix(workspace-tools): Resolved issues with inconsistent path formats
  packages/config-tools/src/utilities/correct-paths.ts
  packages/config-tools/src/utilities/index.ts
  packages/workspace-tools/src/utils/run-tsup-build.ts
Due: prebuild, validate, postbuild

fix(workspace-tools): Ensure file paths are valid in `fileNames` array
  packages/config-tools/README.md
  packages/tsconfig/README.md
  packages/workspace-tools/README.md
  packages/workspace-tools/src/utils/run-tsup-build.ts
Due: prebuild, validate, format, postbuild

chore(release): Publish monorepo release updates
  packages/config-tools/CHANGELOG.md
  packages/config-tools/package.json
  packages/tsconfig/CHANGELOG.md
  packages/tsconfig/package.json
  packages/workspace-tools/CHANGELOG.md
  packages/workspace-tools/package.json
Due: prebuild, validate, format, postbuild

fix(workspace-tools): Updated the `workspaceRoot` applied to compiler options
  packages/workspace-tools/src/utils/run-tsup-build.ts
Due: prebuild, validate, postbuild

fix(workspace-tools): Update the path used by the compiler options
  packages/workspace-tools/src/utils/run-tsup-build.ts
Due: prebuild, validate, postbuild

fix(workspace-tools): Update base path passed to config normalizer
  packages/workspace-tools/src/utils/run-tsup-build.ts
Due: prebuild, validate, postbuild

fix(workspace-tools): Update import method for typia executor
  packages/workspace-tools/src/executors/typia/executor.ts
Due: prebuild, validate, postbuild

fix(storm-ops): Resolve issue with bad workspace root env value
  nx.json
  tsconfig.base.json
Due: none

feat(config): Added the implementation for the `externalPackagePatterns` config parameter
  packages/config-tools/src/env/get-env.ts
  packages/config-tools/src/env/set-env.ts
  packages/config/presets/base.json
  packages/workspace-tools/src/executors/tsup/executor.ts
  storm.config.js
Due: prebuild, validate, postbuild

chore(release): Publish monorepo release updates
  packages/config-tools/CHANGELOG.md
  packages/config-tools/package.json
  packages/config/CHANGELOG.md
  packages/config/package.json
  packages/workspace-tools/CHANGELOG.md
  packages/workspace-tools/package.json
  tsconfig.base.json
Due: prebuild, validate, format, postbuild

fix(workspace-tools): Update typia executor to import js files directly
  packages/workspace-tools/src/executors/typia/executor.ts
Due: prebuild, validate, postbuild

fix(workspace-tools): Update the base tsconfig path to use in the dts build
  packages/workspace-tools/src/utils/run-tsup-build.ts
Due: prebuild, validate, postbuild

Path conditions:
  prebuild: any of: **/*.*
  validate: any of: **/*.*
  format: any of: **/{README.md,package.json}
  postbuild: any of: **/*.*
