Repository storm-software/storm-ops: changes, and which lefthook commands are due for each by the changed paths.
All: validate, check, readme, format, build

lefthook.yml:

#
#   Refer for explanation to following link:
#   https://github.com/evilmartians/lefthook/blob/master/docs/configuration.md
#

assert_lefthook_installed: true
colors: true
no_tty: false
min_version: 1.5.0

pre-install:
  commands:
    validate:
      glob: "**/*.*"
      run: "zx ./dist/packages/git-tools/scripts/pre-install.mjs"
prepare:
  commands:
    validate:
      glob: "**/*.*"
      run: "zx ./dist/packages/git-tools/scripts/prepare.mjs"

pre-commit:
  piped: true
  commands:
    validate:
      glob: "**/*.*"
      run: "zx ./dist/packages/git-tools/hooks/pre-commit.mjs {staged_files}"
      stage_fixed: true
    lint-storm:
      files: "git diff --name-only HEAD @{push}"
      glob: "**/*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: "pnpm lint && git update-index"
    check:
      glob: "**/*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: "pnpm biome:check {staged_files} && git update-index"
    readme:
      glob: "**/{README.md,package.json}"
      run: "zx ./dist/packages/git-tools/bin/cli.mjs readme-gen --templates=\"dist/packages/git-tools/readme/templates\" && git update-index"
    format:
      glob: "**/{README.md,package.json}"
      run: "pnpm biome:format {staged_files} && git update-index"
    build:
      glob: "**/*.*"
      run: "pnpm build"
      stage_fixed: true

commit-msg:
  commands:
    validate:
      run: "npx commitlint --config dist/packages/git-tools/commitlint.config.cjs --edit {1}"

pre-push:
  piped: true
  commands:
    validate:
      files: "git diff --name-only HEAD @{push}"
      glob: "**/*.*"
      run: "zx ./dist/packages/git-tools/hooks/pre-push.mjs {files}"
    lint:
      files: "git diff --name-only HEAD @{push}"
      glob: "**/*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: "pnpm biome:lint {files} && git update-index"

post-merge:
  commands:
    validate:
      glob: "**/*.*"
      run: "zx ./dist/packages/git-tools/hooks/post-merge.mjs {staged_files}"
      stage_fixed: true

post-checkout:
  commands:
    validate:
      glob: "**/*.*"
      run: "zx ./dist/packages/git-tools/hooks/post-checkout.mjs {staged_files}"

post-commit:
  commands:
    validate:
      glob: "**/*.*"
      run: "zx ./dist/packages/git-tools/hooks/post-commit.mjs {staged_files}"

chore(design-tools): design-tools-v1.6.6 [skip ci]
  packages/design-tools/CHANGELOG.md
  packages/design-tools/package.json
Due: validate, check, readme, format, build

Notes added by 'git notes add'
  07/622e777eec04392ea99349b47078b2bbd7af56
Due: none

feat(workspace-tools): Added the `typia` executor
  .vscode/settings.json
  packages/linting-tools/src/cspell/dictionary.txt
  packages/workspace-tools/executors.json
  packages/workspace-tools/index.ts
  packages/workspace-tools/project.json
  packages/workspace-tools/src/executors/typia/executor.ts
  packages/workspace-tools/src/executors/typia/schema.d.ts
  packages/workspace-tools/src/executors/typia/schema.json
  patches/tsup@8.0.0.patch
  pnpm-lock.yaml
Due: validate, check, build

chore(config-tools): config-tools-v1.16.0 [skip ci]
  packages/config-tools/CHANGELOG.md
  packages/config-tools/package.json
Due: validate, check, readme, format, build

Notes added by 'git notes add'
  be/3a636813e365d6ea61a51531ba698d50b427e2
Due: none

chore(workspace-tools): workspace-tools-v1.44.0 [skip ci]
  packages/workspace-tools/CHANGELOG.md
  packages/workspace-tools/package.json
Due: validate, check, readme, format, build

Notes added by 'git notes add'
  88/88404b4e32dcfa73978fe8f7022e8be12619a4
Due: none

chore(create-storm-workspace): create-storm-workspace-v1.44.0 [skip ci]
  packages/create-storm-workspace/CHANGELOG.md
  packages/create-storm-workspace/package.json
Due: validate, check, readme, format, build

Notes added by 'git notes add'
  e7/35c37e05bf27db294ea5c4ba3869a4e3b23b74
Due: none

chore(linting-tools): linting-tools-v1.27.0 [skip ci]
  packages/linting-tools/CHANGELOG.md
  packages/linting-tools/package.json
Due: validate, check, readme, format, build

Notes added by 'git notes add'
  6d/650bca5ef0d88be8ebad7861e70197497e439c
Due: none

chore(git-tools): git-tools-v1.25.0 [skip ci]
  packages/git-tools/CHANGELOG.md
  packages/git-tools/package.json
Due: validate, check, readme, format, build

Notes added by 'git notes add'
  70/a912367cda29e050815231c92c573157c988e8
Due: none

chore(design-tools): design-tools-v1.7.0 [skip ci]
  packages/design-tools/CHANGELOG.md
  packages/design-tools/package.json
Due: validate, check, readme, format, build

Notes added by 'git notes add'
  cf/0733b1ac77dd50b92e7a3af4d237c70b0db07c
Due: none

chore(testing-tools): testing-tools-v1.23.0 [skip ci]
  packages/testing-tools/CHANGELOG.md
  packages/testing-tools/package.json
Due: validate, check, readme, format, build

Notes added by 'git notes add'
  5a/9dfe788e7a6876eda4d2b899418b3061e4fc67
Due: none

feat(workspace-tools): Added the `clean` option to the typia executor
  packages/workspace-tools/src/executors/tsup/executor.ts
  packages/workspace-tools/src/executors/typia/executor.ts
  packages/workspace-tools/src/executors/typia/schema.d.ts
  packages/workspace-tools/src/executors/typia/schema.json
Due: validate, check, build

chore(workspace-tools): workspace-tools-v1.45.0 [skip ci]
  packages/workspace-tools/CHANGELOG.md
  packages/workspace-tools/package.json
Due: validate, check, readme, format, build

Notes added by 'git notes add'
  c1/6f956a5834d0283e95b5272a11a42001208e2f
Due: none

chore(create-storm-workspace): create-storm-workspace-v1.45.0 [skip ci]
  packages/create-storm-workspace/CHANGELOG.md
  packages/create-storm-workspace/package.json
Due: validate, check, readme, format, build

Notes added by 'git notes add'
  1c/9adcdc9811d4e83e86172a7d2095dba0ce8ddf
Due: none

fix(workspace-tools): Removed the `skipTypia` option from tsup build
  packages/workspace-tools/src/executors/tsup/executor.ts
  packages/workspace-tools/src/executors/tsup/schema.d.ts
  packages/workspace-tools/src/executors/tsup/schema.json
Due: validate, check, build

chore(create-storm-workspace): create-storm-workspace-v1.45.1 [skip ci]
  packages/create-storm-workspace/CHANGELOG.md
  packages/create-storm-workspace/package.json
Due: validate, check, readme, format, build

Notes added by 'git notes add'
  aa/1594eb69a42d288861587b985f75421ecc6d2c
Due: none

chore(workspace-tools): workspace-tools-v1.45.1 [skip ci]
  packages/workspace-tools/CHANGELOG.md
  packages/workspace-tools/package.json
Due: validate, check, readme, format, build

Notes added by 'git notes add'
  c4/b96a930fb1e84614bea476cf283bea289ef6fc
Due: none

fix(config-tools): Resolved empty config file loading error
  packages/config-tools/src/config-file/get-config-file.ts
  packages/config-tools/src/create-storm-config.ts
  packages/config-tools/src/utilities/logger.ts
Due: validate, check, build

chore(config-tools): config-tools-v1.16.1 [skip ci]
  packages/config-tools/CHANGELOG.md
  packages/config-tools/package.json
Due: validate, check, readme, format, build

Notes added by 'git notes add'
  e4/919e5b283aa21204f49a8d28f11b562dfb1a82
Due: none

chore(workspace-tools): workspace-tools-v1.45.2 [skip ci]
  packages/workspace-tools/CHANGELOG.md
  packages/workspace-tools/package.json
Due: validate, check, readme, format, build

Notes added by 'git notes add'
  97/8b4500e54d0c513539a8b4ff8d0723ca18927d
Due: none

chore(create-storm-workspace): create-storm-workspace-v1.45.2 [skip ci]
  packages/create-storm-workspace/CHANGELOG.md
  packages/create-storm-workspace/package.json
Due: validate, check, readme, format, build

Notes added by 'git notes add'
  fd/24d542d103cf5452723d7b95f5c8cf726c8b06
Due: none

chore(linting-tools): linting-tools-v1.27.1 [skip ci]
  packages/linting-tools/CHANGELOG.md
  packages/linting-tools/package.json
Due: validate, check, readme, format, build

Notes added by 'git notes add'
  37/a288ec8de98f57a309888f1a3d87a3e4251e51
Due: none

chore(git-tools): git-tools-v1.25.1 [skip ci]
  packages/git-tools/CHANGELOG.md
  packages/git-tools/package.json
Due: validate, check, readme, format, build

Notes added by 'git notes add'
  28/115910400d714737569c1137483f3f580372ad
Due: none

fix(git-tools): Updated executable scripts to use correct directory
  .env
  packages/git-tools/bin/cli.mjs
  packages/git-tools/package.json
  packages/git-tools/scripts/package-version-warning.mjs
  packages/git-tools/src/cli/index.ts
  packages/git-tools/src/release/nx-release.ts
  packages/linting-tools/bin/cli.mjs
  pnpm-lock.yaml
Due: validate, check, readme, format, build

fix(git-tools): Fixed issue with pre-mature checked in files
  packages/git-tools/src/cli/index.ts
Due: validate, check, build
