Repository storm-software/storm-ops: changes, and which lefthook commands are due for each by the changed paths.
All: prebuild, validate, format, postbuild

lefthook.yml:

#
#   Refer for explanation to following link:
#   https://github.com/evilmartians/lefthook/blob/master/docs/configuration.md
#

assert_lefthook_installed: true
colors: true
no_tty: false
min_version: 1.5.0

pre-install:
  commands:
    validate:
      glob: "**/*.*"
      run: "node ./dist/packages/git-tools/bin/pre-install.js"

prepare:
  commands:
    validate:
      glob: "**/*.*"
      run: "node ./dist/packages/git-tools/bin/prepare.js"

pre-commit:
  piped: true
  commands:
    prepare:
      files: "git diff --name-only HEAD @{push}"
      glob: "**/{lefthook.yml,biome.json}"
      run: "pnpm lefthook install"
    prebuild:
      glob: "**/*.*"
      run: "pnpm build"
      stage_fixed: true
    validate:
      glob: "**/*.*"
      run: "node ./dist/packages/git-tools/bin/pre-commit.js {staged_files}"
      stage_fixed: true
    lint:
      files: "git diff --name-only HEAD @{push}"
      glob: "**/*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: "pnpm lint && git update-index"
    check:
      files: "git diff --name-only HEAD @{push}"
      glob: "**/*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: "pnpm biome:check {staged_files} && git update-index"
    readme:
      files: "git diff --name-only HEAD @{push}"
      glob: "**/{README.md,package.json}"
      run: "node ./dist/packages/git-tools/bin/git.js readme-gen --templates=\"dist/packages/git-tools/readme/templates\" && git update-index"
    format:
      glob: "**/{README.md,package.json}"
      run: "pnpm biome:format {staged_files} && git update-index"
    postbuild:
      glob: "**/*.*"
      run: "pnpm build"
      stage_fixed: true

commit-msg:
  commands:
    validate:
      run: "npx commitlint --config dist/packages/git-tools/commitlint.config.cjs --edit {1}"

pre-push:
  piped: true
  commands:
    validate:
      files: "git diff --name-only HEAD @{push}"
      glob: "**/*.*"
      run: "node ./dist/packages/git-tools/hooks/pre-push.js {files} && git update-index"
    lint:
      files: "git diff --name-only HEAD @{push}"
      glob: "**/*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: "pnpm biome:lint {files} && git update-index"

post-merge:
  commands:
    validate:
      glob: "**/*.*"
      run: "node ./dist/packages/git-tools/bin/post-merge.js {staged_files}"
      stage_fixed: true

post-checkout:
  commands:
    validate:
      glob: "**/*.*"
      run: "node ./dist/packages/git-tools/bin/post-checkout.js {staged_files}"

post-commit:
  commands:
    validate:
      glob: "**/*.*"
      run: "node ./dist/packages/git-tools/bin/post-commit.js {staged_files}"

Notes added by 'git notes add'
  fc/6eb6ea11b4a1d26033e3735c3922068d800e9d
Due: none

chore(testing-tools): testing-tools-v1.24.0 [skip ci]
  packages/testing-tools/CHANGELOG.md
  packages/testing-tools/package.json
Due: prebuild, validate, format, postbuild

Notes added by 'git notes add'
  f6/6aa94825109ea547f8102d5743c6958ea4016b
Due: none

chore(config-tools): config-tools-v1.17.0 [skip ci]
  packages/config-tools/CHANGELOG.md
  packages/config-tools/package.json
Due: prebuild, validate, format, postbuild

Notes added by 'git notes add'
  81/663cc766d4d8413ba8f807603ec1afd9bcf37e
Due: none

chore(design-tools): design-tools-v1.8.0 [skip ci]
  packages/design-tools/CHANGELOG.md
  packages/design-tools/package.json
Due: prebuild, validate, format, postbuild

Notes added by 'git notes add'
  04/37e1405751bc193db7256a1d7e7f29310446f4
Due: none

chore(config-tools): config-tools-v1.17.1 [skip ci]
  packages/config-tools/CHANGELOG.md
  packages/config-tools/package.json
Due: prebuild, validate, format, postbuild

Notes added by 'git notes add'
  46/94d09f9ba2445f052b96f9d24eb61f2b0fad3b
Due: none

chore(workspace-tools): workspace-tools-v1.46.1 [skip ci]
  packages/workspace-tools/CHANGELOG.md
  packages/workspace-tools/package.json
Due: prebuild, validate, format, postbuild

Notes added by 'git notes add'
  86/afee241d94f8a833dad5ddf138409466796034
Due: none

feat(config-tools): Added the `getConfigFileByName` function export
  packages/config-tools/declarations.d.ts
  packages/config-tools/src/config-file/get-config-file.ts
  packages/config-tools/src/create-storm-config.ts
Due: prebuild, validate, postbuild

chore(create-storm-workspace): create-storm-workspace-v1.46.1 [skip ci]
  packages/create-storm-workspace/CHANGELOG.md
  packages/create-storm-workspace/package.json
Due: prebuild, validate, format, postbuild

Notes added by 'git notes add'
  07/4de3d4a13d7db1a7f6cdc12c895643c1f1748f
Due: none

chore(linting-tools): linting-tools-v1.28.1 [skip ci]
  packages/linting-tools/CHANGELOG.md
  packages/linting-tools/package.json
Due: prebuild, validate, format, postbuild

Notes added by 'git notes add'
  f2/bc9c228ec382a78f1c5af5f1b0d547aec98453
Due: none

chore(git-tools): git-tools-v1.26.2 [skip ci]
  packages/git-tools/CHANGELOG.md
  packages/git-tools/package.json
Due: prebuild, validate, format, postbuild

Notes added by 'git notes add'
  09/a2f49ffd8b44ca0e86a02848a1ea1a916c8a33
Due: none

chore(config-tools): config-tools-v1.18.0 [skip ci]
  packages/config-tools/CHANGELOG.md
  packages/config-tools/package.json
Due: prebuild, validate, format, postbuild

Notes added by 'git notes add'
  aa/2aeeeabbb6771e110559ba3f94fa64017c6225
Due: none

chore(workspace-tools): workspace-tools-v1.47.0 [skip ci]
  packages/workspace-tools/CHANGELOG.md
  packages/workspace-tools/package.json
Due: prebuild, validate, format, postbuild

Notes added by 'git notes add'
  a5/8ca59d31be891843b73977b79a5967e7b9aef1
Due: none

chore(create-storm-workspace): create-storm-workspace-v1.47.0 [skip ci]
  packages/create-storm-workspace/CHANGELOG.md
  packages/create-storm-workspace/package.json
Due: prebuild, validate, format, postbuild

Notes added by 'git notes add'
  24/f8100ae55b523f19c4ff889a291eba780c01ac
Due: none

chore(linting-tools): linting-tools-v1.29.0 [skip ci]
  packages/linting-tools/CHANGELOG.md
  packages/linting-tools/package.json
Due: prebuild, validate, format, postbuild

Notes added by 'git notes add'
  f1/8cc9aadd053e3fbc32be0db606b214ad131478
Due: none

chore(git-tools): git-tools-v1.27.0 [skip ci]
  packages/git-tools/CHANGELOG.md
  packages/git-tools/package.json
Due: prebuild, validate, format, postbuild

Notes added by 'git notes add'
  82/3b9de521b6a64d9dcc0eb7730d8d32a2ef12a4
Due: none

feat(workspace-tools): Added the `skipNativeModulesPlugin` option to tsup build
  README.md
  packages/config-tools/src/utilities/logger.ts
  packages/git-tools/src/readme/templates/README.header.md
  packages/workspace-tools/src/base/get-tsup-config.ts
  packages/workspace-tools/src/executors/tsup-browser/get-config.ts
  packages/workspace-tools/src/executors/tsup-neutral/get-config.ts
  packages/workspace-tools/src/executors/tsup-node/get-config.ts
  packages/workspace-tools/src/executors/tsup/executor.ts
  packages/workspace-tools/src/executors/tsup/schema.d.ts
  packages/workspace-tools/src/executors/tsup/schema.json
  patches/tsup@8.0.0.patch
  pnpm-lock.yaml
Due: prebuild, validate, postbuild

chore(config-tools): config-tools-v1.19.0 [skip ci]
  packages/config-tools/CHANGELOG.md
  packages/config-tools/package.json
Due: prebuild, validate, format, postbuild

Notes added by 'git notes add'
  37/6e74cd58d426eca29f78869bd64eddebaaaa0a
Due: none

chore(workspace-tools): workspace-tools-v1.48.0 [skip ci]
  packages/workspace-tools/CHANGELOG.md
  packages/workspace-tools/package.json
Due: prebuild, validate, format, postbuild

Notes added by 'git notes add'
  57/449442794d65fe4f08da10488d9630c8a558d2
Due: none

chore(create-storm-workspace): create-storm-workspace-v1.48.0 [skip ci]
  packages/create-storm-workspace/CHANGELOG.md
  packages/create-storm-workspace/package.json
Due: prebuild, validate, format, postbuild

Notes added by 'git notes add'
  53/04497a024b7946b23ed69c4eda4240670644a6
Due: none

chore(linting-tools): linting-tools-v1.30.0 [skip ci]
  packages/linting-tools/CHANGELOG.md
  packages/linting-tools/package.json
Due: prebuild, validate, format, postbuild

Notes added by 'git notes add'
  de/e5219a5f593823ba2682b0a60ca077315af9a2
Due: none

chore(git-tools): git-tools-v1.28.0 [skip ci]
  packages/git-tools/CHANGELOG.md
  packages/git-tools/package.json
Due: prebuild, validate, format, postbuild

Notes added by 'git notes add'
  db/d3eb5892d6f62dde9d7c4c11bc652d0f6bd5e1
Due: none

chore(testing-tools): testing-tools-v1.25.0 [skip ci]
  packages/testing-tools/CHANGELOG.md
  packages/testing-tools/package.json
Due: prebuild, validate, format, postbuild
