Repository storm-software/storm-ops: changes, and which lefthook commands are due for each by the changed paths.
All: prepare, schema-gen, readme

prepare:
  run: pnpm lefthook install
  stage_fixed: true

schema-gen:
  run: pnpm nx generate @storm-software/workspace-tools:config-schema --outputFile="./packages/config/schemas/storm.schema.json"
  stage_fixed: true

readme:
  run: pnpm format-readme
  stage_fixed: true

chore(release): Publish monorepo release updates
  packages/build-tools/CHANGELOG.md
  packages/build-tools/package.json
  packages/config-tools/CHANGELOG.md
  packages/config-tools/package.json
  packages/eslint-plugin-graphql/package.json
  packages/eslint-plugin-react/package.json
  packages/eslint/CHANGELOG.md
  packages/eslint/package.json
  packages/workspace-tools/CHANGELOG.md
  packages/workspace-tools/package.json
  terraform-modules/CHANGELOG.md
  terraform-modules/package.json
Due: readme

fix(eslint): Ensure prettier and eslint `indent` configurations align
  packages/build-tools/README.md
  packages/config-tools/CHANGELOG.md
  packages/config-tools/README.md
  packages/eslint/README.md
  packages/eslint/src/rules/storm.ts
  packages/workspace-tools/README.md
  terraform-modules/README.md
Due: readme

feat(build-tools): Update unbuild optional parameters
  .github/workflows/ci-reusable.yml
  .github/workflows/ci.yml
  lefthook.yml
  package.json
  packages/build-tools/CHANGELOG.md
  packages/build-tools/README.md
  packages/build-tools/src/config/get-unbuild-config.ts
  packages/cloudflare-tools/package.json
  packages/config-tools/CHANGELOG.md
  packages/config-tools/README.md
  packages/config-tools/package.json
  packages/eslint/README.md
  packages/workspace-tools/CHANGELOG.md
  packages/workspace-tools/README.md
  packages/workspace-tools/package.json
  pnpm-lock.yaml
  terraform-modules/README.md
Due: readme

fix(eslint): Make the ESLint rules more lenient
  package.json
  packages/build-tools/README.md
  packages/config-tools/README.md
  packages/eslint/README.md
  packages/eslint/src/rules/storm.ts
  packages/workspace-tools/README.md
  terraform-modules/README.md
Due: readme

feat(build-tools): Added `main`, `module`, and `types` fields to package.json file
  packages/build-tools/src/build/unbuild.ts
Due: none

fix(build-tools): Resolve issue with redundant build configurations
  packages/build-tools/src/config/get-unbuild-config.ts
  packages/tsconfig/src/base.json
Due: none

fix(build-tools): Resolved issue with missing dependency
  packages/build-tools/package.json
  pnpm-lock.yaml
Due: readme

chore(release): Publish monorepo release updates
  packages/build-tools/CHANGELOG.md
  packages/build-tools/package.json
  packages/cloudflare-tools/CHANGELOG.md
  packages/cloudflare-tools/package.json
  packages/config-tools/CHANGELOG.md
  packages/config-tools/package.json
  packages/eslint-plugin-graphql/package.json
  packages/eslint-plugin-react/package.json
  packages/eslint/CHANGELOG.md
  packages/eslint/package.json
  packages/tsconfig/CHANGELOG.md
  packages/tsconfig/package.json
  packages/workspace-tools/CHANGELOG.md
  packages/workspace-tools/package.json
  terraform-modules/CHANGELOG.md
  terraform-modules/package.json
Due: readme

feat(build-tools): Add a default export to the package.json generated during build
  packages/build-tools/src/build/unbuild.ts
Due: none

chore(release): Publish monorepo release updates
  packages/build-tools/CHANGELOG.md
  packages/build-tools/package.json
Due: readme

feat(build-tools): Add logic to ensure we do not overwrite exports
  packages/build-tools/src/build/unbuild.ts
Due: none

fix(storm-ops): Resolve issue with pnpm version mismatches
  .github/workflows/codeql.yml
  .github/workflows/lint-commit.yaml
  packages/workspace-tools/src/generators/preset/generator.ts
Due: none

chore(release): Publish monorepo release updates
  packages/workspace-tools/CHANGELOG.md
  packages/workspace-tools/package.json
Due: readme

feat(eslint): Added NextJs linter plugin
  packages/eslint/src/preset.ts
  packages/linting-tools/project.json
  packages/linting-tools/src/biome/config.json
  packages/linting-tools/src/ls-lint/config.yml
  packages/linting-tools/src/taplo/config.toml
  pnpm-lock.yaml
Due: none

chore(release): Publish monorepo release updates
  packages/eslint-plugin-graphql/package.json
  packages/eslint-plugin-react/package.json
  packages/eslint/CHANGELOG.md
  packages/eslint/package.json
  packages/linting-tools/CHANGELOG.md
  packages/linting-tools/package.json
Due: readme

feat(git-tools): Renamed all shared configuration files to `config.*` for consistency
  packages/eslint/package.json
  packages/git-tools/package.json
  packages/git-tools/src/commitlint/config.cjs
  packages/git-tools/src/lefthook/config.yml
  packages/git-tools/tools/build.js
Due: readme

chore(release): Publish monorepo release updates
  packages/eslint-plugin-graphql/package.json
  packages/eslint-plugin-react/package.json
  packages/eslint/CHANGELOG.md
  packages/eslint/package.json
  packages/git-tools/CHANGELOG.md
  packages/git-tools/package.json
Due: readme

feat(eslint): Update banner rule to allow shebang file headers
  packages/eslint/src/utils/banner-plugin.ts
Due: none

chore(release): Publish monorepo release updates
  packages/eslint-plugin-graphql/package.json
  packages/eslint-plugin-react/package.json
  packages/eslint/CHANGELOG.md
  packages/eslint/package.json
Due: readme

feat(terraform-tools): Added new inputs and outputs to Cloudflare R2 Bucket module
  terraform-modules/cloudflare/r2-bucket/output.tf
  terraform-modules/cloudflare/r2-bucket/provider.tf
  terraform-modules/cloudflare/r2-bucket/r2-bucket.tf
  terraform-modules/cloudflare/r2-bucket/variables.tf
Due: none

chore(release): Publish monorepo release updates
  terraform-modules/CHANGELOG.md
  terraform-modules/package.json
Due: readme

fix(linting-tools): Updated the paths provided to the circular dependency linter
  packages/linting-tools/src/cli/index.ts
Due: none

chore(release): Publish monorepo release updates
  packages/linting-tools/CHANGELOG.md
  packages/linting-tools/package.json
Due: readme

ci(storm-ops): Update the input parameters provided to the Setup action
  .github/workflows/ci.yml
Due: none

feat(config): Added the `alternate` brand color token
  packages/config-tools/src/env/get-env.ts
  packages/config-tools/src/env/set-env.ts
  packages/config-tools/src/utilities/get-default-config.ts
  packages/config/presets/base.json
  packages/config/src/schema.ts
Due: schema-gen

chore(release): Publish monorepo release updates
  packages/config-tools/CHANGELOG.md
  packages/config-tools/package.json
  packages/config/CHANGELOG.md
  packages/config/package.json
Due: readme

fix(storm-ops): Resolve issues with workflow actions
  .github/workflows/ci-reusable.yml
  .github/workflows/codeql.yml
  .github/workflows/lint-commit.yaml
  packages/build-tools/README.md
  packages/config-tools/README.md
  packages/config/README.md
  packages/config/schemas/storm.schema.json
  packages/terraform-tools/README.md
  packages/testing-tools/README.md
  packages/workspace-tools/README.md
Due: readme

chore(release): Publish monorepo release updates
  packages/build-tools/CHANGELOG.md
  packages/build-tools/package.json
  packages/config-tools/CHANGELOG.md
  packages/config-tools/package.json
  packages/config/CHANGELOG.md
  packages/config/package.json
  packages/terraform-tools/CHANGELOG.md
  packages/terraform-tools/package.json
  packages/testing-tools/CHANGELOG.md
  packages/testing-tools/package.json
  packages/workspace-tools/CHANGELOG.md
  packages/workspace-tools/package.json
Due: readme

fix(eslint): Resolve issue with invalid react file configurations
  packages/build-tools/README.md
  packages/config-tools/README.md
  packages/config/README.md
  packages/eslint/README.md
  packages/eslint/src/preset.ts
  packages/git-tools/README.md
  packages/linting-tools/README.md
  packages/terraform-tools/README.md
  packages/testing-tools/README.md
  packages/workspace-tools/README.md
  terraform-modules/README.md
Due: readme

fix(eslint): Resolve issue with invalid recommended eslint configuration
  packages/eslint/src/preset.ts
Due: none

chore(release): Publish monorepo release updates
  packages/build-tools/CHANGELOG.md
  packages/build-tools/package.json
  packages/config-tools/CHANGELOG.md
  packages/config-tools/package.json
  packages/config/CHANGELOG.md
  packages/config/package.json
  packages/eslint-plugin-graphql/package.json
  packages/eslint-plugin-react/package.json
  packages/eslint/CHANGELOG.md
  packages/eslint/package.json
  packages/git-tools/CHANGELOG.md
  packages/git-tools/package.json
  packages/linting-tools/CHANGELOG.md
  packages/linting-tools/package.json
  packages/terraform-tools/CHANGELOG.md
  packages/terraform-tools/package.json
  packages/testing-tools/CHANGELOG.md
  packages/testing-tools/package.json
  packages/workspace-tools/CHANGELOG.md
  packages/workspace-tools/package.json
  terraform-modules/CHANGELOG.md
  terraform-modules/package.json
Due: readme

feat(eslint): Include the updated typings for the preset's rules
  packages/build-tools/README.md
  packages/config-tools/README.md
  packages/config/README.md
  packages/eslint/src/rules.d.ts
  packages/terraform-tools/README.md
  packages/testing-tools/README.md
  packages/workspace-tools/README.md
Due: readme

feat(eslint): Added additional paths to ignore list
  packages/eslint/src/preset.ts
Due: none

chore(release): Publish monorepo release updates
  packages/build-tools/CHANGELOG.md
  packages/build-tools/package.json
  packages/config-tools/CHANGELOG.md
  packages/config-tools/package.json
  packages/config/CHANGELOG.md
  packages/config/package.json
  packages/eslint-plugin-graphql/package.json
  packages/eslint-plugin-react/package.json
  packages/eslint/CHANGELOG.md
  packages/eslint/package.json
  packages/terraform-tools/CHANGELOG.md
  packages/terraform-tools/package.json
  packages/testing-tools/CHANGELOG.md
  packages/testing-tools/package.json
  packages/workspace-tools/CHANGELOG.md
  packages/workspace-tools/package.json
Due: readme

fix(eslint): Resolve invalid import path issue
  packages/build-tools/README.md
  packages/config-tools/README.md
  packages/config/README.md
  packages/eslint/README.md
  packages/eslint/src/preset.ts
  packages/git-tools/README.md
  packages/linting-tools/README.md
  packages/terraform-tools/README.md
  packages/testing-tools/README.md
  packages/workspace-tools/README.md
  terraform-modules/README.md
Due: readme

feat(eslint): Include updated linting types
  packages/build-tools/README.md
  packages/config-tools/README.md
  packages/config/README.md
  packages/eslint/README.md
  packages/eslint/src/rules.d.ts
  packages/terraform-tools/README.md
  packages/testing-tools/README.md
  packages/workspace-tools/README.md
  terraform-modules/README.md
Due: readme

chore(release): Publish monorepo release updates
  packages/build-tools/CHANGELOG.md
  packages/build-tools/package.json
  packages/config-tools/CHANGELOG.md
  packages/config-tools/package.json
  packages/config/CHANGELOG.md
  packages/config/package.json
  packages/eslint-plugin-graphql/package.json
  packages/eslint-plugin-react/package.json
  packages/eslint/CHANGELOG.md
  packages/eslint/package.json
  packages/terraform-tools/CHANGELOG.md
  packages/terraform-tools/package.json
  packages/testing-tools/CHANGELOG.md
  packages/testing-tools/package.json
  packages/workspace-tools/CHANGELOG.md
  packages/workspace-tools/package.json
  terraform-modules/CHANGELOG.md
  terraform-modules/package.json
Due: readme

Path conditions:
  prepare: any of: **/{lefthook.yml,biome.json}
  schema-gen: any of: packages/config/src/schema.ts
  readme: any of: **/{README.md,README.*.md,readme/**/*,package.json,executors.json,generators.json}
