Repository storm-software/storm-ops: changes, and which lefthook commands are due for each by the changed paths.
All: prebuild, validate, format, postbuild

prebuild:
  run: pnpm build
  stage_fixed: true

validate:
  run: node ./dist/packages/git-tools/bin/pre-commit.js {staged_files}
  stage_fixed: true

format:
  run: pnpm biome:format {staged_files} && git update-index

postbuild:
  run: pnpm build
  stage_fixed: true

Notes added by 'git notes add'
  50/887df24329ad7ab8023cf2f14e5b23a7228aca
Due: none

chore(design-tools): design-tools-v1.9.0 [skip ci]
  packages/design-tools/CHANGELOG.md
  packages/design-tools/package.json
Due: prebuild, validate, format, postbuild

Notes added by 'git notes add'
  a4/0932ba3e314d1ca00fbcd21ac99f9b58d60783
Due: none

feat(git-tools): Update release process to use built-in Nx functionality
  nx.json
  packages/git-tools/project.json
  packages/git-tools/src/cli/index.ts
  packages/git-tools/src/commit/config.ts
  packages/git-tools/src/commit/index.ts
  packages/git-tools/src/release/config.ts
  packages/git-tools/src/release/index.ts
  packages/git-tools/src/release/nx-release.ts
  packages/git-tools/src/release/plugins.ts
  packages/git-tools/src/release/tokens.ts
  packages/git-tools/src/semantic-release-plugin/analyze-commit.ts
  packages/git-tools/src/semantic-release-plugin/analyze-commits.ts
  packages/git-tools/src/semantic-release-plugin/compare-release-types.ts
  packages/git-tools/src/semantic-release-plugin/get-commits-for-project.ts
  packages/git-tools/src/semantic-release-plugin/index.ts
  packages/git-tools/src/semantic-release-plugin/utils.ts
  packages/workspace-tools/config/nx.json
  packages/workspace-tools/src/generators/preset/files/biome.json
Due: prebuild, validate, postbuild

fix(git-tools): Clean up of various unused dependencies
  package.json
  packages/config-tools/README.md
  packages/create-storm-workspace/README.md
  packages/git-tools/README.md
  packages/git-tools/src/commitizen/commit-prompt.ts
  packages/git-tools/src/commitizen/commit-questions.ts
  packages/git-tools/src/commitizen/commit-state.ts
  packages/git-tools/src/commitizen/config.ts
  packages/git-tools/src/commitizen/format-commit-message.ts
  packages/git-tools/src/release/nx-release.ts
  packages/linting-tools/README.md
  packages/testing-tools/README.md
  packages/workspace-tools/README.md
  patches/semantic-release-plugin-decorators@3.0.1.patch
  patches/semantic-release@22.0.7.patch
  pnpm-lock.yaml
Due: prebuild, validate, format, postbuild

fix(storm-ops): Removed unused option in release script
  package.json
Due: none

fix(git-tools): Add git format specification
  nx.json
  packages/git-tools/src/release/nx-release.ts
Due: prebuild, validate, postbuild

fix(git-tools): Changing format of the generated git tag
  packages/git-tools/src/release/nx-release.ts
Due: prebuild, validate, postbuild

fix(git-tools): Apply tag format through command line args
  packages/git-tools/src/release/nx-release.ts
Due: prebuild, validate, postbuild

fix(git-tools): Added missing git tags
  packages/git-tools/src/release/nx-release.ts
Due: prebuild, validate, postbuild

fix(workspace-tools): Push Nx config changes to default file
  packages/workspace-tools/config/nx.json
Due: prebuild, validate, postbuild

fix(git-tools): Update the order of commits
  packages/git-tools/src/release/nx-release.ts
Due: prebuild, validate, postbuild

fix(git-tools): Modified release to not commit on version processing
  packages/git-tools/src/release/nx-release.ts
Due: prebuild, validate, postbuild

fix(workspace-tools): Added logging to the release process
  packages/git-tools/src/release/nx-release.ts
Due: prebuild, validate, postbuild

fix(git-tools): Remove the git extension from the repository URL
  packages/config-tools/package.json
  packages/create-storm-workspace/package.json
  packages/design-tools/package.json
  packages/git-tools/package.json
  packages/linting-tools/package.json
  packages/testing-tools/package.json
  packages/workspace-tools/package.json
Due: prebuild, validate, format, postbuild

fix(git-tools): Update release logging level
  packages/git-tools/src/release/nx-release.ts
Due: prebuild, validate, postbuild

fix(git-tools): Added a storm config to the repository
  storm.config.js
Due: none

fix(git-tools): Update the remote name to point to origin
  .vscode/settings.json
  packages/git-tools/src/release/nx-release.ts
Due: prebuild, validate, postbuild

fix(storm-ops): Update workspace to no longer check unused Nx config params
  nx.json
Due: none

fix(git-tools): Update tag to be false in release config
  packages/git-tools/src/release/nx-release.ts
Due: prebuild, validate, postbuild

fix(git-tools): Resolved issue with modules imports
  packages/git-tools/src/release/nx-release.ts
Due: prebuild, validate, postbuild

fix(git-tools): Update release to use Nx config relationship settings
  packages/git-tools/src/release/nx-release.ts
Due: prebuild, validate, postbuild

fix(git-tools): Remove tag from commit options
  nx.json
Due: none

chore(monorepo): Release$[skip ci]
  CHANGELOG.md
  package.json
  packages/config-tools/CHANGELOG.md
  packages/config-tools/package.json
  packages/create-storm-workspace/CHANGELOG.md
  packages/create-storm-workspace/package.json
  packages/design-tools/CHANGELOG.md
  packages/design-tools/package.json
  packages/git-tools/CHANGELOG.md
  packages/git-tools/package.json
  packages/linting-tools/CHANGELOG.md
  packages/linting-tools/package.json
  packages/testing-tools/CHANGELOG.md
  packages/testing-tools/package.json
  packages/workspace-tools/CHANGELOG.md
  packages/workspace-tools/package.json
Due: prebuild, validate, format, postbuild

fix(design-tools): Added publish config to the package.json
  .env
  packages/design-tools/package.json
Due: prebuild, validate, format, postbuild

fix(design-tools): Mark package as private temporarily
  packages/design-tools/package.json
Due: prebuild, validate, format, postbuild

fix(git-tools): Resolve issues with commit message formatting
  packages/config-tools/README.md
  packages/create-storm-workspace/README.md
  packages/git-tools/README.md
  packages/git-tools/package.json
  packages/git-tools/src/release/nx-release.ts
  packages/linting-tools/README.md
  packages/testing-tools/README.md
  packages/workspace-tools/README.md
Due: prebuild, validate, format, postbuild

fix(workspace-tools): Added default `nx-release-publish` executor config to Nx json
  nx.json
  packages/workspace-tools/config/nx.json
Due: prebuild, validate, postbuild

fix(git-tools): Update monorepo project.json to use different packageRoot
  project.json
Due: none

feat(git-tools): Added custom storm `ChangelogRenderer` for releases
  nx.json
  packages/git-tools/package.json
  packages/git-tools/project.json
  packages/git-tools/src/release/changelog-renderer.ts
  packages/git-tools/src/release/index.ts
  packages/workspace-tools/config/nx.json
  pnpm-lock.yaml
Due: prebuild, validate, format, postbuild

fix(git-tools): Update path to changelog renderer
  packages/config-tools/README.md
  packages/create-storm-workspace/README.md
  packages/git-tools/README.md
  packages/git-tools/src/release/changelog-renderer.ts
  packages/linting-tools/README.md
  packages/testing-tools/README.md
  packages/workspace-tools/README.md
Due: prebuild, validate, format, postbuild

fix(git-tools): Added missing files from previous commit
  nx.json
Due: none

fix(git-tools): Added separate changelog-renderer CommonJs build
  nx.json
  packages/git-tools/project.json
  packages/git-tools/src/changelog-renderer/changelog-renderer.ts
  packages/git-tools/src/changelog-renderer/index.ts
  packages/git-tools/src/release/index.ts
  packages/workspace-tools/config/nx.json
Due: prebuild, validate, postbuild

fix(git-tools): Remove changelog-renderer from storm-ops config
  nx.json
Due: none

fix(workspace-tools): Added custom `releaseTagPattern` to default Nx configuration
  packages/workspace-tools/config/nx.json
Due: prebuild, validate, postbuild

fix(workspace-tools): Temporary removal of the custom changelog renderer
  packages/workspace-tools/config/nx.json
Due: prebuild, validate, postbuild

fix(workspace-tools): Removed `tag` from the Nx config file
  packages/workspace-tools/config/nx.json
Due: prebuild, validate, postbuild

fix(linting-tools): Update types on base tsconfig file
  packages/linting-tools/src/tsconfig/tsconfig.root.json
Due: prebuild, validate, postbuild

Path conditions:
  prebuild: any of: **/*.*
  validate: any of: **/*.*
  format: any of: **/{README.md,package.json}
  postbuild: any of: **/*.*
