Repository storm-software/storm-ops: changes, and which lefthook commands are due for each by the changed paths.
All: prepare, schema-gen, readme

prepare:
  run: pnpm lefthook install
  stage_fixed: true

schema-gen:
  run: pnpm nx generate @storm-software/workspace-tools:config-schema --outputFile="./packages/config/schemas/storm.schema.json"
  stage_fixed: true

readme:
  run: pnpm format-readme
  stage_fixed: true

chore(release): Publish monorepo release updates
  packages/workspace-tools/CHANGELOG.md
  packages/workspace-tools/package.json
Due: readme

feat(storm-ops): Added pnpm `catalog` dependency specification to the monorepo
  .npmrc
  lefthook.yml
  nx.json
  package.json
  packages/eslint/package.json
  packages/eslint/src/preset.ts
  packages/linting-tools/src/syncpack/config.json
  packages/prettier/package.json
  packages/tsconfig/src/base.json
  packages/workspace-tools/config/nx-cloud.json
  packages/workspace-tools/config/nx-default.json
  packages/workspace-tools/config/nx.json
  packages/workspace-tools/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: readme

feat(esbuild): Added new plugins and build options
  packages/esbuild/src/build.ts
  packages/esbuild/src/config.ts
  packages/esbuild/src/plugins/native-node-module.ts
  packages/esbuild/src/plugins/node-protocol.ts
  packages/esbuild/src/types.ts
Due: none

chore(storm-ops): Ran `syncpack` on the monorepo
  packages/esbuild/package.json
  packages/eslint-config/package.json
  packages/eslint-plugin-graphql/package.json
  packages/eslint-plugin-react/package.json
  packages/eslint-plugin/package.json
  packages/unbuild/package.json
  pnpm-lock.yaml
Due: readme

feat(storm-ops): Completed enhancement around `catalog` and `workspace` dependency upgrades
  docs/api-reports/package.json
  lefthook.yml
  package.json
  packages/build-tools/package.json
  packages/cloudflare-tools/package.json
  packages/config-tools/package.json
  packages/config/package.json
  packages/create-storm-workspace/package.json
  packages/esbuild/package.json
  packages/eslint-config/package.json
  packages/eslint-plugin-graphql/package.json
  packages/eslint-plugin-react/package.json
  packages/eslint-plugin/package.json
  packages/eslint/package.json
  packages/git-tools/package.json
  packages/k8s-tools/package.json
  packages/linting-tools/package.json
  packages/linting-tools/src/syncpack/config.js
  packages/linting-tools/src/syncpack/config.json
  packages/markdownlint/package.json
  packages/prettier/package.json
  packages/pulumi-tools/package.json
  packages/terraform-tools/package.json
  packages/testing-tools/package.json
  packages/tsconfig/package.json
  packages/unbuild/package.json
  packages/workspace-tools/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: readme

deps(storm-ops): Added consistent `@types/node` versions across repository
  package.json
  packages/build-tools/package.json
  packages/config-tools/package.json
  packages/config/package.json
  packages/create-storm-workspace/package.json
  packages/esbuild/package.json
  packages/eslint-plugin-graphql/package.json
  packages/eslint-plugin-react/package.json
  packages/eslint-plugin/package.json
  packages/git-tools/package.json
  packages/k8s-tools/package.json
  packages/linting-tools/package.json
  packages/markdownlint/package.json
  packages/prettier/package.json
  packages/pulumi-tools/package.json
  packages/testing-tools/package.json
  packages/tsconfig/package.json
  packages/unbuild/package.json
  packages/workspace-tools/package.json
  pnpm-lock.yaml
  tsconfig.json
Due: readme

feat(esbuild): Updated the `tsc` plugin to handle monorepos correctly
  packages/esbuild/src/build.ts
  packages/esbuild/src/plugins/tsc.ts
  packages/esbuild/src/types.ts
  packages/terraform-tools/package.json
  pnpm-lock.yaml
Due: readme

feat(tools-scripts): Initial check-in for the `tools-scripts` internal project
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  tools/scripts/build.config.ts
  tools/scripts/package.json
  tools/scripts/project.json
  tools/scripts/src/build-plugins.ts
  tools/scripts/tsconfig.json
  tsconfig.base.json
Due: readme

deps(storm-ops): Moved `c12` and `eslint` dependencies into workspace catalog
  package.json
  packages/config-tools/package.json
  packages/eslint-config/package.json
  packages/eslint-plugin-graphql/package.json
  packages/eslint-plugin-react/package.json
  packages/eslint-plugin/package.json
  packages/eslint/package.json
  packages/linting-tools/src/cspell/dictionary.txt
  packages/prettier/tsconfig.json
  packages/tsconfig/tsconfig.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  tsconfig.base.json
Due: readme

feat(workspace-tools): Populate the `platform` project tags in `storm-software/typescript` plugin
  .github/workflows/syncpack-reusable.yml
  .github/workflows/syncpack.yml
  package.json
  packages/cloudflare-tools/package.json
  packages/workspace-tools/config/nx-cloud.json
  packages/workspace-tools/config/nx-default.json
  packages/workspace-tools/config/nx.json
  packages/workspace-tools/package.json
  packages/workspace-tools/project.json
  packages/workspace-tools/src/plugins/typescript/project-config.ts
  pnpm-lock.yaml
Due: readme

fix(workspace-tools): Update plugin to use `pkg-types` package
  packages/workspace-tools/package.json
  packages/workspace-tools/src/plugins/typescript/project-config.ts
  pnpm-lock.yaml
Due: readme

deps(tools-scripts): Add `pkg-types` dependency to monorepo catalog
  package.json
  packages/build-tools/package.json
  packages/workspace-tools/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  tools/scripts/package.json
Due: readme

deps(storm-ops): Upgrade `pnpm` package manager to `v9.15.2`
  .github/workflows/autofix.yml
  .github/workflows/ci-reusable.yml
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/lint-commit.yaml
  lefthook.yml
  package.json
  packages/esbuild/package.json
  packages/unbuild/package.json
  packages/workspace-tools/src/generators/preset/generator.ts
  pnpm-lock.yaml
Due: readme

feat(workspace-tools): Use `pnpm publish` in the `npm-publish` executor
  packages/build-tools/CHANGELOG.md
  packages/build-tools/src/utils/get-file-banner.ts
  packages/config-tools/CHANGELOG.md
  packages/config/CHANGELOG.md
  packages/git-tools/src/commit/index.ts
  packages/git-tools/src/release/nx-release.ts
  packages/git-tools/src/release/release-config.ts
  packages/testing-tools/CHANGELOG.md
  packages/workspace-tools/CHANGELOG.md
  packages/workspace-tools/src/executors/npm-publish/executor.ts
Due: none

chore(storm-ops): Remove the `autofix` workflow action
  .github/workflows/autofix.yml
Due: none

ci(storm-ops): Security fixes for Github actions
  .github/workflows/ci.yml
  .github/workflows/contributors.yml
  .github/workflows/dependabot-update.yml
  .github/workflows/lint-commit.yaml
  .github/workflows/schedule-stale.yml
  .github/workflows/security-reusable.yml
  .github/workflows/security.yml
  .github/workflows/sync-labels.yml
  packages/linting-tools/src/zizmor/config.yml
Due: none

feat(linting-tools): Added `zizmor` exception to configuration file
  packages/linting-tools/src/zizmor/config.yml
Due: none

chore(storm-ops): Regenerate workspace README markdown
  README.md
  crates/storm-config/README.md
  crates/storm-workspace/README.md
  packages/build-tools/README.md
  packages/cloudflare-tools/README.md
  packages/config-tools/README.md
  packages/config/README.md
  packages/create-storm-workspace/README.md
  packages/esbuild/README.md
  packages/eslint-config/README.md
  packages/eslint-plugin/README.md
  packages/eslint/README.md
  packages/git-tools/README.md
  packages/linting-tools/README.md
  packages/markdownlint/README.md
  packages/prettier/README.md
  packages/terraform-tools/README.md
  packages/testing-tools/README.md
  packages/tsconfig/README.md
  packages/unbuild/README.md
  packages/workspace-tools/README.md
  terraform-modules/README.md
Due: readme

fix(storm-ops): Resolved issue with invalid `sherif` script
  package.json
  pnpm-lock.yaml
  terraform-modules/aws/package.json
  terraform-modules/cloudflare/package.json
  tools/scripts/package.json
Due: readme

chore(release): Publish monorepo release updates
  packages/build-tools/CHANGELOG.md
  packages/build-tools/package.json
  packages/config-tools/CHANGELOG.md
  packages/config-tools/package.json
  packages/config/CHANGELOG.md
  packages/config/package.json
  packages/esbuild/package.json
  packages/git-tools/CHANGELOG.md
  packages/git-tools/package.json
  packages/linting-tools/CHANGELOG.md
  packages/linting-tools/package.json
  packages/testing-tools/CHANGELOG.md
  packages/testing-tools/package.json
  packages/unbuild/package.json
  packages/workspace-tools/CHANGELOG.md
  packages/workspace-tools/package.json
Due: readme

fix(workspace-tools): Ensure the correct directory and tag are used in publish
  packages/workspace-tools/src/executors/npm-publish/executor.ts
Due: none

fix(workspace-tools): Ensure we always invoke publish from the correct directory
  packages/workspace-tools/src/executors/npm-publish/executor.ts
  packages/workspace-tools/src/executors/npm-publish/schema.json
Due: none

feat(git-tools): Added detailed `release` process reporting
  packages/git-tools/src/release/nx-release.ts
Due: none

chore(release): Publish monorepo release updates
  packages/git-tools/CHANGELOG.md
  packages/git-tools/package.json
Due: readme

fix(workspace-tools): Resolve issue with missing external dependencies
  packages/config-tools/package.json
  packages/git-tools/src/release/nx-release.ts
  packages/git-tools/src/release/release-config.ts
  packages/workspace-tools/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: readme

chore(release): Publish monorepo release updates
  packages/config-tools/CHANGELOG.md
  packages/config-tools/package.json
  packages/esbuild/package.json
  packages/git-tools/CHANGELOG.md
  packages/git-tools/package.json
  packages/unbuild/package.json
  packages/workspace-tools/CHANGELOG.md
  packages/workspace-tools/package.json
Due: readme

feat(config-tools): Use `tsup` to expand package format and export config
  packages/build-tools/CHANGELOG.md
  packages/build-tools/README.md
  packages/build-tools/package.json
  packages/config-tools/CHANGELOG.md
  packages/config-tools/README.md
  packages/config-tools/declarations.d.ts
  packages/config-tools/package.json
  packages/config-tools/project.json
  packages/config-tools/tsconfig.json
  packages/config-tools/tsup.config.ts
  packages/config/CHANGELOG.md
  packages/config/README.md
  packages/esbuild/package.json
  packages/esbuild/project.json
  packages/esbuild/tsconfig.json
  packages/git-tools/README.md
  packages/linting-tools/README.md
  packages/testing-tools/CHANGELOG.md
  packages/testing-tools/README.md
  packages/unbuild/package.json
  packages/workspace-tools/CHANGELOG.md
  packages/workspace-tools/README.md
  packages/workspace-tools/src/executors/npm-publish/executor.ts
  packages/workspace-tools/tsconfig.lib.json
  pnpm-lock.yaml
Due: readme

feat(config): Added `bot` property to `StormConfig`
  packages/build-tools/README.md
  packages/config-tools/README.md
  packages/config-tools/src/env/get-env.ts
  packages/config-tools/src/env/set-env.ts
  packages/config-tools/src/types.ts
  packages/config-tools/src/utilities/apply-workspace-tokens.ts
  packages/config-tools/src/utilities/get-default-config.ts
  packages/config/README.md
  packages/config/presets/base.json
  packages/config/presets/bun.json
  packages/config/presets/pnpm.json
  packages/config/src/schema.ts
  packages/git-tools/README.md
  packages/testing-tools/README.md
  packages/workspace-tools/README.md
  storm.json
Due: schema-gen, readme

feat(config): Regenerate the `storm.schema.json` file
  packages/build-tools/README.md
  packages/config-tools/README.md
  packages/config/README.md
  packages/config/schemas/storm.schema.json
  packages/k8s-tools/CHANGELOG.md
  packages/pulumi-tools/CHANGELOG.md
  packages/terraform-tools/CHANGELOG.md
  packages/terraform-tools/README.md
  packages/testing-tools/README.md
  packages/workspace-tools/README.md
Due: readme

deps(storm-ops): Moved `rollup` and `zod` into the pnpm catalog
  packages/build-tools/README.md
  packages/build-tools/package.json
  packages/config-tools/README.md
  packages/config-tools/package.json
  packages/config/README.md
  packages/config/package.json
  packages/eslint-plugin/package.json
  packages/terraform-tools/README.md
  packages/testing-tools/README.md
  packages/unbuild/package.json
  packages/workspace-tools/README.md
  packages/workspace-tools/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  terraform-modules/aws/package.json
  terraform-modules/cloudflare/package.json
Due: readme

deps(storm-ops): Added `tslib` to the pnpm catalog
  package.json
  packages/eslint-plugin-graphql/package.json
  packages/eslint-plugin-react/package.json
  packages/eslint-plugin/package.json
  packages/pulumi-tools/package.json
  packages/terraform-tools/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  terraform-modules/package.json
  tools/scripts/package.json
Due: readme

fix(build-tools): Resolved issues with `tsup` normalized option types mismatch
  packages/build-tools/src/rollup.ts
  packages/build-tools/src/types.ts
Due: none

feat(esbuild): Added pipeline logging to trace build steps
  packages/build-tools/package.json
  packages/build-tools/src/utils/copy-assets.ts
  packages/build-tools/src/utils/generate-package-json.ts
  packages/esbuild/package.json
  packages/esbuild/src/build.ts
  packages/esbuild/src/types.ts
  packages/esbuild/tsup.config.ts
  packages/eslint/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: readme

feat(config-tools): Added separate `logger` module to package
  packages/config-tools/package.json
  packages/config-tools/src/create-storm-config.ts
  packages/config-tools/src/env/get-env.ts
  packages/config-tools/src/env/set-env.ts
  packages/config-tools/src/index.ts
  packages/config-tools/src/logger/chalk.ts
  packages/config-tools/src/logger/console.ts
  packages/config-tools/src/logger/get-log-level.ts
  packages/config-tools/src/logger/index.ts
  packages/config-tools/src/utilities/get-default-config.ts
  packages/config-tools/src/utilities/index.ts
  packages/config-tools/src/utilities/process-handler.ts
  packages/esbuild/src/build.ts
  packages/unbuild/src/utilities/helpers.ts
Due: readme

feat(unbuild): Added pipeline logging to trace build steps
  packages/unbuild/package.json
  packages/unbuild/project.json
  packages/unbuild/src/build.ts
Due: readme

feat(esbuild): Added the `storm-esbuild` binary
  packages/esbuild/assets/cjs_shims.js
  packages/esbuild/assets/esm_shims.js
  packages/esbuild/bin/storm-esbuild.ts
  packages/esbuild/project.json
  packages/esbuild/src/clean.ts
  packages/esbuild/src/config.ts
  packages/esbuild/src/plugins/tsc.ts
  packages/esbuild/tsconfig.json
  packages/esbuild/tsup.config.ts
  packages/unbuild/src/utilities/helpers.ts
Due: none

Path conditions:
  prepare: any of: **/{lefthook.yml,biome.json}
  schema-gen: any of: packages/config/src/schema.ts
  readme: any of: **/{README.md,README.*.md,readme/**/*,package.json,executors.json,generators.json}
