Repository storm-software/storm-ops: changes, and which lefthook commands are due for each by the changed paths.
All: validate, check, readme, format, build

validate:
  run: zx ./dist/packages/git-tools/hooks/pre-commit.mjs {staged_files}
  stage_fixed: true

check:
  run: pnpm biome:check {staged_files} && git update-index

readme:
  run: zx ./dist/packages/git-tools/bin/cli.mjs readme-gen --templates="dist/packages/git-tools/readme/templates" && git update-index

format:
  run: pnpm biome:format {staged_files} && git update-index

build:
  run: pnpm build
  stage_fixed: true

chore(workspace-tools): workspace-tools-v1.42.1 [skip ci]
  packages/workspace-tools/CHANGELOG.md
  packages/workspace-tools/package.json
Due: validate, check, readme, format, build

Notes added by 'git notes add'
  80/7807fe0b1f7a8ef4d674756321ab70b8b68bbc
Due: none

chore(create-storm-workspace): create-storm-workspace-v1.42.1 [skip ci]
  packages/create-storm-workspace/CHANGELOG.md
  packages/create-storm-workspace/package.json
Due: validate, check, readme, format, build

Notes added by 'git notes add'
  d1/80fa54e4ac457d046fba5810e817379192dcac
Due: none

chore(linting-tools): linting-tools-v1.25.1 [skip ci]
  packages/linting-tools/CHANGELOG.md
  packages/linting-tools/package.json
Due: validate, check, readme, format, build

Notes added by 'git notes add'
  b6/be5e12836ead40cb11db5e461065d63354ac19
Due: none

chore(git-tools): git-tools-v1.23.1 [skip ci]
  packages/git-tools/CHANGELOG.md
  packages/git-tools/package.json
Due: validate, check, readme, format, build

Notes added by 'git notes add'
  4a/b33edc975e1c97baca3b1c5d71483be6c5071a
Due: none

chore(design-tools): design-tools-v1.5.1 [skip ci]
  packages/design-tools/CHANGELOG.md
  packages/design-tools/package.json
Due: validate, check, readme, format, build

Notes added by 'git notes add'
  29/a4c7b99e8ff2f7ee85d2054b93aa1982215170
Due: none

chore(testing-tools): testing-tools-v1.21.1 [skip ci]
  packages/testing-tools/CHANGELOG.md
  packages/testing-tools/package.json
Due: validate, check, readme, format, build

Notes added by 'git notes add'
  73/aaea2030e5d47cab7acfe342332e7cc7206e88
Due: none

fix(git-tools): Added dependency override for `request` package to prevent request forgery exposure
  .github/renovate.json
  package.json
  pnpm-lock.yaml
Due: validate, check, build

chore(config-tools): config-tools-v1.14.2 [skip ci]
  packages/config-tools/CHANGELOG.md
  packages/config-tools/package.json
Due: validate, check, readme, format, build

Notes added by 'git notes add'
  67/1704bbd0b2ce03cd014e412dffc2489bedc945
Due: none

chore(workspace-tools): workspace-tools-v1.42.2 [skip ci]
  packages/workspace-tools/CHANGELOG.md
  packages/workspace-tools/package.json
Due: validate, check, readme, format, build

Notes added by 'git notes add'
  39/113011205f3ac1c3c41ea72bcaf47d6038642f
Due: none

chore(create-storm-workspace): create-storm-workspace-v1.42.2 [skip ci]
  packages/create-storm-workspace/CHANGELOG.md
  packages/create-storm-workspace/package.json
Due: validate, check, readme, format, build

Notes added by 'git notes add'
  5e/acb8ab34a7f1b46c7183670ab77f88aeed6ae6
Due: none

chore(linting-tools): linting-tools-v1.25.2 [skip ci]
  packages/linting-tools/CHANGELOG.md
  packages/linting-tools/package.json
Due: validate, check, readme, format, build

Notes added by 'git notes add'
  59/4d486c753b6463f09f49f03297bb575df432e7
Due: none

chore(git-tools): git-tools-v1.23.2 [skip ci]
  packages/git-tools/CHANGELOG.md
  packages/git-tools/package.json
Due: validate, check, readme, format, build

Notes added by 'git notes add'
  96/21860afcd87610e599e1db22fc90b5ecf3deac
Due: none

chore(design-tools): design-tools-v1.5.2 [skip ci]
  packages/design-tools/CHANGELOG.md
  packages/design-tools/package.json
Due: validate, check, readme, format, build

Notes added by 'git notes add'
  f1/41f38ddd5cf276618bc6e6e95211e21a5b0ba6
Due: none

chore(testing-tools): testing-tools-v1.21.2 [skip ci]
  packages/testing-tools/CHANGELOG.md
  packages/testing-tools/package.json
Due: validate, check, readme, format, build

Notes added by 'git notes add'
  cf/2f51574d0c0505bf337f7065d097992e6b9b76
Due: none

fix(workspace-tools): Resolved issue preventing neutral builds from running
  packages/workspace-tools/config/nx.json
  packages/workspace-tools/src/executors/tsup-neutral/executor.ts
Due: validate, check, build

chore(workspace-tools): workspace-tools-v1.42.3 [skip ci]
  packages/workspace-tools/CHANGELOG.md
  packages/workspace-tools/package.json
Due: validate, check, readme, format, build

Notes added by 'git notes add'
  4f/07f7c030eb6ee0b7a20e92cc4a96f367fdcdd5
Due: none

chore(create-storm-workspace): create-storm-workspace-v1.42.3 [skip ci]
  packages/create-storm-workspace/CHANGELOG.md
  packages/create-storm-workspace/package.json
Due: validate, check, readme, format, build

Notes added by 'git notes add'
  34/a2a5a72d8ca60de37fce93f57b4478498a5e44
Due: none

fix(workspace-tools): Many code quality improvements and enhanced linting rules
  packages/config-tools/src/config-file/get-config-file.ts
  packages/config-tools/src/create-storm-config.ts
  packages/config-tools/src/env/get-env.ts
  packages/config-tools/src/env/set-env.ts
  packages/config-tools/src/schema.ts
  packages/config-tools/src/types.ts
  packages/config-tools/src/utilities/find-up.ts
  packages/config-tools/src/utilities/find-workspace-root.ts
  packages/config-tools/src/utilities/get-default-config.ts
  packages/config-tools/src/utilities/get-log-level.ts
  packages/git-tools/src/lefthook/lefthook.yml
  packages/linting-tools/src/biome/biome.json
  packages/workspace-tools/config/nx.json
  packages/workspace-tools/src/base/base-executor.ts
  packages/workspace-tools/src/base/base-generator.ts
  packages/workspace-tools/src/base/get-tsup-config.ts
  packages/workspace-tools/src/executors/tsup-browser/executor.ts
  packages/workspace-tools/src/executors/tsup-browser/get-config.ts
  packages/workspace-tools/src/executors/tsup-neutral/executor.ts
  packages/workspace-tools/src/executors/tsup-neutral/get-config.ts
  packages/workspace-tools/src/executors/tsup-node/executor.ts
  packages/workspace-tools/src/executors/tsup-node/get-config.ts
  packages/workspace-tools/src/executors/tsup/executor.ts
Due: validate, check, build

chore(config-tools): config-tools-v1.14.3 [skip ci]
  packages/config-tools/CHANGELOG.md
  packages/config-tools/package.json
Due: validate, check, readme, format, build

Notes added by 'git notes add'
  7d/bf1daacea3c52da6ab97fff0defd6b575a7f58
Due: none

chore(workspace-tools): workspace-tools-v1.42.4 [skip ci]
  packages/workspace-tools/CHANGELOG.md
  packages/workspace-tools/package.json
Due: validate, check, readme, format, build

Notes added by 'git notes add'
  1d/2b73953c259d491df19bb4a06ad8f27514e79b
Due: none

chore(create-storm-workspace): create-storm-workspace-v1.42.4 [skip ci]
  packages/create-storm-workspace/CHANGELOG.md
  packages/create-storm-workspace/package.json
Due: validate, check, readme, format, build

Notes added by 'git notes add'
  0d/b9f31e3cc194128143239e0f4d8a60f2a7123c
Due: none

chore(linting-tools): linting-tools-v1.25.3 [skip ci]
  packages/linting-tools/CHANGELOG.md
  packages/linting-tools/package.json
Due: validate, check, readme, format, build

Path conditions:
  validate: any of: **/*.*
  check: any of: **/*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}
  readme: any of: **/{README.md,package.json}
  format: any of: **/{README.md,package.json}
  build: any of: **/*.*
