Repository storm-software/storm-ops: changes, and which lefthook commands are due for each by the changed paths.
All: check, build, readme-format

lefthook.yml:

#
#   Refer for explanation to following link:
#   https://github.com/evilmartians/lefthook/blob/master/docs/configuration.md
#

pre-commit:
  commands:
    check:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: npx biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true {staged_files} && git update-index
    build:
      glob: "*.*"
      run: pnpm build
    readme-format:
      glob: "**/{README.md,package.json}"
      run: pnpm "dist/packages/git-tools/bin/cli.js" readme-gen --templates="dist/packages/git-tools/readme/templates" && git update-index

commit-msg:
  commands:
    "lint commit message":
      run: npx commitlint --edit {1}

pre-push:
  commands:
    lint:
      files: git diff --name-only HEAD @{push}
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: npx biome lint --apply --no-errors-on-unmatched --files-ignore-unknown=true {files} && git update-index --again

fix(workspace-tools): Resolved issue with typescript import
  packages/workspace-tools/src/utils/typia-transform.ts
Due: check, build

feat(git-tools): Re-added the Git hooks to drive workspace processing
  .husky/commit-msg
  .husky/post-checkout
  .husky/post-commit
  .husky/post-merge
  .husky/pre-commit
  .husky/pre-push
  .husky/prepare-commit-msg
  .lefthook/post-checkout/package-version-warning
  .lefthook/post-commit/hook
  .lefthook/post-merge/package-version-warning
  nx.json
  package.json
  packages/git-tools/bin/post-commit.cjs
  packages/git-tools/package.json
  packages/git-tools/project.json
  packages/git-tools/src/commitlint/commitlint.config.cjs
  packages/git-tools/src/commitlint/get-nx-scopes.ts
  packages/git-tools/src/lefthook/lefthook.yml
  packages/git-tools/tsconfig.json
  packages/workspace-tools/src/executors/tsup/executor.ts
  packages/workspace-tools/src/utils/typia-transform.ts
  pnpm-lock.yaml
Due: check, build, readme-format

fix(storm-ops): Added missing dependencies
  package.json
  pnpm-lock.yaml
Due: check, build

chore(config-tools): config-tools-v1.12.0 [skip ci]
  packages/config-tools/CHANGELOG.md
  packages/config-tools/package.json
Due: check, build, readme-format

Notes added by 'git notes add'
  06/5481e6be864c50e768cc6f123ea98ba5ebc85d
Due: none

chore(workspace-tools): workspace-tools-v1.40.0 [skip ci]
  packages/workspace-tools/CHANGELOG.md
  packages/workspace-tools/package.json
Due: check, build, readme-format

Notes added by 'git notes add'
  3f/52b8025c8fb21a51ceab0ba7206625f1687731
Due: none

chore(create-storm-workspace): create-storm-workspace-v1.40.0 [skip ci]
  packages/create-storm-workspace/CHANGELOG.md
  packages/create-storm-workspace/package.json
Due: check, build, readme-format

Notes added by 'git notes add'
  a8/609cdd1c52f4c85954c89b426c6e571d9ef96e
Due: none

chore(design-tools): design-tools-v1.3.0 [skip ci]
  packages/design-tools/CHANGELOG.md
  packages/design-tools/package.json
Due: check, build, readme-format

Notes added by 'git notes add'
  67/030185b0ea59b67503c5d36f61a08a9af5dc14
Due: none

chore(git-tools): git-tools-v1.21.0 [skip ci]
  packages/git-tools/CHANGELOG.md
  packages/git-tools/package.json
Due: check, build, readme-format

Notes added by 'git notes add'
  51/74cc74298962567383fd2c9ffda7bfcadf9391
Due: none

chore(linting-tools): linting-tools-v1.23.0 [skip ci]
  packages/linting-tools/CHANGELOG.md
  packages/linting-tools/package.json
Due: check, build, readme-format

Notes added by 'git notes add'
  14/f5d970c1a1b6aab6387d2dd407107b6166fe45
Due: none

chore(testing-tools): testing-tools-v1.19.0 [skip ci]
  packages/testing-tools/CHANGELOG.md
  packages/testing-tools/package.json
Due: check, build, readme-format

Notes added by 'git notes add'
  d1/084dcb1040246645f634791ef5a813f7f18ea0
Due: none

fix(workspace-tools): Resolved runtime issues with tsup build
  packages/git-tools/project.json
  packages/workspace-tools/src/executors/tsup/executor.ts
Due: check, build

chore(workspace-tools): workspace-tools-v1.40.1 [skip ci]
  packages/workspace-tools/CHANGELOG.md
  packages/workspace-tools/package.json
Due: check, build, readme-format

Notes added by 'git notes add'
  70/340b93a2f16721396b5f08a611794a5c716ccc
Due: none

chore(create-storm-workspace): create-storm-workspace-v1.40.1 [skip ci]
  packages/create-storm-workspace/CHANGELOG.md
  packages/create-storm-workspace/package.json
Due: check, build, readme-format

Notes added by 'git notes add'
  46/1f5ed1777e38100e487800cd03c43c2c491787
Due: none

chore(git-tools): git-tools-v1.21.1 [skip ci]
  packages/git-tools/CHANGELOG.md
  packages/git-tools/package.json
Due: check, build, readme-format

Notes added by 'git notes add'
  5c/4b659a2408a66d3f9e63000a72bdc1e7ab71c2
Due: none

chore(config-tools): config-tools-v1.13.0 [skip ci]
  packages/config-tools/CHANGELOG.md
  packages/config-tools/package.json
Due: check, build, readme-format

Notes added by 'git notes add'
  06/88a8fc885da2e8a0f257d56d8af1931ea8756c
Due: none

chore(workspace-tools): workspace-tools-v1.41.0 [skip ci]
  packages/workspace-tools/CHANGELOG.md
  packages/workspace-tools/package.json
Due: check, build, readme-format

Notes added by 'git notes add'
  96/5e2f5f08af821ae635442ef1bcf2c821fc902b
Due: none

chore(create-storm-workspace): create-storm-workspace-v1.41.0 [skip ci]
  packages/create-storm-workspace/CHANGELOG.md
  packages/create-storm-workspace/package.json
Due: check, build, readme-format

Notes added by 'git notes add'
  dd/1bf8c1fe95bcd6def5f21e4435a81b30d3ed31
Due: none

chore(linting-tools): linting-tools-v1.24.0 [skip ci]
  packages/linting-tools/CHANGELOG.md
  packages/linting-tools/package.json
Due: check, build, readme-format

Notes added by 'git notes add'
  f4/3e4cfa353678216a233bca8f77f431e62e4dbb
Due: none

chore(git-tools): git-tools-v1.22.0 [skip ci]
  packages/git-tools/CHANGELOG.md
  packages/git-tools/package.json
Due: check, build, readme-format

Notes added by 'git notes add'
  50/e59a2b0c72b48a1c056b2ba8b6af100ce4e687
Due: none

chore(testing-tools): testing-tools-v1.20.0 [skip ci]
  packages/testing-tools/CHANGELOG.md
  packages/testing-tools/package.json
Due: check, build, readme-format

Notes added by 'git notes add'
  19/d0263cf3b7af5d6d366ac6600f4f97b850b9de
Due: none

chore(design-tools): design-tools-v1.4.0 [skip ci]
  packages/design-tools/CHANGELOG.md
  packages/design-tools/package.json
Due: check, build, readme-format

Notes added by 'git notes add'
  74/b865b5ddf18a6be029ed89a6f2620fe03b85b9
Due: none

fix(workspace-tools): Cleaned up dependanies and option defaulting in tsup
  lefthook.yml
  packages/workspace-tools/package.json
  packages/workspace-tools/src/base/base-executor.ts
  packages/workspace-tools/src/base/base-generator.ts
  packages/workspace-tools/src/base/get-tsup-config.ts
  packages/workspace-tools/src/executors/tsup-neutral/get-config.ts
  packages/workspace-tools/src/executors/tsup/executor.ts
  pnpm-lock.yaml
Due: check, build, readme-format
