Repository storm-software/storm-ops: changes, and which lefthook commands are due for each by the changed paths.
All: validate, check, readme, format, build

validate:
  run: zx ./dist/packages/git-tools/hooks/pre-commit.mjs {staged_files}
  stage_fixed: true

check:
  run: pnpm biome:check {staged_files} && git update-index

readme:
  run: zx ./dist/packages/git-tools/bin/cli.mjs readme-gen --templates="dist/packages/git-tools/readme/templates" && git update-index

format:
  run: pnpm biome:format {staged_files} && git update-index

build:
  run: pnpm build
  stage_fixed: true

chore(create-storm-workspace): create-storm-workspace-v1.43.5 [skip ci]
  packages/create-storm-workspace/CHANGELOG.md
  packages/create-storm-workspace/package.json
Due: validate, check, readme, format, build

Notes added by 'git notes add'
  8e/06074ab978129dfb5bc1b2efc20f0ef002cc4d
Due: none

chore(linting-tools): linting-tools-v1.26.5 [skip ci]
  packages/linting-tools/CHANGELOG.md
  packages/linting-tools/package.json
Due: validate, check, readme, format, build

Notes added by 'git notes add'
  be/4df555561a0c2c79e8254479727393274060b9
Due: none

chore(git-tools): git-tools-v1.24.5 [skip ci]
  packages/git-tools/CHANGELOG.md
  packages/git-tools/package.json
Due: validate, check, readme, format, build

Notes added by 'git notes add'
  01/8a3160df2a99220c036ce4b5d7f8d02f21918a
Due: none

chore(design-tools): design-tools-v1.6.3 [skip ci]
  packages/design-tools/CHANGELOG.md
  packages/design-tools/package.json
Due: validate, check, readme, format, build

Notes added by 'git notes add'
  6c/ae15f29ab55f65e4631117479bee969c1e3ebd
Due: none

chore(testing-tools): testing-tools-v1.22.3 [skip ci]
  packages/testing-tools/CHANGELOG.md
  packages/testing-tools/package.json
Due: validate, check, readme, format, build

Notes added by 'git notes add'
  a2/a86ef6020d002ef3be2be481b49b3829810070
Due: none

fix(workspace-tools): Added code to properly parse out the config file
  packages/config-tools/src/create-storm-config.ts
  packages/config-tools/src/utilities/find-up.ts
  packages/config-tools/src/utilities/find-workspace-root.ts
  packages/config-tools/src/utilities/get-default-config.ts
  packages/workspace-tools/src/base/base-executor.ts
  packages/workspace-tools/src/base/base-generator.ts
  packages/workspace-tools/src/executors/tsup/executor.ts
Due: validate, check, build

chore(config-tools): config-tools-v1.15.6 [skip ci]
  packages/config-tools/CHANGELOG.md
  packages/config-tools/package.json
Due: validate, check, readme, format, build

Notes added by 'git notes add'
  b7/188b93a37e84f1f209ab4ad0bb42ae734968c6
Due: none

chore(workspace-tools): workspace-tools-v1.43.6 [skip ci]
  packages/workspace-tools/CHANGELOG.md
  packages/workspace-tools/package.json
Due: validate, check, readme, format, build

Notes added by 'git notes add'
  ee/af5701f6d7028033af5736fcaf1f2ec649e40d
Due: none

chore(create-storm-workspace): create-storm-workspace-v1.43.6 [skip ci]
  packages/create-storm-workspace/CHANGELOG.md
  packages/create-storm-workspace/package.json
Due: validate, check, readme, format, build

Notes added by 'git notes add'
  4c/97fa33a4995092b3fc09ae3ddfb371037f3888
Due: none

chore(linting-tools): linting-tools-v1.26.6 [skip ci]
  packages/linting-tools/CHANGELOG.md
  packages/linting-tools/package.json
Due: validate, check, readme, format, build

Notes added by 'git notes add'
  d0/720300fd5f0c171c234c928bb433f946e7ee4b
Due: none

chore(git-tools): git-tools-v1.24.6 [skip ci]
  packages/git-tools/CHANGELOG.md
  packages/git-tools/package.json
Due: validate, check, readme, format, build

Notes added by 'git notes add'
  7e/27f5a36086637521ff92a3f4c1c5a9cae513e1
Due: none

fix(workspace-tools): Resolved issue with config file names changing
  packages/config-tools/src/config-file/get-config-file.ts
  packages/workspace-tools/src/executors/tsup/executor.ts
Due: validate, check, build

fix(config-tools): Resolved issue with bad config file lookup logic
  packages/config-tools/src/config-file/get-config-file.ts
  packages/config-tools/src/utilities/get-default-config.ts
Due: validate, check, build

chore(config-tools): config-tools-v1.15.7 [skip ci]
  packages/config-tools/CHANGELOG.md
  packages/config-tools/package.json
Due: validate, check, readme, format, build

Notes added by 'git notes add'
  a8/0047cbd3770776f308300e5a7c1a77697dff54
Due: none

chore(workspace-tools): workspace-tools-v1.43.7 [skip ci]
  packages/workspace-tools/CHANGELOG.md
  packages/workspace-tools/package.json
Due: validate, check, readme, format, build

Notes added by 'git notes add'
  3f/21811d133b334e2d00fe175ee86da90bf650a7
Due: none

chore(create-storm-workspace): create-storm-workspace-v1.43.7 [skip ci]
  packages/create-storm-workspace/CHANGELOG.md
  packages/create-storm-workspace/package.json
Due: validate, check, readme, format, build

Notes added by 'git notes add'
  be/c5a46a714852dd8e1b9a93d5ebf8df2926d07f
Due: none

chore(linting-tools): linting-tools-v1.26.7 [skip ci]
  packages/linting-tools/CHANGELOG.md
  packages/linting-tools/package.json
Due: validate, check, readme, format, build

Notes added by 'git notes add'
  1e/b46327a2c64d36139a917a8485a25077856a78
Due: none

chore(git-tools): git-tools-v1.24.7 [skip ci]
  packages/git-tools/CHANGELOG.md
  packages/git-tools/package.json
Due: validate, check, readme, format, build

Notes added by 'git notes add'
  0f/7138d4e40d518ed39522361bb1f5fcbb22d7ab
Due: none

fix(config-tools): Removed unused defaulting logic for config file
  packages/config-tools/src/create-storm-config.ts
Due: validate, check, build

chore(config-tools): config-tools-v1.15.8 [skip ci]
  packages/config-tools/CHANGELOG.md
  packages/config-tools/package.json
Due: validate, check, readme, format, build

Notes added by 'git notes add'
  7c/52753005c9edc251a8e39367fdf6c3726d846b
Due: none

chore(workspace-tools): workspace-tools-v1.43.8 [skip ci]
  packages/workspace-tools/CHANGELOG.md
  packages/workspace-tools/package.json
Due: validate, check, readme, format, build

Notes added by 'git notes add'
  7f/f9fa45da8608a97ff5f473b643d1129d0cfdc8
Due: none

chore(create-storm-workspace): create-storm-workspace-v1.43.8 [skip ci]
  packages/create-storm-workspace/CHANGELOG.md
  packages/create-storm-workspace/package.json
Due: validate, check, readme, format, build

Notes added by 'git notes add'
  1d/5667e7b68d0e3e9d4d781fa69ff4b5e403e483
Due: none

Path conditions:
  validate: any of: **/*.*
  check: any of: **/*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}
  readme: any of: **/{README.md,package.json}
  format: any of: **/{README.md,package.json}
  build: any of: **/*.*
