Repository storm-software/storm-ops: changes, and which lefthook commands are due for each by the changed paths.
All: prepare, schema-gen, validate, readme

lefthook.yml:

#
#   Refer for explanation to following link:
#   https://github.com/evilmartians/lefthook/blob/master/docs/configuration.md
#

assert_lefthook_installed: true
colors: true
no_tty: false
min_version: 1.5.0

pre-install:
  commands:
    validate:
      glob: "**/*"
      run: "node ./dist/packages/git-tools/bin/pre-install.js"

prepare:
  commands:
    validate:
      glob: "**/*"
      run: "node ./dist/packages/git-tools/bin/prepare.js"

pre-commit:
  piped: true
  commands:
    prepare:
      glob: "**/{lefthook.yml,biome.json}"
      run: "pnpm lefthook install && git update-index"
      stage_fixed: true
    schema-gen:
      glob: "packages/config/src/schema.ts"
      run: 'pnpm nx generate @storm-software/workspace-tools:config-schema
        --outputFile="./packages/config/schemas/storm.schema.json" && git
        update-index'
      stage_fixed: true
    validate:
      glob: "**/*"
      run:
        "node ./dist/packages/git-tools/bin/pre-commit.js {staged_files} && git
        update-index"
      stage_fixed: true
    # lint:
    #   files: "git diff --name-only HEAD @{push}"
    #   glob: "**/*.{js,ts,rs,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc} && git update-index"
    #   run: "pnpm lint"
    # check:
    #   files: "git diff --name-only HEAD @{push}"
    #   glob: "**/*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
    #   run: "pnpm exec prettier {staged_files} --check --ignore-unknown --no-error-on-unmatched-pattern --cache && git update-index"
    # toml:
    #   files: "git diff --name-only HEAD @{push}"
    #   glob: "**/*.{toml}"
    #   run: "pnpm format-toml && git update-index"
    readme:
      glob: "**/{README.md,README.*.md,readme/**/*,package.json,executors.json,generators.json}"
      run: "pnpm format-readme && git update-index"
      stage_fixed: true
    format:
      glob: "**/*"
      exclude: "packages/workspace-tools/src/generators/*/files/**/*"
      run: "pnpm exec prettier {staged_files} --write --ignore-unknown
        --no-error-on-unmatched-pattern --cache && git update-index"
      stage_fixed: true
    # postbuild:
    #   files: "git diff --name-only HEAD @{push}"
    #   glob: "**/*"
    #   run: "pnpm build-all && git update-index"

commit-msg:
  commands:
    validate:
      run: 'pnpm exec commitlint
        --config="./dist/packages/git-tools/commitlint/commitlint.config.cjs"
        --edit {1}'

pre-push:
  piped: true
  commands:
    validate:
      glob: "**/*"
      run: "node ./dist/packages/git-tools/bin/pre-push.js {staged_files} && git
        update-index"
      stage_fixed: true
    format:
      glob: "!packages/workspace-tools/src/generators/*/files/**/*"
      run: "pnpm exec prettier {staged_files} --write --ignore-unknown
        --no-error-on-unmatched-pattern --cache && git update-index"
      stage_fixed: true
    build:
      glob: "**/*"
      run: "pnpm build-all"
      stage_fixed: true

post-merge:
  commands:
    validate:
      glob: "**/*"
      run:
        "node ./dist/packages/git-tools/bin/post-merge.js {staged_files} && git
        update-index"
      stage_fixed: true

post-checkout:
  commands:
    validate:
      glob: "**/*"
      run: "node ./dist/packages/git-tools/bin/post-checkout.js {staged_files}"

post-commit:
  commands:
    validate:
      glob: "**/*"
      run: "node ./dist/packages/git-tools/bin/post-commit.js {staged_files}"

fix(build-tools): Resolve issues with TypeScript library paths in unbuild
  packages/build-tools/src/config/get-unbuild-config.ts
  packages/config-tools/src/utilities/correct-paths.ts
Due: validate

feat(build-tools): Use `pkg-types` to extract TypeScript configurations
  packages/build-tools/package.json
  packages/build-tools/src/config/get-unbuild-config.ts
  packages/config-tools/src/utilities/correct-paths.ts
  pnpm-lock.yaml
Due: validate, readme

docs(storm-ops): Format monorepo projects' README.md files
  packages/build-tools/README.md
  packages/config-tools/README.md
  packages/eslint-plugin/README.md
  packages/eslint/README.md
  packages/git-tools/README.md
  packages/linting-tools/README.md
  packages/workspace-tools/README.md
Due: validate, readme

chore(release): Publish monorepo release updates
  packages/build-tools/CHANGELOG.md
  packages/build-tools/package.json
  packages/config-tools/CHANGELOG.md
  packages/config-tools/package.json
Due: validate, readme

fix(build-tools): Resolve issue with path to tsconfig file
  packages/build-tools/src/config/get-unbuild-config.ts
  packages/build-tools/src/utils/run-tsup-build.ts
Due: validate

chore(release): Publish monorepo release updates
  packages/build-tools/CHANGELOG.md
  packages/build-tools/package.json
Due: validate, readme

fix(build-tools): Resolve issue writing `include` paths
  packages/build-tools/src/config/get-unbuild-config.ts
  packages/config-tools/src/utilities/logger.ts
Due: validate

feat(build-tools): Added CommonJs and DTS plugin options
  packages/build-tools/src/config/get-unbuild-config.ts
Due: validate

feat(build-tools): Update tsconfig to include `lib.*.full.d.ts` by default
  packages/build-tools/src/config/get-unbuild-config.ts
Due: validate

feat(prettier): Added `prettier-plugin-solidity` configuration
  .vscode/settings.json
  packages/build-tools/src/build/unbuild.ts
  packages/prettier/package.json
  packages/prettier/src/config.json
  packages/prettier/src/index.ts
  pnpm-lock.yaml
Due: validate, readme

feat(tsconfig): Added the `core` shared TypeScript configuration file
  packages/build-tools/README.md
  packages/config-tools/README.md
  packages/tsconfig/src/base.json
  packages/tsconfig/src/core.json
  packages/tsconfig/src/index.ts
Due: validate, readme

chore(storm-ops): Update monorepo's base TypeScript config to match previous values
  tsconfig.json
Due: none

chore(release): Publish monorepo release updates
  packages/build-tools/CHANGELOG.md
  packages/build-tools/package.json
  packages/config-tools/CHANGELOG.md
  packages/config-tools/package.json
  packages/prettier/CHANGELOG.md
  packages/prettier/package.json
  packages/tsconfig/CHANGELOG.md
  packages/tsconfig/package.json
Due: validate, readme

feat(tsconfig): Added an accurate package description
  packages/tsconfig/package.json
Due: validate, readme

feat(config): Added the `brand2` and `brand3` color tokens
  packages/build-tools/README.md
  packages/config-tools/README.md
  packages/config-tools/src/config-file/get-config-file.ts
  packages/config-tools/src/env/get-env.ts
  packages/config-tools/src/env/set-env.ts
  packages/config-tools/src/utilities/get-default-config.ts
  packages/config/presets/base.json
  packages/config/src/schema.ts
  packages/prettier/README.md
  packages/tsconfig/README.md
Due: schema-gen, validate, readme

chore(release): Publish monorepo release updates
  packages/build-tools/CHANGELOG.md
  packages/build-tools/package.json
  packages/config-tools/CHANGELOG.md
  packages/config-tools/package.json
  packages/config/CHANGELOG.md
  packages/config/package.json
  packages/prettier/CHANGELOG.md
  packages/prettier/package.json
  packages/tsconfig/CHANGELOG.md
  packages/tsconfig/package.json
Due: validate, readme

feat(build-tools): Update unbuild process to use the `tsconfck` package
  lefthook.yml
  packages/build-tools/CHANGELOG.md
  packages/build-tools/package.json
  packages/build-tools/src/config/get-unbuild-config.ts
  packages/config-tools/CHANGELOG.md
  packages/config/CHANGELOG.md
  packages/config/schemas/storm.schema.json
  packages/prettier/CHANGELOG.md
  packages/tsconfig/CHANGELOG.md
  pnpm-lock.yaml
Due: validate, readme

feat(build-tools): Added logging to checks for full declaration libraries
  packages/build-tools/src/config/get-unbuild-config.ts
Due: validate

fix(build-tools): Ensure the TypeScript Declaration library files are included
  packages/build-tools/CHANGELOG.md
  packages/build-tools/src/config/get-unbuild-config.ts
Due: validate

feat(tsconfig): Updates around `base` and `core` tsconfig files
  packages/build-tools/src/config/get-unbuild-config.ts
  packages/tsconfig/src/base.json
  packages/tsconfig/src/core.json
Due: validate

chore(release): Publish monorepo release updates
  packages/build-tools/CHANGELOG.md
  packages/build-tools/package.json
  packages/tsconfig/CHANGELOG.md
  packages/tsconfig/package.json
Due: validate, readme

feat(tsconfig): Update base TypeScript config to use `NodeNext` modules
  packages/build-tools/CHANGELOG.md
  packages/tsconfig/CHANGELOG.md
  packages/tsconfig/src/base.json
Due: validate

feat(storm-ops): Prevent duplicate workflow action runs
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  packages/build-tools/src/config/get-unbuild-config.ts
Due: validate

feat(eslint): Added the header plugin
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  migrations.json
  nx.json
  package.json
  packages/build-tools/src/utils/get-file-banner.ts
  packages/cloudflare-tools/package.json
  packages/config-tools/src/utilities/get-default-config.ts
  packages/config/src/schema.ts
  packages/eslint-plugin-graphql/package.json
  packages/eslint/package.json
  packages/eslint/src/preset.d.ts
  packages/eslint/src/preset.ts
  packages/eslint/src/utils/create-flat-header-plugin.ts
  packages/git-tools/src/cli/index.ts
  packages/git-tools/src/lefthook/lefthook.yml
  packages/git-tools/src/readme/index.ts
  packages/workspace-tools/config/nx.json
  packages/workspace-tools/src/generators/preset/generator.ts
  pnpm-lock.yaml
  storm.json
Due: prepare, schema-gen, validate, readme

feat(eslint): Removed invalid JSON configuration from package
  packages/build-tools/README.md
  packages/cloudflare-tools/package.json
  packages/cloudflare-tools/src/executors/serve/executor.ts
  packages/config-tools/README.md
  packages/config/README.md
  packages/eslint/src/preset.d.ts
  packages/eslint/src/preset.ts
  packages/eslint/src/utils/create-flat-header-plugin.ts
  packages/eslint/src/utils/get-file-banner.ts
  packages/git-tools/src/lefthook/lefthook.yml
  packages/git-tools/src/readme/index.ts
  packages/prettier/README.md
  packages/tsconfig/README.md
  packages/tsconfig/src/base.json
  packages/tsconfig/src/core.json
  tools/scripts/build-plugins.ts
Due: prepare, validate, readme

ci(storm-ops): Update actions to skip CodeQL when auto-updating dependencies
  .github/workflows/codeql.yml
  packages/eslint/src/preset.d.ts
Due: validate

ci(storm-ops): Resolved issues with tokens provided to CI step
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
Due: validate

fix(storm-ops): Update the environment variables to specify CI for workflow actions
  .env
  pnpm-lock.yaml
Due: none

chore(release): Publish monorepo release updates
  packages/build-tools/CHANGELOG.md
  packages/build-tools/package.json
  packages/cloudflare-tools/CHANGELOG.md
  packages/cloudflare-tools/package.json
  packages/config-tools/CHANGELOG.md
  packages/config-tools/package.json
  packages/config/CHANGELOG.md
  packages/config/package.json
  packages/eslint-plugin-graphql/CHANGELOG.md
  packages/eslint-plugin-graphql/package.json
  packages/eslint/CHANGELOG.md
  packages/eslint/package.json
  packages/git-tools/CHANGELOG.md
  packages/git-tools/package.json
  packages/prettier/CHANGELOG.md
  packages/prettier/package.json
  packages/tsconfig/CHANGELOG.md
  packages/tsconfig/package.json
  packages/workspace-tools/CHANGELOG.md
  packages/workspace-tools/package.json
Due: validate, readme

ci(storm-ops): Remove duplication code from CI workflow action
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
Due: validate

ci(storm-ops): Resolved issues with the CodeQL actions start condition
  .github/workflows/codeql.yml
Due: validate

feat(eslint): Split out the `banner` plugin code
  packages/eslint/package.json
  packages/eslint/src/preset.ts
  packages/eslint/src/utils/banner-plugin.ts
  packages/eslint/tools/build.js
  pnpm-lock.yaml
Due: validate, readme

chore(release): Publish monorepo release updates
  packages/eslint/CHANGELOG.md
  packages/eslint/package.json
Due: validate, readme
