Repository storm-software/storm-ops: changes, and which lefthook commands are due for each by the changed paths.
All: prepare, schema-gen, readme

lefthook.yml:

#
#   Refer for explanation to following link:
#   https://github.com/evilmartians/lefthook/blob/master/docs/configuration.md
#

assert_lefthook_installed: true
colors: true
no_tty: false
min_version: 1.5.0

pre-install:
  commands:
    validate:
      glob: "**/*"
      run: "node ./dist/packages/git-tools/bin/pre-install.js"

prepare:
  commands:
    validate:
      glob: "**/*"
      run: "node ./dist/packages/git-tools/bin/prepare.js"

pre-commit:
  piped: true
  commands:
    prepare:
      glob: "**/{lefthook.yml,biome.json}"
      run: "pnpm lefthook install"
      stage_fixed: true
    schema-gen:
      glob: "packages/config/src/schema.ts"
      run: 'pnpm nx generate @storm-software/workspace-tools:config-schema
        --outputFile="./packages/config/schemas/storm.schema.json"'
      stage_fixed: true
    validate:
      files: "git diff --name-only HEAD @{push}"
      glob: "**/*"
      run: "node ./dist/packages/git-tools/bin/pre-commit.js {files}"
      stage_fixed: true
    # lint:
    #   files: "git diff --name-only HEAD @{push}"
    #   glob: "**/*.{js,ts,rs,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
    #   run: "pnpm lint"
    # check:
    #   files: "git diff --name-only HEAD @{push}"
    #   glob: "**/*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
    #   run: "pnpm exec prettier {staged_files} --check --ignore-unknown --no-error-on-unmatched-pattern --cache"
    # toml:
    #   files: "git diff --name-only HEAD @{push}"
    #   glob: "**/*.{toml}"
    #   run: "pnpm format-toml"
    readme:
      glob: "**/{README.md,README.*.md,readme/**/*,package.json,executors.json,generators.json}"
      run: "pnpm format-readme"
      stage_fixed: true
    format:
      files: "git diff --name-only HEAD @{push}"
      glob: "**/*"
      exclude: "packages/workspace-tools/src/generators/*/files/**/*"
      run: "pnpm exec prettier {files} --write --ignore-unknown
        --no-error-on-unmatched-pattern --cache"
      stage_fixed: true
    # postbuild:
    #   files: "git diff --name-only HEAD @{push}"
    #   glob: "**/*"
    #   run: "pnpm build-all"

commit-msg:
  commands:
    validate:
      run: 'pnpm exec commitlint
        --config="./dist/packages/git-tools/commitlint/commitlint.config.cjs"
        --edit {1}'

pre-push:
  piped: true
  commands:
    validate:
      files: "git diff --name-only HEAD @{push}"
      glob: "**/*"
      run: "node ./dist/packages/git-tools/bin/pre-push.js {files}"
      stage_fixed: true
    format:
      files: "git diff --name-only HEAD @{push}"
      glob: "!packages/workspace-tools/src/generators/*/files/**/*"
      run: "pnpm exec prettier {files} --write --ignore-unknown
        --no-error-on-unmatched-pattern --cache"
      stage_fixed: true
    build:
      glob: "**/*"
      run: "pnpm build-all"
      stage_fixed: true

post-merge:
  commands:
    validate:
      files: "git diff --name-only HEAD @{push}"
      glob: "**/*"
      run: "node ./dist/packages/git-tools/bin/post-merge.js {files}"
      stage_fixed: true

post-checkout:
  commands:
    validate:
      files: "git diff --name-only HEAD @{push}"
      glob: "**/*"
      run: "node ./dist/packages/git-tools/bin/post-checkout.js {files}"

post-commit:
  commands:
    validate:
      files: "git diff --name-only HEAD @{push}"
      glob: "**/*"
      run: "node ./dist/packages/git-tools/bin/post-commit.js {files}"

feat(create-storm-workspace): Configure workspace to include GitHub
  packages/build-tools/README.md
  packages/cloudflare-tools/README.md
  packages/config-tools/README.md
  packages/config/README.md
  packages/create-storm-workspace/bin/index.ts
  packages/create-storm-workspace/package.json
  packages/eslint/CHANGELOG.md
  packages/eslint/README.md
  packages/eslint/src/preset.d.ts
  packages/git-tools/README.md
  packages/prettier/README.md
  packages/tsconfig/README.md
  packages/workspace-tools/README.md
  pnpm-lock.yaml
Due: readme

chore(release): Publish monorepo release updates
  packages/build-tools/CHANGELOG.md
  packages/build-tools/package.json
  packages/cloudflare-tools/CHANGELOG.md
  packages/cloudflare-tools/package.json
  packages/config-tools/CHANGELOG.md
  packages/config-tools/package.json
  packages/config/CHANGELOG.md
  packages/config/package.json
  packages/create-storm-workspace/CHANGELOG.md
  packages/create-storm-workspace/package.json
  packages/eslint/CHANGELOG.md
  packages/eslint/package.json
  packages/git-tools/CHANGELOG.md
  packages/git-tools/package.json
  packages/prettier/CHANGELOG.md
  packages/prettier/package.json
  packages/tsconfig/CHANGELOG.md
  packages/tsconfig/package.json
  packages/workspace-tools/CHANGELOG.md
  packages/workspace-tools/package.json
Due: readme

feat(eslint): Update the `banner/banner` eslint rule to include default options
  packages/eslint/src/utils/banner-plugin.ts
  packages/eslint/src/utils/get-file-banner.ts
Due: none

chore(release): Publish monorepo release updates
  packages/eslint/CHANGELOG.md
  packages/eslint/package.json
Due: readme

feat(eslint): Include all TypeScript rules in preset
  packages/eslint/src/preset.d.ts
  packages/eslint/src/preset.ts
  packages/eslint/src/utils/banner-plugin.ts
  packages/eslint/src/utils/format-config.ts
Due: none

fix(eslint): Resolved issue with configuration spread
  packages/eslint/src/preset.d.ts
  packages/eslint/src/preset.ts
Due: none

fix(eslint): Resolved issues applying `unicorn` rules
  packages/eslint/src/preset.d.ts
  packages/eslint/src/preset.ts
Due: none

fix(eslint): Ensure rules are spread correctly
  eslint.config.mjs
  package.json
  packages/eslint/package.json
  packages/eslint/src/preset.d.ts
  packages/eslint/src/preset.ts
  packages/eslint/src/rules/storm.ts
Due: readme

fix(build-tools): Remove unused plugin from unbuild
  packages/build-tools/README.md
  packages/build-tools/src/config/get-unbuild-config.ts
  packages/cloudflare-tools/README.md
  packages/config-tools/README.md
  packages/config/README.md
  packages/create-storm-workspace/README.md
  packages/eslint/README.md
  packages/git-tools/README.md
  packages/prettier/README.md
  packages/tsconfig/README.md
  packages/workspace-tools/README.md
Due: readme

fix(build-tools): Update unbuild configuration to include proper `rootDir` option
  packages/build-tools/src/build/unbuild.ts
  packages/build-tools/src/config/get-unbuild-config.ts
  packages/eslint/src/preset.d.ts
Due: none

chore(release): Publish monorepo release updates
  packages/build-tools/CHANGELOG.md
  packages/build-tools/package.json
  packages/eslint/CHANGELOG.md
  packages/eslint/package.json
Due: readme

feat(build-tools): Include the `rollup-plugin-typescript2` plugin in configuration hook
  packages/build-tools/src/config/get-unbuild-config.ts
Due: none

chore(release): Publish monorepo release updates
  packages/build-tools/CHANGELOG.md
  packages/build-tools/package.json
Due: readme

feat(build-tools): Added the `typeDefinitions` rollup plugin
  packages/build-tools/src/config/get-unbuild-config.ts
  packages/build-tools/src/plugins/type-definitions.ts
Due: none

fix(build-tools): Removed unused variables
  packages/build-tools/src/config/get-unbuild-config.ts
  packages/build-tools/src/plugins/index.ts
  packages/build-tools/src/plugins/type-definitions.ts
Due: none

feat(build-tools): Added a hook prior to `mkdist` to set custom options
  packages/build-tools/package.json
  packages/build-tools/src/config/get-unbuild-config.ts
  packages/eslint/src/preset.ts
  pnpm-lock.yaml
Due: readme

chore(storm-ops): Reformatted monorepo projects' README.md files
  packages/build-tools/README.md
  packages/cloudflare-tools/README.md
  packages/config-tools/README.md
  packages/config/README.md
  packages/create-storm-workspace/README.md
  packages/eslint/README.md
  packages/git-tools/README.md
  packages/prettier/README.md
  packages/tsconfig/README.md
  packages/workspace-tools/README.md
Due: readme

fix(build-tools): Resolved issue with `tsconfck` import
  packages/build-tools/src/config/get-unbuild-config.ts
Due: none

feat(build-tools): Added the CODEOWNERS linting tool
  lefthook.yml
  package.json
  packages/build-tools/package.json
  packages/cloudflare-tools/package.json
  packages/eslint-config/package.json
  packages/eslint-config/project.json
  packages/eslint-plugin-graphql/package.json
  packages/eslint-plugin-react/package.json
  packages/eslint-plugin/package.json
  packages/eslint/package.json
  packages/git-tools/package.json
  packages/git-tools/src/lefthook/lefthook.yml
  packages/git-tools/src/utilities/check-package-version.ts
  packages/linting-tools/bin/lint.ts
  packages/linting-tools/package.json
  packages/linting-tools/src/alex/index.ts
  packages/linting-tools/src/cli/index.ts
  packages/linting-tools/src/codeowners/index.ts
  packages/linting-tools/src/cspell/dictionary.txt
  packages/prettier/package.json
  packages/testing-tools/package.json
  packages/workspace-tools/package.json
  packages/workspace-tools/src/generators/preset/generator.ts
  pnpm-lock.yaml
Due: prepare, readme

chore(storm-ops): Update base eslint configuration to use local plugin
  eslint.config.mjs
  tools/scripts/build-plugins.ts
Due: none

fix(storm-ops): Resolve issues with node_modules in packages
  eslint.config.mjs
  tools/scripts/build-plugins.ts
Due: none

chore(storm-ops): Remove the `NODE_ENV` and `CI` env variables to work with git hooks
  .env
Due: none

chore(release): Publish monorepo release updates
  packages/build-tools/CHANGELOG.md
  packages/build-tools/package.json
  packages/cloudflare-tools/CHANGELOG.md
  packages/cloudflare-tools/package.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/eslint-plugin-graphql/CHANGELOG.md
  packages/eslint-plugin-graphql/package.json
  packages/eslint-plugin-react/CHANGELOG.md
  packages/eslint-plugin-react/package.json
  packages/eslint-plugin/CHANGELOG.md
  packages/eslint-plugin/package.json
  packages/eslint/CHANGELOG.md
  packages/eslint/package.json
  packages/git-tools/CHANGELOG.md
  packages/git-tools/package.json
  packages/linting-tools/CHANGELOG.md
  packages/linting-tools/package.json
  packages/prettier/CHANGELOG.md
  packages/prettier/package.json
  packages/testing-tools/CHANGELOG.md
  packages/testing-tools/package.json
  packages/workspace-tools/CHANGELOG.md
  packages/workspace-tools/package.json
Due: readme

feat(git-tools): Added the `commitlint` git tools
  .github/workflows/lint-commit.yaml
  lefthook.yml
  packages/build-tools/README.md
  packages/build-tools/src/utils/get-file-banner.ts
  packages/eslint/README.md
  packages/eslint/src/utils/get-file-banner.ts
  packages/git-tools/bin/git.ts
  packages/git-tools/src/cli/index.ts
  packages/git-tools/src/commitlint/config.ts
  packages/git-tools/src/commitlint/get-nx-scopes.ts
  packages/git-tools/src/commitlint/index.ts
  packages/git-tools/src/commitlint/run-lint.ts
  packages/tsconfig/src/base.json
Due: readme

chore(release): Publish monorepo release updates
  packages/build-tools/CHANGELOG.md
  packages/build-tools/package.json
  packages/eslint-plugin-graphql/package.json
  packages/eslint-plugin-react/package.json
  packages/eslint/CHANGELOG.md
  packages/eslint/package.json
  packages/git-tools/CHANGELOG.md
  packages/git-tools/package.json
  packages/tsconfig/CHANGELOG.md
  packages/tsconfig/package.json
Due: readme

fix(build-tools): Resolve issues with the output path provided to unbuild
  packages/build-tools/README.md
  packages/build-tools/src/config/get-unbuild-config.ts
  packages/cloudflare-tools/README.md
  packages/eslint-config/README.md
  packages/eslint-plugin/README.md
  packages/eslint/README.md
  packages/git-tools/README.md
  packages/linting-tools/README.md
  packages/prettier/README.md
  packages/testing-tools/README.md
  packages/workspace-tools/README.md
Due: readme

chore(release): Publish monorepo release updates
  packages/build-tools/CHANGELOG.md
  packages/build-tools/package.json
  packages/cloudflare-tools/CHANGELOG.md
  packages/cloudflare-tools/package.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/eslint-plugin-graphql/package.json
  packages/eslint-plugin-react/package.json
  packages/eslint-plugin/CHANGELOG.md
  packages/eslint-plugin/package.json
  packages/eslint/CHANGELOG.md
  packages/eslint/package.json
  packages/git-tools/CHANGELOG.md
  packages/git-tools/package.json
  packages/linting-tools/CHANGELOG.md
  packages/linting-tools/package.json
  packages/prettier/CHANGELOG.md
  packages/prettier/package.json
  packages/testing-tools/CHANGELOG.md
  packages/testing-tools/package.json
  packages/workspace-tools/CHANGELOG.md
  packages/workspace-tools/package.json
Due: readme

fix(build-tools): Resolved issue iterating unbuild entry files
  packages/build-tools/README.md
  packages/build-tools/src/config/get-unbuild-config.ts
  packages/eslint/README.md
  packages/git-tools/README.md
  packages/tsconfig/README.md
  packages/workspace-tools/src/executors/tsup/executor.ts
Due: readme

chore(release): Publish monorepo release updates
  packages/build-tools/CHANGELOG.md
  packages/build-tools/package.json
  packages/eslint-plugin-graphql/package.json
  packages/eslint-plugin-react/package.json
  packages/eslint/CHANGELOG.md
  packages/eslint/package.json
  packages/git-tools/CHANGELOG.md
  packages/git-tools/package.json
  packages/tsconfig/CHANGELOG.md
  packages/tsconfig/package.json
  packages/workspace-tools/CHANGELOG.md
  packages/workspace-tools/package.json
Due: readme

fix(git-tools): Resolved issue when `commitlint` is called without a `message` parameter
  packages/build-tools/README.md
  packages/cloudflare-tools/README.md
  packages/eslint-config/README.md
  packages/eslint-plugin/README.md
  packages/eslint/README.md
  packages/git-tools/README.md
  packages/git-tools/src/commitlint/run-lint.ts
  packages/linting-tools/README.md
  packages/prettier/README.md
  packages/testing-tools/README.md
  packages/workspace-tools/README.md
Due: readme

feat(git-tools): Update `commitlint` to warn users when no commit message is provided instead of throwing errors
  packages/build-tools/README.md
  packages/eslint/README.md
  packages/git-tools/README.md
  packages/git-tools/src/commitlint/run-lint.ts
  packages/tsconfig/README.md
  packages/workspace-tools/README.md
Due: readme

feat(git-tools): Ensure `.git/COMMIT_EDITMSG` exists before reading from disk
  packages/build-tools/README.md
  packages/cloudflare-tools/README.md
  packages/eslint-config/README.md
  packages/eslint-plugin/README.md
  packages/eslint/README.md
  packages/git-tools/README.md
  packages/git-tools/src/commitlint/run-lint.ts
  packages/linting-tools/README.md
  packages/prettier/README.md
  packages/testing-tools/README.md
  packages/workspace-tools/README.md
Due: readme

feat(eslint): Added initial typinges for the distribution package
  packages/build-tools/README.md
  packages/eslint/README.md
  packages/eslint/declarations.d.ts
  packages/eslint/package.json
  packages/eslint/project.json
  packages/eslint/src/preset.ts
  packages/git-tools/README.md
  packages/tsconfig/README.md
  packages/workspace-tools/README.md
Due: readme
