Repository storm-software/storm-ops: changes, and which lefthook commands are due for each by the changed paths.
All: prebuild, validate, format, postbuild

prebuild:
  run: pnpm build
  stage_fixed: true

validate:
  run: node ./dist/packages/git-tools/bin/pre-commit.js {staged_files}
  stage_fixed: true

format:
  run: pnpm biome:format {staged_files} && git update-index

postbuild:
  run: pnpm build
  stage_fixed: true

fix(git-tools): Updated logging in the Storm-Git release hook
  .github/workflows/cr.yml
  packages/git-tools/src/cli/index.ts
  packages/git-tools/src/release/nx-release.ts
Due: prebuild, validate, postbuild

chore(monorepo): Release latest workspace packages [skip ci]
  CHANGELOG.md
  package.json
  packages/config-tools/CHANGELOG.md
  packages/config-tools/package.json
  packages/config/CHANGELOG.md
  packages/config/package.json
  packages/create-storm-workspace/CHANGELOG.md
  packages/create-storm-workspace/package.json
  packages/design-tools/CHANGELOG.md
  packages/design-tools/package.json
  packages/git-tools/CHANGELOG.md
  packages/git-tools/package.json
  packages/linting-tools/CHANGELOG.md
  packages/linting-tools/package.json
  packages/testing-tools/CHANGELOG.md
  packages/testing-tools/package.json
  packages/workspace-tools/CHANGELOG.md
  packages/workspace-tools/package.json
Due: prebuild, validate, format, postbuild

fix(storm-ops): Update monorepo's nx dependencies to latest
  .env
  package.json
  packages/git-tools/src/release/nx-release.ts
  pnpm-lock.yaml
Due: prebuild, validate, postbuild

fix(storm-ops): Remove `NX_ADD_PLUGINS` environment variable's `false` value
  .env
Due: none

fix(workspace-tools): Update the repository packages to use Nx v18 infer tasks
  nx.json
  packages/create-storm-workspace/bin/index.ts
  packages/create-storm-workspace/package.json
  packages/git-tools/package.json
  packages/testing-tools/package.json
  packages/testing-tools/project.json
  packages/workspace-tools/config/nx.json
  packages/workspace-tools/package.json
  packages/workspace-tools/project.json
  packages/workspace-tools/src/generators/preset/generator.ts
  packages/workspace-tools/src/generators/preset/schema.d.ts
  packages/workspace-tools/src/utils/versions.ts
  pnpm-lock.yaml
Due: prebuild, validate, format, postbuild

ci(storm-ops): Update the setup action to use `--no-frozen-lockfile` flag on install
  .github/actions/setup-workspace/action.yaml
  pnpm-lock.yaml
Due: prebuild, validate, postbuild

fix(git-tools): Fixes to the Storm-Git release process
  nx.json
  packages/git-tools/src/release/nx-release.ts
  packages/workspace-tools/config/nx.json
Due: prebuild, validate, postbuild

fix(git-tools): Resolved issues with missing extensions on Nx imports
  packages/git-tools/src/release/nx-release.ts
Due: prebuild, validate, postbuild

fix(git-tools): Cleaned up the release process logging
  packages/git-tools/src/release/nx-release.ts
Due: prebuild, validate, postbuild

fix(git-tools): Resolve unused dependency linting error
  packages/git-tools/src/release/nx-release.ts
Due: prebuild, validate, postbuild

fix(workspace-tools): Resolved issue in root nx.json file's release version config
  nx.json
  packages/workspace-tools/config/nx.json
Due: prebuild, validate, postbuild

fix(storm-ops): Resolve release config issues with base project.json
  nx.json
  packages/testing-tools/package.json
  packages/workspace-tools/config/nx.json
  project.json
Due: prebuild, validate, format, postbuild

fix(git-tools): Added logic to filter out the root/monorepo project
  packages/git-tools/src/release/nx-release.ts
Due: prebuild, validate, postbuild

fix(git-tools): Resolve issue filtering released projects
  packages/git-tools/src/release/nx-release.ts
Due: prebuild, validate, postbuild

fix(workspace-tools): Added the `release-version` generator
  nx.json
  packages/create-storm-workspace/project.json
  packages/create-storm-workspace/tsconfig.json
  packages/git-tools/src/release/nx-release.ts
  packages/workspace-tools/generators.json
  packages/workspace-tools/index.ts
  packages/workspace-tools/package.json
  packages/workspace-tools/project.json
  packages/workspace-tools/src/generators/release-version/generator.spec.ts
  packages/workspace-tools/src/generators/release-version/generator.ts
  packages/workspace-tools/src/generators/release-version/schema.d.ts
  packages/workspace-tools/src/generators/release-version/schema.json
  pnpm-lock.yaml
Due: prebuild, validate, format, postbuild

fix(workspace-tools): Resolved issue with jest test
  packages/workspace-tools/src/generators/release-version/generator.spec.ts
Due: prebuild, validate, postbuild

fix(create-storm-workspace): Resolve lint issue with `project.json` file
  packages/create-storm-workspace/project.json
Due: prebuild, validate, postbuild

fix(workspace-tools): Resolved issue with bad executor name
  packages/workspace-tools/src/generators/release-version/schema.json
Due: prebuild, validate, postbuild

fix(workspace-tools): Updated the root `nx.json` file's `release` configuration
  packages/workspace-tools/config/nx.json
Due: prebuild, validate, postbuild

fix(workspace-tools): Resolved issue with incorrectly configured `nx.json` files
  nx.json
  packages/workspace-tools/config/nx.json
Due: prebuild, validate, postbuild

fix(config-tools): Updated config parsing to prioritize `storm.config.json` over env values
  .env
  packages/config-tools/src/create-storm-config.ts
  packages/config-tools/src/types.ts
  packages/config-tools/src/utilities/logger.ts
  packages/workspace-tools/src/generators/release-version/generator.ts
  storm.config.js
Due: prebuild, validate, postbuild

fix(config-tools): Cleaned up logging utility dependencies
  package.json
  packages/config-tools/src/utilities/logger.ts
  packages/config-tools/tsconfig.json
  packages/workspace-tools/package.json
  packages/workspace-tools/src/generators/node-library/generator.ts
  pnpm-lock.yaml
  tsconfig.base.json
Due: prebuild, validate, format, postbuild

fix(workspace-tools): Ensure monorepo project is filtered out of dependency calculations
  packages/config-tools/src/utilities/logger.ts
  packages/workspace-tools/project.json
  packages/workspace-tools/src/generators/release-version/generator.ts
Due: prebuild, validate, postbuild

fix(workspace-tools): Added extra logging to the `release-version` generator
  packages/workspace-tools/src/generators/release-version/generator.ts
Due: prebuild, validate, postbuild

fix(git-tools): Added custom implementation of release version processing
  packages/git-tools/src/release/nx-release.ts
  packages/git-tools/src/release/nx-version.ts
Due: prebuild, validate, postbuild

fix(git-tools): Added additional logging to the release process
  packages/git-tools/src/release/nx-release.ts
  packages/git-tools/src/release/nx-version.ts
  packages/workspace-tools/src/generators/release-version/generator.ts
Due: prebuild, validate, postbuild

fix(config-tools): Update imports of chalk dependency
  packages/config-tools/src/utilities/logger.ts
Due: prebuild, validate, postbuild

fix(workspace-tools): Ensure we filter out workspace root project in release versioning
  packages/git-tools/src/release/nx-release.ts
  packages/workspace-tools/src/generators/release-version/generator.ts
Due: prebuild, validate, postbuild

fix(workspace-tools): Default workspace root for root `project.json` config's `projectRoot` value
  nx.json
  packages/workspace-tools/config/nx.json
  packages/workspace-tools/src/generators/release-version/generator.ts
  storm.config.js
Due: prebuild, validate, postbuild

fix(storm-ops): Update workspace's `nx.json` to use default `releaseTagPattern` value
  nx.json
Due: none

fix(storm-ops): Update the `project.json` config with overrides for publish
  project.json
Due: none

fix(storm-ops): Update release config to filter out root project
  nx.json
  project.json
Due: none

fix(git-tools): Ensure empty objects are handled correctly
  packages/git-tools/src/release/nx-release.ts
  packages/git-tools/src/release/nx-version.ts
Due: prebuild, validate, postbuild

fix(workspace-tools): Resolved issue where return values were expected in generator
  packages/git-tools/src/release/nx-version.ts
  packages/workspace-tools/src/base/base-generator.ts
Due: prebuild, validate, postbuild

fix(git-tools): Resolved linting issues with previous commit
  packages/git-tools/src/release/nx-version.ts
Due: prebuild, validate, postbuild

fix(workspace-tools): Update `nx.json` config to use the `skipLockFileUpdate` value
  nx.json
  packages/workspace-tools/config/nx.json
Due: prebuild, validate, postbuild

fix(workspace-tools): Updated default for `specifierSource` to be `conventional-commits`
  packages/workspace-tools/src/generators/release-version/schema.json
Due: prebuild, validate, postbuild

fix(git-tools): Ensure we only stage the file during changelog renderer
  packages/git-tools/src/release/nx-release.ts
Due: prebuild, validate, postbuild

feat(storm-ops): Added `storm.config.js` file to workspace's `sharedGlobals`
  .env
  .github/ISSUE_TEMPLATE/config.yml
  nx.json
  packages/workspace-tools/src/generators/release-version/schema.json
  storm.config.js
Due: prebuild, validate, postbuild

fix(workspace-tools): Point the `nx.json` to the Storm ChangeLogRenderer class
  nx.json
  packages/git-tools/CHANGELOG.md
  packages/git-tools/src/changelog-renderer/changelog-renderer.ts
  packages/workspace-tools/config/nx.json
Due: prebuild, validate, postbuild

Path conditions:
  prebuild: any of: **/*.*
  validate: any of: **/*.*
  format: any of: **/{README.md,package.json}
  postbuild: any of: **/*.*
