Repository storm-software/storm-ops: changes, and which lefthook commands are due for each by the changed paths.
All: prebuild, validate, format, postbuild

lefthook.yml:

#
#   Refer for explanation to following link:
#   https://github.com/evilmartians/lefthook/blob/master/docs/configuration.md
#

assert_lefthook_installed: true
colors: true
no_tty: false
min_version: 1.5.0

pre-install:
  commands:
    validate:
      glob: "**/*.*"
      run: "node ./dist/packages/git-tools/bin/pre-install.js"

prepare:
  commands:
    validate:
      glob: "**/*.*"
      run: "node ./dist/packages/git-tools/bin/prepare.js"

pre-commit:
  piped: true
  commands:
    prepare:
      files: "git diff --name-only HEAD @{push}"
      glob: "**/{lefthook.yml,biome.json}"
      run: "pnpm lefthook install"
    prebuild:
      glob: "**/*.*"
      run: "pnpm build"
      stage_fixed: true
    validate:
      glob: "**/*.*"
      run: "node ./dist/packages/git-tools/bin/pre-commit.js {staged_files}"
      stage_fixed: true
    lint:
      files: "git diff --name-only HEAD @{push}"
      glob: "**/*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: "pnpm lint && git update-index"
    check:
      files: "git diff --name-only HEAD @{push}"
      glob: "**/*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: "pnpm biome:check {staged_files} && git update-index"
    readme:
      files: "git diff --name-only HEAD @{push}"
      glob: "**/{README.md,package.json}"
      run: "node ./dist/packages/git-tools/bin/git.js readme-gen --templates=\"dist/packages/git-tools/readme/templates\" && git update-index"
    format:
      glob: "**/{README.md,package.json}"
      run: "pnpm biome:format {staged_files} && git update-index"
    postbuild:
      glob: "**/*.*"
      run: "pnpm build"
      stage_fixed: true

commit-msg:
  commands:
    validate:
      run: "npx commitlint --config dist/packages/git-tools/commitlint.config.cjs --edit {1}"

pre-push:
  piped: true
  commands:
    validate:
      files: "git diff --name-only HEAD @{push}"
      glob: "**/*.*"
      run: "node ./dist/packages/git-tools/hooks/pre-push.js {files} && git update-index"
    lint:
      files: "git diff --name-only HEAD @{push}"
      glob: "**/*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: "pnpm biome:lint {files} && git update-index"

post-merge:
  commands:
    validate:
      glob: "**/*.*"
      run: "node ./dist/packages/git-tools/bin/post-merge.js {staged_files}"
      stage_fixed: true

post-checkout:
  commands:
    validate:
      glob: "**/*.*"
      run: "node ./dist/packages/git-tools/bin/post-checkout.js {staged_files}"

post-commit:
  commands:
    validate:
      glob: "**/*.*"
      run: "node ./dist/packages/git-tools/bin/post-commit.js {staged_files}"

fix(git-tools): Updates to the release tag processing
  nx.json
  packages/git-tools/src/release/nx-release.ts
Due: prebuild, validate, postbuild

chore(release): Publish release updates
  packages/git-tools/CHANGELOG.md
  packages/git-tools/package.json
Due: prebuild, validate, format, postbuild

fix(git-tools): Updates to git release workflow processing
  packages/git-tools/src/release/nx-release.ts
Due: prebuild, validate, postbuild

fix(git-tools): Add skip ci to the commit message
  packages/git-tools/src/release/nx-release.ts
Due: prebuild, validate, postbuild

fix(git-tools): Temporary removal of commit message skip
  packages/git-tools/src/release/nx-release.ts
Due: prebuild, validate, postbuild

fix(git-tools): Update release processing to skip second commit
  packages/git-tools/src/release/nx-release.ts
Due: prebuild, validate, postbuild

fix(git-tools): Update versioning to no longer apply git tag
  packages/git-tools/src/release/nx-release.ts
Due: prebuild, validate, postbuild

chore(release): Publish monorepo release updates
  packages/git-tools/CHANGELOG.md
  packages/git-tools/package.json
Due: prebuild, validate, format, postbuild

fix(workspace-tools): Added esbuild to externals list
  packages/workspace-tools/project.json
Due: prebuild, validate, postbuild

chore(release): Publish monorepo release updates
  packages/workspace-tools/CHANGELOG.md
  packages/workspace-tools/package.json
Due: prebuild, validate, format, postbuild

fix(workspace-tools): Update build compiler parameters
  packages/config-tools/README.md
  packages/config/README.md
  packages/create-storm-workspace/README.md
  packages/git-tools/README.md
  packages/linting-tools/README.md
  packages/linting-tools/src/tsconfig/tsconfig.root.json
  packages/testing-tools/README.md
  packages/workspace-tools/README.md
  packages/workspace-tools/project.json
  packages/workspace-tools/src/utils/run-tsup-build.ts
Due: prebuild, validate, format, postbuild

chore(release): Publish monorepo release updates
  packages/config-tools/CHANGELOG.md
  packages/config-tools/package.json
  packages/config/CHANGELOG.md
  packages/config/package.json
  packages/create-storm-workspace/CHANGELOG.md
  packages/create-storm-workspace/package.json
  packages/git-tools/CHANGELOG.md
  packages/git-tools/package.json
  packages/linting-tools/CHANGELOG.md
  packages/linting-tools/package.json
  packages/testing-tools/CHANGELOG.md
  packages/testing-tools/package.json
  packages/workspace-tools/CHANGELOG.md
  packages/workspace-tools/package.json
Due: prebuild, validate, format, postbuild

fix(linting-tools): Various updates to module resolution
  package.json
  packages/linting-tools/src/tsconfig/tsconfig.root.json
  packages/workspace-tools/package.json
  packages/workspace-tools/project.json
  pnpm-lock.yaml
  tsconfig.base.json
Due: prebuild, validate, format, postbuild

chore(release): Publish monorepo release updates
  packages/linting-tools/CHANGELOG.md
  packages/linting-tools/package.json
  packages/workspace-tools/CHANGELOG.md
  packages/workspace-tools/package.json
  tsconfig.base.json
Due: prebuild, validate, format, postbuild

fix(workspace-tools): Added the libs declaration files
  biome.json
  packages/workspace-tools/libs/lib.dom.d.ts
  packages/workspace-tools/libs/lib.dom.iterable.d.ts
  packages/workspace-tools/libs/lib.esnext.d.ts
  packages/workspace-tools/project.json
Due: prebuild, validate, postbuild

fix(storm-ops): Updated the source file analyzer options
  nx.json
Due: none

fix(storm-ops): Update node version used by workspace
  .github/.nvmrc
  package.json
Due: prebuild, validate, postbuild

fix(storm-ops): Update envs for release action
  package.json
Due: none

feat(storm-ops): Major updates to tsconfig values
  .github/.nvmrc
  nx.json
  package.json
  packages/config-tools/tsconfig.json
  packages/config/tsconfig.json
  packages/git-tools/project.json
  packages/git-tools/tsconfig.json
  packages/git-tools/tsconfig.lib.json
  packages/linting-tools/package.json
  packages/linting-tools/src/tsconfig/tsconfig.root.json
  packages/linting-tools/tsconfig.json
  packages/linting-tools/tsconfig.lib.json
  packages/workspace-tools/project.json
  pnpm-lock.yaml
  tsconfig.base.json
Due: prebuild, validate, format, postbuild

fix(storm-ops): Updated the Nx.json changelog renderer
  nx.json
Due: none

fix(storm-ops): Removed `changelogRenderer` from the configuration
  nx.json
Due: none

chore(release): Publish monorepo release updates
  packages/config-tools/CHANGELOG.md
  packages/config-tools/package.json
  packages/config/CHANGELOG.md
  packages/config/package.json
  packages/git-tools/CHANGELOG.md
  packages/git-tools/package.json
  packages/linting-tools/CHANGELOG.md
  packages/linting-tools/package.json
  packages/workspace-tools/CHANGELOG.md
  packages/workspace-tools/package.json
  pnpm-lock.yaml
  tsconfig.base.json
Due: prebuild, validate, format, postbuild

feat(tsconfig): Added package to contain default base tsconfig files
  nx.json
  packages/config-tools/src/env/set-env.ts
  packages/config-tools/src/utilities/get-log-level.ts
  packages/config-tools/src/utilities/logger.ts
  packages/linting-tools/package.json
  packages/tsconfig/.eslintrc.json
  packages/tsconfig/README.md
  packages/tsconfig/package.json
  packages/tsconfig/project.json
  packages/tsconfig/src/index.ts
  packages/tsconfig/src/reset.d.ts
  packages/tsconfig/src/root.json
  packages/tsconfig/tsconfig.json
  packages/workspace-tools/src/base/base-executor.ts
  packages/workspace-tools/src/base/base-generator.ts
  packages/workspace-tools/src/base/typescript-library-generator.ts
  packages/workspace-tools/src/executors/npm-publish/executor.ts
  packages/workspace-tools/src/executors/tsup/executor.ts
  packages/workspace-tools/src/executors/tsup/schema.d.ts
  packages/workspace-tools/src/executors/tsup/schema.json
  packages/workspace-tools/src/generators/config-schema/generator.ts
  packages/workspace-tools/src/generators/release-version/generator.ts
  packages/workspace-tools/src/utils/apply-workspace-tokens.ts
  packages/workspace-tools/src/utils/file-path-utils.ts
  packages/workspace-tools/src/utils/find-cache-dir.ts
  packages/workspace-tools/src/utils/get-project-configurations.ts
  packages/workspace-tools/src/utils/get-project-deps.ts
  packages/workspace-tools/src/utils/index.ts
  packages/workspace-tools/src/utils/run-tsup-build.ts
  packages/workspace-tools/src/utils/workspace-storage.ts
  packages/workspace-tools/tsconfig.lib.json
  pnpm-lock.yaml
  project.json
  tsconfig.base.json
Due: prebuild, validate, format, postbuild

fix(git-tools): Resolved linting issues with the nx-version module
  package.json
  packages/config-tools/README.md
  packages/config/README.md
  packages/create-storm-workspace/README.md
  packages/git-tools/README.md
  packages/git-tools/src/release/nx-version.ts
  packages/linting-tools/README.md
  packages/testing-tools/README.md
  packages/workspace-tools/README.md
Due: prebuild, validate, format, postbuild

chore(release): Publish monorepo release updates
  packages/config-tools/CHANGELOG.md
  packages/config-tools/package.json
  packages/config/CHANGELOG.md
  packages/config/package.json
  packages/create-storm-workspace/CHANGELOG.md
  packages/create-storm-workspace/package.json
  packages/git-tools/CHANGELOG.md
  packages/git-tools/package.json
  packages/linting-tools/CHANGELOG.md
  packages/linting-tools/package.json
  packages/testing-tools/CHANGELOG.md
  packages/testing-tools/package.json
  packages/workspace-tools/CHANGELOG.md
  packages/workspace-tools/package.json
  tsconfig.base.json
Due: prebuild, validate, format, postbuild

fix(config-tools): Update config loading to ensure workspace root is set properly
  packages/config-tools/src/config-file/get-config-file.ts
  packages/config-tools/src/utilities/find-workspace-root.ts
Due: prebuild, validate, postbuild

chore(release): Publish monorepo release updates
  packages/config-tools/CHANGELOG.md
  packages/config-tools/package.json
Due: prebuild, validate, format, postbuild

fix(workspace-tools): Resolve issue with bad entry path
  packages/workspace-tools/src/utils/file-path-utils.ts
  packages/workspace-tools/src/utils/run-tsup-build.ts
  packages/workspace-tools/tsconfig.lib.json
Due: prebuild, validate, postbuild

fix(workspace-tools): Remove `entry` from the tsconfig for dts build
  packages/workspace-tools/src/utils/run-tsup-build.ts
Due: prebuild, validate, postbuild

fix(workspace-tools): Removed updated workspace root from compiler config
  packages/workspace-tools/src/utils/run-tsup-build.ts
Due: prebuild, validate, postbuild

fix(workspace-tools): Remove invalid options from tsconfig for dts build
  packages/workspace-tools/src/utils/run-tsup-build.ts
Due: prebuild, validate, postbuild

fix(workspace-tools): Update bundler to use rollup
  package.json
  packages/workspace-tools/libs/lib.dom.d.ts
  packages/workspace-tools/libs/lib.dom.iterable.d.ts
  packages/workspace-tools/libs/lib.esnext.d.ts
  packages/workspace-tools/package.json
  packages/workspace-tools/project.json
  packages/workspace-tools/tsconfig.lib.json
  pnpm-lock.yaml
Due: prebuild, validate, format, postbuild

fix(workspace-tools): Update the build executor back to esbuild
  packages/config-tools/README.md
  packages/config/README.md
  packages/create-storm-workspace/README.md
  packages/git-tools/README.md
  packages/linting-tools/README.md
  packages/testing-tools/README.md
  packages/workspace-tools/README.md
  packages/workspace-tools/project.json
Due: prebuild, validate, format, postbuild

fix(workspace-tools): Resolved issue with missing index.ts entry point
  packages/workspace-tools/project.json
Due: prebuild, validate, postbuild
