Repository storm-software/storm-ops: changes, and which lefthook commands are due for each by the changed paths.
All: validate, check, readme, format, build

lefthook.yml:

#
#   Refer for explanation to following link:
#   https://github.com/evilmartians/lefthook/blob/master/docs/configuration.md
#

assert_lefthook_installed: true
colors: true
no_tty: false
min_version: 1.5.0

pre-install:
  commands:
    validate:
      glob: "**/*.*"
      run: "zx ./dist/packages/git-tools/scripts/pre-install.mjs"
prepare:
  commands:
    validate:
      glob: "**/*.*"
      run: "zx ./dist/packages/git-tools/scripts/prepare.mjs"

pre-commit:
  piped: true
  commands:
    validate:
      glob: "**/*.*"
      run: "zx ./dist/packages/git-tools/hooks/pre-commit.mjs {staged_files}"
      stage_fixed: true
    lint-storm:
      files: "git diff --name-only HEAD @{push}"
      glob: "**/*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: "pnpm lint && git update-index"
    check:
      glob: "**/*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: "pnpm biome:check {staged_files} && git update-index"
    readme:
      glob: "**/{README.md,package.json}"
      run: "zx ./dist/packages/git-tools/bin/cli.mjs readme-gen --templates=\"dist/packages/git-tools/readme/templates\" && git update-index"
    format:
      glob: "**/{README.md,package.json}"
      run: "pnpm biome:format {staged_files} && git update-index"
    build:
      glob: "**/*.*"
      run: "pnpm build"
      stage_fixed: true

commit-msg:
  commands:
    validate:
      run: "npx commitlint --config dist/packages/git-tools/commitlint.config.cjs --edit {1}"

pre-push:
  piped: true
  commands:
    validate:
      files: "git diff --name-only HEAD @{push}"
      glob: "**/*.*"
      run: "zx ./dist/packages/git-tools/hooks/pre-push.mjs {files}"
    lint:
      files: "git diff --name-only HEAD @{push}"
      glob: "**/*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: "pnpm biome:lint {files} && git update-index"

post-merge:
  commands:
    validate:
      glob: "**/*.*"
      run: "zx ./dist/packages/git-tools/hooks/post-merge.mjs {staged_files}"
      stage_fixed: true

post-checkout:
  commands:
    validate:
      glob: "**/*.*"
      run: "zx ./dist/packages/git-tools/hooks/post-checkout.mjs {staged_files}"

post-commit:
  commands:
    validate:
      glob: "**/*.*"
      run: "zx ./dist/packages/git-tools/hooks/post-commit.mjs {staged_files}"

chore(workspace-tools): workspace-tools-v1.43.17 [skip ci]
  packages/workspace-tools/CHANGELOG.md
  packages/workspace-tools/package.json
Due: validate, check, readme, format, build

Notes added by 'git notes add'
  f6/51782a1d3101e57b4acecdf53390c32bd11b4b
Due: none

chore(create-storm-workspace): create-storm-workspace-v1.43.16 [skip ci]
  packages/create-storm-workspace/CHANGELOG.md
  packages/create-storm-workspace/package.json
Due: validate, check, readme, format, build

Notes added by 'git notes add'
  fa/41ce782c1c85f069ef5a9d3a739f502efec610
Due: none

chore(linting-tools): linting-tools-v1.26.14 [skip ci]
  packages/linting-tools/CHANGELOG.md
  packages/linting-tools/package.json
Due: validate, check, readme, format, build

Notes added by 'git notes add'
  b0/54c37c056e107267c684fe97c8f3271cfaf319
Due: none

chore(git-tools): git-tools-v1.24.14 [skip ci]
  packages/git-tools/CHANGELOG.md
  packages/git-tools/package.json
Due: validate, check, readme, format, build

Notes added by 'git notes add'
  52/33ad736339dcd727ab8ec97042fbcf249dca2b
Due: none

chore(design-tools): design-tools-v1.6.5 [skip ci]
  packages/design-tools/CHANGELOG.md
  packages/design-tools/package.json
Due: validate, check, readme, format, build

Notes added by 'git notes add'
  51/08d3bf9d4fd7966beb83c7ba234af239d6123c
Due: none

chore(testing-tools): testing-tools-v1.22.5 [skip ci]
  packages/testing-tools/CHANGELOG.md
  packages/testing-tools/package.json
Due: validate, check, readme, format, build

Notes added by 'git notes add'
  4f/a849c4c56018fb121ac1504338e7249b70648d
Due: none

fix(workspace-tools): Removed call to transformer in nx typescript options formatter
  packages/workspace-tools/src/executors/tsup/executor.ts
Due: validate, check, build

chore(workspace-tools): workspace-tools-v1.43.18 [skip ci]
  packages/workspace-tools/CHANGELOG.md
  packages/workspace-tools/package.json
Due: validate, check, readme, format, build

Notes added by 'git notes add'
  0e/c8bfb48cb05c90dd5a5c17ca666ed57e90d84a
Due: none

chore(create-storm-workspace): create-storm-workspace-v1.43.17 [skip ci]
  packages/create-storm-workspace/CHANGELOG.md
  packages/create-storm-workspace/package.json
Due: validate, check, readme, format, build

Notes added by 'git notes add'
  fb/c57cd10d588978b8fadf1c707cfd6585b14e4e
Due: none

fix(workspace-tools): Ensure correct minify option is passed into tsup build
  packages/workspace-tools/src/base/get-tsup-config.ts
  packages/workspace-tools/src/executors/tsup-browser/get-config.ts
  packages/workspace-tools/src/executors/tsup-neutral/get-config.ts
  packages/workspace-tools/src/executors/tsup-node/get-config.ts
  packages/workspace-tools/src/executors/tsup/executor.ts
  packages/workspace-tools/src/executors/tsup/schema.d.ts
  packages/workspace-tools/src/executors/tsup/schema.json
Due: validate, check, build

chore(create-storm-workspace): create-storm-workspace-v1.43.18 [skip ci]
  packages/create-storm-workspace/CHANGELOG.md
  packages/create-storm-workspace/package.json
Due: validate, check, readme, format, build

Notes added by 'git notes add'
  bc/3a4d7d472fb9d6eff7d1268e605d587c4d4f22
Due: none

chore(workspace-tools): workspace-tools-v1.43.19 [skip ci]
  packages/workspace-tools/CHANGELOG.md
  packages/workspace-tools/package.json
Due: validate, check, readme, format, build

Notes added by 'git notes add'
  c2/8076c61682928ce7cb9ba501f1f5f51121f402
Due: none

fix(workspace-tools): Removed inner try-catch from tsup build
  packages/workspace-tools/src/executors/tsup/executor.ts
Due: validate, check, build

chore(create-storm-workspace): create-storm-workspace-v1.43.19 [skip ci]
  packages/create-storm-workspace/CHANGELOG.md
  packages/create-storm-workspace/package.json
Due: validate, check, readme, format, build

Notes added by 'git notes add'
  e7/742c6ff269d18d17d3c85ff9aaacf78956b838
Due: none

chore(workspace-tools): workspace-tools-v1.43.20 [skip ci]
  packages/workspace-tools/CHANGELOG.md
  packages/workspace-tools/package.json
Due: validate, check, readme, format, build

Notes added by 'git notes add'
  68/a8dffbe8022db83d03cf4ae6d831ebaae42ca9
Due: none

fix(linting-tools): Updated ignored files in biome linter
  .vscode/settings.json
  packages/linting-tools/src/biome/biome.json
  packages/workspace-tools/src/generators/preset/files/.vscode/settings.json
Due: validate, check, build

chore(create-storm-workspace): create-storm-workspace-v1.43.20 [skip ci]
  packages/create-storm-workspace/CHANGELOG.md
  packages/create-storm-workspace/package.json
Due: validate, check, readme, format, build

Notes added by 'git notes add'
  45/6f1e64d9a69cb6ef25b49951e90481116af266
Due: none

chore(linting-tools): linting-tools-v1.26.15 [skip ci]
  packages/linting-tools/CHANGELOG.md
  packages/linting-tools/package.json
Due: validate, check, readme, format, build

Notes added by 'git notes add'
  8b/188e69df22e46a0898499cac31f36d61a3b377
Due: none

chore(workspace-tools): workspace-tools-v1.43.21 [skip ci]
  packages/workspace-tools/CHANGELOG.md
  packages/workspace-tools/package.json
Due: validate, check, readme, format, build

Notes added by 'git notes add'
  54/1e3dd5f2474b48102ab024fd760224906d7330
Due: none

chore(testing-tools): testing-tools-v1.22.6 [skip ci]
  packages/testing-tools/CHANGELOG.md
  packages/testing-tools/package.json
Due: validate, check, readme, format, build

Notes added by 'git notes add'
  3c/6bb8ff046694030229ccf4b940a2a03ca012d0
Due: none

chore(config-tools): config-tools-v1.15.15 [skip ci]
  packages/config-tools/CHANGELOG.md
  packages/config-tools/package.json
Due: validate, check, readme, format, build

Notes added by 'git notes add'
  70/613f51b59831af002e773c69020692a569109a
Due: none

chore(git-tools): git-tools-v1.24.15 [skip ci]
  packages/git-tools/CHANGELOG.md
  packages/git-tools/package.json
Due: validate, check, readme, format, build

Notes added by 'git notes add'
  9d/f8a8bbdea3de2cac8b4aaef0d8c91df5260498
Due: none
