Repository storm-software/storm-ops: changes, and which lefthook commands are due for each by the changed paths.
All: prepare, schema-gen, readme

lefthook.yml:

#
#   Refer for explanation to following link:
#   https://github.com/evilmartians/lefthook/blob/master/docs/configuration.md
#

assert_lefthook_installed: true
colors: true
no_tty: false
min_version: 1.5.0

pre-install:
  commands:
    validate:
      glob: "**/*"
      run: "node ./dist/packages/git-tools/bin/pre-install.js"

prepare:
  commands:
    validate:
      glob: "**/*"
      run: "node ./dist/packages/git-tools/bin/prepare.js"

pre-commit:
  piped: true
  commands:
    prepare:
      glob: "**/{lefthook.yml,biome.json}"
      run: "pnpm lefthook install"
      stage_fixed: true
    schema-gen:
      glob: "packages/config/src/schema.ts"
      run: 'pnpm nx generate @storm-software/workspace-tools:config-schema
        --outputFile="./packages/config/schemas/storm.schema.json"'
      stage_fixed: true
    validate:
      files: "git diff --name-only HEAD @{push}"
      glob: "**/*"
      run: "node ./dist/packages/git-tools/bin/pre-commit.js {files}"
      stage_fixed: true
    # lint:
    #   files: "git diff --name-only HEAD @{push}"
    #   glob: "**/*.{js,ts,rs,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
    #   run: "pnpm lint"
    # check:
    #   files: "git diff --name-only HEAD @{push}"
    #   glob: "**/*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
    #   run: "pnpm exec prettier {staged_files} --check --ignore-unknown --no-error-on-unmatched-pattern --cache"
    # toml:
    #   files: "git diff --name-only HEAD @{push}"
    #   glob: "**/*.{toml}"
    #   run: "pnpm format-toml"
    readme:
      glob: "**/{README.md,README.*.md,readme/**/*,package.json,executors.json,generators.json}"
      run: "pnpm format-readme"
      stage_fixed: true
    format:
      files: "git diff --name-only HEAD @{push}"
      glob: "**/*"
      exclude: "packages/workspace-tools/src/generators/*/files/**/*"
      run: "pnpm exec prettier {files} --write --ignore-unknown
        --no-error-on-unmatched-pattern --cache"
      stage_fixed: true
    # postbuild:
    #   files: "git diff --name-only HEAD @{push}"
    #   glob: "**/*"
    #   run: "pnpm build-all"

commit-msg:
  commands:
    validate:
      run: 'pnpm exec commitlint
        --config="./dist/packages/git-tools/commitlint/commitlint.config.cjs"
        --edit {1}'

pre-push:
  piped: true
  commands:
    validate:
      files: "git diff --name-only HEAD @{push}"
      glob: "**/*"
      run: "node ./dist/packages/git-tools/bin/pre-push.js {files}"
      stage_fixed: true
    format:
      files: "git diff --name-only HEAD @{push}"
      glob: "!packages/workspace-tools/src/generators/*/files/**/*"
      run: "pnpm exec prettier {files} --write --ignore-unknown
        --no-error-on-unmatched-pattern --cache"
      stage_fixed: true
    build:
      glob: "**/*"
      run: "pnpm build-all"
      stage_fixed: true

post-merge:
  commands:
    validate:
      files: "git diff --name-only HEAD @{push}"
      glob: "**/*"
      run: "node ./dist/packages/git-tools/bin/post-merge.js {files}"
      stage_fixed: true

post-checkout:
  commands:
    validate:
      files: "git diff --name-only HEAD @{push}"
      glob: "**/*"
      run: "node ./dist/packages/git-tools/bin/post-checkout.js {files}"

post-commit:
  commands:
    validate:
      files: "git diff --name-only HEAD @{push}"
      glob: "**/*"
      run: "node ./dist/packages/git-tools/bin/post-commit.js {files}"

fix(storm-ops): Resolved issue with workflow permissions
  .github/workflows/autofix.yml
  .github/workflows/ci.yml
  .github/workflows/security.yml
  .github/workflows/syncpack.yml
Due: none

fix(storm-ops): Resolved issue with greetings workflow action
  .github/workflows/greetings.yml
Due: none

fix(storm-ops): Update syncpack workflow to trigger on `pull_request`
  .github/workflows/syncpack.yml
Due: none

feat(storm-ops): Added formatters to autofix workflow action
  .github/workflows/autofix.yml
  .github/workflows/ci.yml
  lefthook.yml
Due: none

fix(storm-ops): Removed lint tasks from the autofix workflow action
  .github/workflows/autofix.yml
  packages/workspace-tools/config/nx-cloud.json
  packages/workspace-tools/config/nx-default.json
  packages/workspace-tools/config/nx.json
Due: none

chore(release): Publish monorepo release updates
  packages/workspace-tools/CHANGELOG.md
  packages/workspace-tools/package.json
Due: readme

fix(storm-ops): Resolved issue with autofix build order
  .github/workflows/autofix.yml
  packages/workspace-tools/README.md
Due: readme

deps(cloudflare-tools): Update the Nx version used for package dependencies
  .github/workflows/greetings.yml
  packages/cloudflare-tools/package.json
  packages/cloudflare-tools/src/generators/init/generator.ts
  packages/cloudflare-tools/tsconfig.json
  pnpm-lock.yaml
Due: readme

fix(storm-ops): Resolved issue with ESM resolve error during postinstall script execution
  nx.json
  package.json
  packages/build-tools/package.json
  packages/cloudflare-tools/package.json
  packages/create-storm-workspace/package.json
  packages/eslint-config/package.json
  packages/eslint-plugin-graphql/package.json
  packages/eslint-plugin-react/package.json
  packages/eslint-plugin/package.json
  packages/eslint/package.json
  packages/git-tools/package.json
  packages/k8s-tools/package.json
  packages/prettier/package.json
  packages/terraform-tools/package.json
  packages/testing-tools/package.json
  packages/workspace-tools/config/nx-cloud.json
  packages/workspace-tools/config/nx-default.json
  packages/workspace-tools/config/nx.json
  packages/workspace-tools/package.json
  packages/workspace-tools/src/generators/preset/generator.ts
  pnpm-lock.yaml
  tsconfig.json
Due: readme

deps(storm-ops): Add the `^` prefix to Nx package versions
  package.json
  pnpm-lock.yaml
Due: none

deps(storm-ops): Upgrade Nx package to v20.2.2
  package.json
  packages/build-tools/package.json
  packages/cloudflare-tools/package.json
  packages/create-storm-workspace/package.json
  packages/eslint-config/package.json
  packages/eslint-plugin-graphql/package.json
  packages/eslint-plugin-react/package.json
  packages/eslint-plugin/package.json
  packages/eslint/package.json
  packages/git-tools/package.json
  packages/k8s-tools/package.json
  packages/linting-tools/src/syncpack/config.json
  packages/terraform-tools/package.json
  packages/testing-tools/package.json
  packages/workspace-tools/package.json
  packages/workspace-tools/src/generators/preset/generator.ts
  pnpm-lock.yaml
Due: readme

ci(storm-ops): Used the `ignore-scripts` input in setup action
  .github/workflows/ci.yml
Due: none

fix(build-tools): Resolved issue with `RollupOptions` type mismatch
  packages/build-tools/package.json
  packages/build-tools/src/types.ts
  packages/build-tools/src/utils/apply-default-options.ts
  pnpm-lock.yaml
Due: readme

ci(storm-ops): Update scripts to use `pnpm exec` instead of `pnpx` command
  crates/storm-config/Cargo.toml
  nx.json
  package.json
  packages/workspace-tools/config/nx-cloud.json
  packages/workspace-tools/config/nx-default.json
  packages/workspace-tools/config/nx.json
Due: none

fix(workspace-tools): Resolve issues with old `babel` plugin type definitions
  packages/config-tools/src/utilities/get-default-config.ts
  packages/workspace-tools/src/executors/rollup/utils/get-options.ts
  packages/workspace-tools/src/generators/preset/generator.ts
Due: none

chore(storm-ops): Reformat repository markdown files
  packages/build-tools/CHANGELOG.md
  packages/build-tools/README.md
  packages/config-tools/CHANGELOG.md
  packages/config-tools/README.md
  packages/config/CHANGELOG.md
  packages/config/README.md
  packages/testing-tools/CHANGELOG.md
  packages/testing-tools/README.md
  packages/workspace-tools/CHANGELOG.md
Due: readme

feat(linting-tools): Added `zizmor` configuration file and pre-commit script
  Cargo.toml
  lefthook.yml
  packages/git-tools/src/lefthook/config.yml
  packages/linting-tools/project.json
  packages/linting-tools/src/zizmor/config.yml
Due: none

fix(cloudflare-tools): Added validation to ensure AWS key environment variables exist for R2 upload
  packages/cloudflare-tools/src/executors/r2-upload-publish/executor.ts
Due: none

deps(storm-ops): Update `chalk` version to 4.1.0 to use commonjs
  packages/build-tools/package.json
  packages/config-tools/package.json
  pnpm-lock.yaml
Due: readme

chore(release): Publish monorepo release updates
  packages/build-tools/CHANGELOG.md
  packages/build-tools/package.json
  packages/cloudflare-tools/CHANGELOG.md
  packages/cloudflare-tools/package.json
  packages/config-tools/CHANGELOG.md
  packages/config-tools/package.json
  packages/create-storm-workspace/CHANGELOG.md
  packages/create-storm-workspace/package.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/eslint-plugin-graphql/CHANGELOG.md
  packages/eslint-plugin-graphql/package.json
  packages/eslint-plugin-react/CHANGELOG.md
  packages/eslint-plugin-react/package.json
  packages/eslint-plugin/CHANGELOG.md
  packages/eslint-plugin/package.json
  packages/eslint/CHANGELOG.md
  packages/eslint/package.json
  packages/git-tools/CHANGELOG.md
  packages/git-tools/package.json
  packages/k8s-tools/CHANGELOG.md
  packages/k8s-tools/package.json
  packages/linting-tools/CHANGELOG.md
  packages/linting-tools/package.json
  packages/prettier/CHANGELOG.md
  packages/prettier/package.json
  packages/terraform-tools/CHANGELOG.md
  packages/terraform-tools/package.json
  packages/testing-tools/CHANGELOG.md
  packages/testing-tools/package.json
  packages/workspace-tools/CHANGELOG.md
  packages/workspace-tools/package.json
Due: readme

feat(storm-ops): Improved descriptions and markdown across monorepo
  README.md
  packages/build-tools/CHANGELOG.md
  packages/build-tools/package.json
  packages/cloudflare-tools/package.json
  packages/config-tools/CHANGELOG.md
  packages/config/README.md
  packages/config/package.json
  packages/git-tools/package.json
  packages/k8s-tools/package.json
  packages/terraform-tools/package.json
  packages/testing-tools/CHANGELOG.md
  packages/tsconfig/package.json
  packages/workspace-tools/CHANGELOG.md
  packages/workspace-tools/package.json
Due: readme

chore(release): Publish monorepo release updates
  packages/build-tools/CHANGELOG.md
  packages/build-tools/package.json
  packages/cloudflare-tools/CHANGELOG.md
  packages/cloudflare-tools/package.json
  packages/config-tools/CHANGELOG.md
  packages/config-tools/package.json
  packages/config/CHANGELOG.md
  packages/config/package.json
  packages/git-tools/CHANGELOG.md
  packages/git-tools/package.json
  packages/k8s-tools/CHANGELOG.md
  packages/k8s-tools/package.json
  packages/terraform-tools/CHANGELOG.md
  packages/terraform-tools/package.json
  packages/testing-tools/CHANGELOG.md
  packages/testing-tools/package.json
  packages/tsconfig/CHANGELOG.md
  packages/tsconfig/package.json
  packages/workspace-tools/CHANGELOG.md
  packages/workspace-tools/package.json
  pnpm-lock.yaml
Due: readme

feat(config): Added environment directory parameters to `StormConfig` schema
  packages/config/presets/base.json
  packages/config/schemas/storm.schema.json
  packages/config/src/schema.ts
  packages/eslint/src/preset.ts
Due: schema-gen

chore(release): Publish monorepo release updates
  packages/config/CHANGELOG.md
  packages/config/package.json
  packages/eslint-plugin-graphql/package.json
  packages/eslint-plugin-react/package.json
  packages/eslint/CHANGELOG.md
  packages/eslint/package.json
Due: readme

fix(workspace-tools): Resolved issue with TypeScript library generator
  packages/config/schemas/storm.schema.json
  packages/workspace-tools/src/base/typescript-library-generator.ts
Due: none

chore(release): Publish monorepo release updates
  packages/config/CHANGELOG.md
  packages/config/package.json
  packages/workspace-tools/CHANGELOG.md
  packages/workspace-tools/package.json
Due: readme

feat(workspace-tools): Update TypeScript library generators to use `unbuild` executor
  packages/workspace-tools/src/base/typescript-library-generator.ts
  packages/workspace-tools/src/generators/browser-library/generator.ts
  packages/workspace-tools/src/generators/neutral-library/generator.ts
  packages/workspace-tools/src/generators/node-library/generator.ts
Due: none

feat(workspace-tools): Added `platform` to unbuild schema and project tags
  packages/build-tools/src/types.ts
  packages/workspace-tools/declarations.d.ts
  packages/workspace-tools/src/base/typescript-library-generator.ts
  packages/workspace-tools/src/executors/unbuild/schema.json
  packages/workspace-tools/src/utils/project-tags.ts
Due: none

chore(release): Publish monorepo release updates
  packages/build-tools/CHANGELOG.md
  packages/build-tools/package.json
  packages/workspace-tools/CHANGELOG.md
  packages/workspace-tools/package.json
Due: readme

feat(workspace-tools): Added `platform` tag to the TypeScript Nx plugin
  packages/workspace-tools/src/base/typescript-library-generator.ts
  packages/workspace-tools/src/generators/browser-library/generator.ts
  packages/workspace-tools/src/generators/neutral-library/generator.ts
  packages/workspace-tools/src/generators/node-library/generator.ts
  packages/workspace-tools/src/utils/project-tags.ts
Due: none

feat(config): Renamed the `env` config parameter to `envName`
  packages/config-tools/src/env/get-env.ts
  packages/config-tools/src/env/set-env.ts
  packages/config-tools/src/utilities/get-default-config.ts
  packages/config/src/schema.ts
  packages/eslint/src/preset.ts
Due: schema-gen

fix(terraform-modules): Resolved issue with old `env` configuration parameter name
  packages/config/schemas/storm.schema.json
  terraform-modules/aws/api-lambda-rs/lambda.tf
  terraform-modules/aws/lambda-rs/lambda.tf
Due: none

chore(release): Publish monorepo release updates
  packages/config-tools/CHANGELOG.md
  packages/config-tools/package.json
  packages/config/CHANGELOG.md
  packages/config/package.json
  packages/eslint-plugin-graphql/package.json
  packages/eslint-plugin-react/package.json
  packages/eslint/CHANGELOG.md
  packages/eslint/package.json
  packages/workspace-tools/CHANGELOG.md
  packages/workspace-tools/package.json
  terraform-modules/CHANGELOG.md
  terraform-modules/package.json
Due: readme

feat(config): Added the `pnpm` and `bun` configuration presets
  packages/config/presets/bun.json
  packages/config/presets/pnpm.json
  packages/config/src/schema.ts
  storm.json
Due: schema-gen

refactor(config): Regenerate the `storm.schema.json` file
  packages/config/schemas/storm.schema.json
Due: none

chore(release): Publish monorepo release updates
  packages/config/CHANGELOG.md
  packages/config/package.json
Due: readme

chore(storm-ops): Reformat monorepo's CHANGELOG markdown files
  packages/build-tools/CHANGELOG.md
  packages/config-tools/CHANGELOG.md
  packages/config/CHANGELOG.md
  packages/testing-tools/CHANGELOG.md
  packages/workspace-tools/CHANGELOG.md
Due: none

feat(eslint): Renamed the `StormEnv` and `StormEnvPublic` globals
  packages/build-tools/tsconfig.json
  packages/eslint/src/preset.ts
  storm.json
  tsconfig.json
Due: none
