Repository storm-software/storm-ops: changes, and which lefthook commands are due for each by the changed paths.
All: prebuild, validate, format, postbuild

prebuild:
  run: pnpm build
  stage_fixed: true

validate:
  run: node ./dist/packages/git-tools/bin/pre-commit.js {staged_files}
  stage_fixed: true

format:
  run: pnpm biome:format {staged_files} && git update-index

postbuild:
  run: pnpm build
  stage_fixed: true

chore(release): Publish updates to monorepo [skip ci]
  packages/config-tools/CHANGELOG.md
  packages/config-tools/package.json
Due: prebuild, validate, format, postbuild

fix(workspace-tools): Update path the logger utilities are imported from
  packages/workspace-tools/src/executors/npm-publish/executor.ts
Due: prebuild, validate, postbuild

chore(release): Publish updates to monorepo [skip ci]
  packages/workspace-tools/CHANGELOG.md
  packages/workspace-tools/package.json
Due: prebuild, validate, format, postbuild

fix(config-tools): Update the extension of the compiled JavaScript file
  packages/config-tools/project.json
Due: prebuild, validate, postbuild

fix(config-tools): Update the `package.json` to use the same extension as the `project.json` file
  packages/config-tools/package.json
  packages/config-tools/project.json
Due: prebuild, validate, format, postbuild

fix(config-tools): Update package type to a module to resolve import issues
  packages/changelog/README.md
  packages/config-tools/README.md
  packages/config-tools/package.json
  packages/config-tools/project.json
  packages/config-tools/src/utilities/logger.ts
  packages/config-tools/tsconfig.json
  packages/config/README.md
  packages/create-storm-workspace/README.md
  packages/git-tools/README.md
  packages/linting-tools/README.md
  packages/testing-tools/README.md
  packages/workspace-tools/README.md
  tsconfig.base.json
Due: prebuild, validate, format, postbuild

chore(release): Publish updates to monorepo [skip ci]
  packages/changelog/CHANGELOG.md
  packages/changelog/package.json
  packages/config-tools/CHANGELOG.md
  packages/config-tools/package.json
  packages/config/CHANGELOG.md
  packages/config/package.json
  packages/create-storm-workspace/CHANGELOG.md
  packages/create-storm-workspace/package.json
  packages/git-tools/CHANGELOG.md
  packages/git-tools/package.json
  packages/linting-tools/CHANGELOG.md
  packages/linting-tools/package.json
  packages/testing-tools/CHANGELOG.md
  packages/testing-tools/package.json
  packages/workspace-tools/CHANGELOG.md
  packages/workspace-tools/package.json
  tsconfig.base.json
Due: prebuild, validate, format, postbuild

fix(workspace-tools): Update the method of importing `config-tools` utilities
  packages/config-tools/README.md
  packages/workspace-tools/src/base/base-executor.ts
  packages/workspace-tools/src/base/base-generator.ts
Due: prebuild, validate, format, postbuild

chore(release): Publish updates to monorepo [skip ci]
  packages/config-tools/CHANGELOG.md
  packages/config-tools/package.json
  packages/workspace-tools/CHANGELOG.md
  packages/workspace-tools/package.json
Due: prebuild, validate, format, postbuild

fix(workspace-tools): Update imports of `config-tools` to requires
  packages/workspace-tools/src/base/base-executor.ts
  packages/workspace-tools/src/base/base-generator.ts
Due: prebuild, validate, postbuild

fix(workspace-tools): Add the `cosmiconfig` dependency
  packages/workspace-tools/package.json
  packages/workspace-tools/src/executors/npm-publish/executor.ts
  pnpm-lock.yaml
Due: prebuild, validate, format, postbuild

fix(config-tools): Update method of importing `cosmiconfig` module
  packages/config-tools/src/config-file/get-config-file.ts
Due: prebuild, validate, postbuild

fix(git-tools): Arbitrary commit changes
  packages/git-tools/src/release/nx-release.ts
Due: prebuild, validate, postbuild

fix(config): Updated the default import method
  packages/config/declarations.d.ts
  packages/config/package.json
  packages/config/src/types.ts
  packages/config/tsconfig.json
Due: prebuild, validate, format, postbuild

fix(git-tools): Resolve linting failures
  packages/git-tools/src/release/nx-release.ts
Due: prebuild, validate, postbuild

chore(release): Publish updates to monorepo [skip ci]
  packages/config/CHANGELOG.md
  packages/config/package.json
  packages/git-tools/CHANGELOG.md
  packages/git-tools/package.json
Due: prebuild, validate, format, postbuild

fix(workspace-tools): Add `zod` as external depencency
  packages/config/project.json
  packages/workspace-tools/project.json
  packages/workspace-tools/tsconfig.lib.json
Due: prebuild, validate, postbuild

chore(release): Publish updates to monorepo [skip ci]
  packages/config/CHANGELOG.md
  packages/config/package.json
  packages/workspace-tools/CHANGELOG.md
  packages/workspace-tools/package.json
Due: prebuild, validate, format, postbuild

fix(workspace-tools): Added config packages as depencdencies
  nx.json
  packages/workspace-tools/package.json
Due: prebuild, validate, format, postbuild

fix(workspace-tools): Update method of referencing the internal packages
  packages/changelog/README.md
  packages/config-tools/README.md
  packages/config/README.md
  packages/create-storm-workspace/README.md
  packages/git-tools/README.md
  packages/linting-tools/README.md
  packages/testing-tools/README.md
  packages/workspace-tools/README.md
  packages/workspace-tools/package.json
  pnpm-lock.yaml
Due: prebuild, validate, format, postbuild

fix(storm-ops): Skip ManyPkg for this repository
  package.json
Due: none

fix(storm-ops): Skip dependencies version linting on build
  package.json
Due: none

fix(linting-tools): Resolved issue with options parameter passed to linting cli
  packages/linting-tools/src/cli/index.ts
Due: prebuild, validate, postbuild

fix(linting-tools): Updated the alexignore file list
  packages/linting-tools/src/alex/.alexignore
Due: prebuild, validate, postbuild

fix(linting-tools): Correction to alex linting ignore
  packages/linting-tools/src/alex/.alexignore
Due: prebuild, validate, postbuild

fix(linting-tools): Resolved issues with linting tool options
  package.json
  packages/linting-tools/src/alex/index.ts
Due: prebuild, validate, postbuild

fix(linting-tools): Resolved previous linting issues
  lefthook.yml
  packages/git-tools/CHANGELOG.md
Due: prebuild, validate, postbuild

chore(release): Publish updates to monorepo [skip ci]
  packages/changelog/CHANGELOG.md
  packages/changelog/package.json
  packages/config-tools/CHANGELOG.md
  packages/config-tools/package.json
  packages/config/CHANGELOG.md
  packages/config/package.json
  packages/create-storm-workspace/CHANGELOG.md
  packages/create-storm-workspace/package.json
  packages/git-tools/CHANGELOG.md
  packages/git-tools/package.json
  packages/linting-tools/CHANGELOG.md
  packages/linting-tools/package.json
  packages/testing-tools/CHANGELOG.md
  packages/testing-tools/package.json
  packages/workspace-tools/CHANGELOG.md
  packages/workspace-tools/package.json
  pnpm-lock.yaml
Due: prebuild, validate, format, postbuild

fix(workspace-tools): Ensure only storm env values are displayed
  packages/workspace-tools/src/base/base-executor.ts
Due: prebuild, validate, postbuild

fix(workspace-tools): Add the storm config and config-tools packages as external
  lefthook.yml
  packages/workspace-tools/project.json
Due: prebuild, validate, postbuild

feat(git-tools): Update the package to build as CommonJs to support Nx executors
  nx.json
  package.json
  packages/git-tools/bin/git.ts
  packages/git-tools/bin/post-checkout.ts
  packages/git-tools/bin/post-commit.ts
  packages/git-tools/bin/post-merge.ts
  packages/git-tools/bin/pre-commit.ts
  packages/git-tools/bin/pre-install.ts
  packages/git-tools/bin/pre-push.ts
  packages/git-tools/bin/prepare.ts
  packages/git-tools/bin/version-warning.ts
  packages/git-tools/package.json
  packages/git-tools/project.json
  packages/git-tools/tsconfig.json
  packages/git-tools/tsconfig.lib.json
  packages/linting-tools/bin/lint.ts
  packages/linting-tools/package.json
  packages/linting-tools/project.json
  packages/linting-tools/src/alex/index.ts
  packages/linting-tools/src/eslint/constants.ts
  packages/linting-tools/tsconfig.json
  packages/linting-tools/tsconfig.lib.json
  pnpm-lock.yaml
  project.json
Due: prebuild, validate, format, postbuild

fix(workspace-tools): Update storm dependencies to use latest version
  packages/workspace-tools/package.json
  storm.config.js
Due: prebuild, validate, format, postbuild

chore(storm-ops): Regenerate the pnpm-lock file for repository
  pnpm-lock.yaml
Due: none

Path conditions:
  prebuild: any of: **/*.*
  validate: any of: **/*.*
  format: any of: **/{README.md,package.json}
  postbuild: any of: **/*.*
