Repository storm-software/storm-ops: changes, and which lefthook commands are due for each by the changed paths.
All: prebuild, validate, format, postbuild

prebuild:
  run: pnpm build
  stage_fixed: true

validate:
  run: node ./dist/packages/git-tools/bin/pre-commit.js {staged_files}
  stage_fixed: true

format:
  run: pnpm biome:format {staged_files} && git update-index

postbuild:
  run: pnpm build
  stage_fixed: true

chore(release): Publish monorepo release updates
  packages/build-tools/CHANGELOG.md
  packages/build-tools/package.json
  packages/config-tools/CHANGELOG.md
  packages/config-tools/package.json
  packages/config/CHANGELOG.md
  packages/config/package.json
  packages/create-storm-workspace/CHANGELOG.md
  packages/create-storm-workspace/package.json
  packages/git-tools/CHANGELOG.md
  packages/git-tools/package.json
  packages/linting-tools/CHANGELOG.md
  packages/linting-tools/package.json
  packages/testing-tools/CHANGELOG.md
  packages/testing-tools/package.json
  packages/tsconfig/CHANGELOG.md
  packages/tsconfig/package.json
  packages/workspace-tools/CHANGELOG.md
  packages/workspace-tools/package.json
Due: prebuild, validate, format, postbuild

fix(workspace-tools): Resolved issue with missing `testing-tools` dependencies
  packages/workspace-tools/src/plugins/typescript/project-config.ts
Due: prebuild, validate, postbuild

fix(workspace-tools): Resovled issue with bad `implicitDependencies` properties
  packages/workspace-tools/src/plugins/typescript/project-config.ts
Due: prebuild, validate, postbuild

chore(release): Publish monorepo release updates
  packages/workspace-tools/CHANGELOG.md
  packages/workspace-tools/package.json
Due: prebuild, validate, format, postbuild

fix(workspace-tools): Removed test input parameter
  packages/workspace-tools/config/nx.json
  packages/workspace-tools/src/plugins/typescript/project-config.ts
Due: prebuild, validate, postbuild

fix(workspace-tools): Remove unused implicit dependency
  packages/workspace-tools/src/plugins/typescript/project-config.ts
Due: prebuild, validate, postbuild

fix(workspace-tools): Resolve issue with bad release path in npm publish
  packages/build-tools/README.md
  packages/config-tools/README.md
  packages/config/README.md
  packages/create-storm-workspace/README.md
  packages/git-tools/README.md
  packages/linting-tools/README.md
  packages/testing-tools/README.md
  packages/tsconfig/README.md
  packages/workspace-tools/README.md
  packages/workspace-tools/src/executors/npm-publish/executor.ts
Due: prebuild, validate, format, postbuild

fix(workspace-tools): Resolve issue with missing nx.json file in package.json
  packages/workspace-tools/package.json
Due: prebuild, validate, format, postbuild

fix(workspace-tools): Added shim files to workspace packages
  packages/workspace-tools/assets/cjs_shims.js
  packages/workspace-tools/assets/esm_shims.js
  packages/workspace-tools/package.json
  patches/tsup@8.0.0.patch
  pnpm-lock.yaml
Due: prebuild, validate, format, postbuild

chore(release): Publish monorepo release updates
  Cargo.lock
  crates/storm-config/CHANGELOG.md
  crates/storm-config/Cargo.toml
  crates/storm-workspace/CHANGELOG.md
  crates/storm-workspace/Cargo.toml
  packages/build-tools/CHANGELOG.md
  packages/build-tools/package.json
  packages/config-tools/CHANGELOG.md
  packages/config-tools/package.json
  packages/config/CHANGELOG.md
  packages/config/package.json
  packages/create-storm-workspace/CHANGELOG.md
  packages/create-storm-workspace/package.json
  packages/git-tools/CHANGELOG.md
  packages/git-tools/package.json
  packages/linting-tools/CHANGELOG.md
  packages/linting-tools/package.json
  packages/testing-tools/CHANGELOG.md
  packages/testing-tools/package.json
  packages/tsconfig/CHANGELOG.md
  packages/tsconfig/package.json
  packages/workspace-tools/CHANGELOG.md
  packages/workspace-tools/package.json
Due: prebuild, validate, format, postbuild

feat(cloudflare-tools): Initial check-in of Cloudflare tools package
  .eslintignore
  .github/workflows/greetings.yml
  .vscode/settings.json
  lefthook.yml
  nx.json
  package.json
  packages/cloudflare-tools/.eslintrc.json
  packages/cloudflare-tools/README.md
  packages/cloudflare-tools/jest.config.ts
  packages/cloudflare-tools/package.json
  packages/cloudflare-tools/project.json
  packages/cloudflare-tools/src/index.ts
  packages/cloudflare-tools/tsconfig.json
  packages/cloudflare-tools/tsconfig.lib.json
  packages/cloudflare-tools/tsconfig.spec.json
  pnpm-lock.yaml
  tsconfig.base.json
Due: prebuild, validate, format, postbuild

feat(storm-ops): Merged in change to the main branch
  package.json
  packages/build-tools/README.md
  packages/config-tools/README.md
  packages/config/README.md
  packages/create-storm-workspace/README.md
  packages/git-tools/README.md
  packages/linting-tools/README.md
  packages/testing-tools/README.md
  packages/tsconfig/README.md
  packages/workspace-tools/README.md
  pnpm-lock.yaml
Due: prebuild, validate, format, postbuild

ci(storm-ops): Resolved issue with release action being skipped
  .github/workflows/ci.yml
Due: prebuild, validate, postbuild

fix(storm-ops): Resolved issues with bad order of calls in action
  .github/workflows/ci.yml
  .github/workflows/release.yaml
Due: prebuild, validate, postbuild

fix(storm-ops): Added back the missing build steps
  .github/workflows/ci.yml
Due: prebuild, validate, postbuild

fix(storm-ops): Remove unused command from ci action
  .github/workflows/ci.yml
Due: prebuild, validate, postbuild

fix(storm-ops): Update token used for release process
  .github/workflows/ci.yml
Due: prebuild, validate, postbuild

fix(storm-ops): Updates to the workflow action commands
  .github/workflows/ci.yml
Due: prebuild, validate, postbuild

fix(storm-ops): Resolved issue with github tokens on release
  .github/workflows/ci.yml
Due: prebuild, validate, postbuild

chore(release): Publish monorepo release updates
  packages/build-tools/CHANGELOG.md
  packages/build-tools/package.json
  packages/config-tools/CHANGELOG.md
  packages/config-tools/package.json
  packages/config/CHANGELOG.md
  packages/config/package.json
  packages/create-storm-workspace/CHANGELOG.md
  packages/create-storm-workspace/package.json
  packages/git-tools/CHANGELOG.md
  packages/git-tools/package.json
  packages/linting-tools/CHANGELOG.md
  packages/linting-tools/package.json
  packages/testing-tools/CHANGELOG.md
  packages/testing-tools/package.json
  packages/tsconfig/CHANGELOG.md
  packages/tsconfig/package.json
  packages/workspace-tools/CHANGELOG.md
  packages/workspace-tools/package.json
  pnpm-lock.yaml
Due: prebuild, validate, format, postbuild

fix(build-tools): Marked the module as esm
  packages/build-tools/tsconfig.json
Due: prebuild, validate, postbuild

chore(release): Publish monorepo release updates
  packages/build-tools/CHANGELOG.md
  packages/build-tools/package.json
Due: prebuild, validate, format, postbuild

fix(cloudflare-tools): Update the package to no longer be private
  packages/cloudflare-tools/package.json
Due: prebuild, validate, format, postbuild

docs(storm-ops): Update versions on all README.md files
  packages/build-tools/README.md
  packages/config-tools/README.md
  packages/config/README.md
  packages/create-storm-workspace/README.md
  packages/git-tools/README.md
  packages/linting-tools/README.md
  packages/testing-tools/README.md
  packages/tsconfig/README.md
  packages/workspace-tools/README.md
Due: prebuild, validate, format, postbuild

fix(workspace-tools): Resolved build issue with typings
  package.json
  packages/build-tools/README.md
  packages/git-tools/README.md
  packages/git-tools/src/commitlint/config.ts
  packages/linting-tools/README.md
  packages/workspace-tools/README.md
  packages/workspace-tools/src/generators/release-version/generator.ts
  patches/@microsoft__api-extractor@7.40.1.patch
  pnpm-lock.yaml
Due: prebuild, validate, format, postbuild

fix(storm-ops): Updates to pnpm-lock.yaml file
  pnpm-lock.yaml
Due: none

fix(build-tools): Resolve issue with Nx API updates
  packages/git-tools/src/release/nx-release.ts
Due: prebuild, validate, postbuild

fix(git-tools): Resolved issue with invalid release config
  packages/git-tools/src/release/nx-release.ts
  packages/git-tools/src/release/release-config.ts
Due: prebuild, validate, postbuild

fix(git-tools): Update release tool to use local function to get configuration
  packages/config-tools/.eslintrc.json
  packages/config/.eslintrc.json
  packages/create-storm-workspace/.eslintrc.json
  packages/git-tools/.eslintrc.json
  packages/git-tools/src/release/nx-version.ts
  packages/git-tools/src/release/release-config.ts
  packages/linting-tools/.eslintrc.json
  packages/testing-tools/.eslintrc.json
  packages/tsconfig/.eslintrc.json
  packages/workspace-tools/.eslintrc.json
Due: prebuild, validate, postbuild

fix(git-tools): Resolve issue with dependencies
  packages/git-tools/src/release/release-config.ts
Due: prebuild, validate, postbuild

chore(release): Publish monorepo release updates
  Cargo.lock
  crates/storm-config/CHANGELOG.md
  crates/storm-config/Cargo.toml
  packages/build-tools/CHANGELOG.md
  packages/build-tools/package.json
  packages/cloudflare-tools/CHANGELOG.md
  packages/cloudflare-tools/package.json
  packages/config-tools/CHANGELOG.md
  packages/config-tools/package.json
  packages/config/CHANGELOG.md
  packages/config/package.json
  packages/create-storm-workspace/CHANGELOG.md
  packages/create-storm-workspace/package.json
  packages/git-tools/CHANGELOG.md
  packages/git-tools/package.json
  packages/linting-tools/CHANGELOG.md
  packages/linting-tools/package.json
  packages/testing-tools/CHANGELOG.md
  packages/testing-tools/package.json
  packages/tsconfig/CHANGELOG.md
  packages/tsconfig/package.json
  packages/workspace-tools/CHANGELOG.md
  packages/workspace-tools/package.json
  pnpm-lock.yaml
Due: prebuild, validate, format, postbuild

fix(storm-workspace): Remove test to prevent CI failures
  crates/storm-workspace/src/lib.rs
Due: prebuild, validate, postbuild

chore(release): Publish monorepo release updates
  Cargo.lock
  crates/storm-config/Cargo.toml
  crates/storm-workspace/CHANGELOG.md
  crates/storm-workspace/Cargo.toml
Due: prebuild, validate, postbuild

Path conditions:
  prebuild: any of: **/*.*
  validate: any of: **/*.*
  format: any of: **/{README.md,package.json}
  postbuild: any of: **/*.*
