Repository storm-software/storm-ops: changes, and which lefthook commands are due for each by the changed paths.
All: validate, check, readme, format, build

validate:
  run: zx ./dist/packages/git-tools/hooks/pre-commit.mjs {staged_files}
  stage_fixed: true

check:
  run: pnpm biome:check {staged_files} && git update-index

readme:
  run: zx ./dist/packages/git-tools/bin/cli.mjs readme-gen --templates="dist/packages/git-tools/readme/templates" && git update-index

format:
  run: pnpm biome:format {staged_files} && git update-index

build:
  run: pnpm build
  stage_fixed: true

fix(config-tools): Added more logging and updated logic to create project graph
  packages/workspace-tools/src/executors/tsup/executor.ts
Due: validate, check, build

chore(create-storm-workspace): create-storm-workspace-v1.43.12 [skip ci]
  packages/create-storm-workspace/CHANGELOG.md
  packages/create-storm-workspace/package.json
Due: validate, check, readme, format, build

Notes added by 'git notes add'
  9a/3b34c981a19da1b39c0b38e9da66d8890af7e7
Due: none

chore(workspace-tools): workspace-tools-v1.43.13 [skip ci]
  packages/workspace-tools/CHANGELOG.md
  packages/workspace-tools/package.json
Due: validate, check, readme, format, build

Notes added by 'git notes add'
  92/b4c2989d311e930aaeb52f52675dccafde0b32
Due: none

fix(workspace-tools): Update the logic to apply external dependencies
  packages/workspace-tools/src/executors/tsup/executor.ts
Due: validate, check, build

chore(create-storm-workspace): create-storm-workspace-v1.43.13 [skip ci]
  packages/create-storm-workspace/CHANGELOG.md
  packages/create-storm-workspace/package.json
Due: validate, check, readme, format, build

Notes added by 'git notes add'
  5b/ac38aecef05b64dba4ea70007750d0c91236f5
Due: none

chore(workspace-tools): workspace-tools-v1.43.14 [skip ci]
  packages/workspace-tools/CHANGELOG.md
  packages/workspace-tools/package.json
Due: validate, check, readme, format, build

Notes added by 'git notes add'
  16/a426d7236476c92475778d5351743cc2a020ec
Due: none

fix(workspace-tools): Skip adding biome as external dependency
  packages/workspace-tools/src/executors/tsup/executor.ts
Due: validate, check, build

fix(config-tools): Ensure colors are set correctly
  packages/config-tools/src/create-storm-config.ts
Due: validate, check, build

chore(config-tools): config-tools-v1.15.12 [skip ci]
  packages/config-tools/CHANGELOG.md
  packages/config-tools/package.json
Due: validate, check, readme, format, build

Notes added by 'git notes add'
  b6/526b92af9a41e6ea46efee3b299a3bd4fee94d
Due: none

chore(workspace-tools): workspace-tools-v1.43.15 [skip ci]
  packages/workspace-tools/CHANGELOG.md
  packages/workspace-tools/package.json
Due: validate, check, readme, format, build

Notes added by 'git notes add'
  5e/a80c71600c7b88edd280350bb4b324e8b6785c
Due: none

chore(create-storm-workspace): create-storm-workspace-v1.43.14 [skip ci]
  packages/create-storm-workspace/CHANGELOG.md
  packages/create-storm-workspace/package.json
Due: validate, check, readme, format, build

Notes added by 'git notes add'
  f8/5048a736cc18f68a331db173f38bb426017ba6
Due: none

chore(linting-tools): linting-tools-v1.26.12 [skip ci]
  packages/linting-tools/CHANGELOG.md
  packages/linting-tools/package.json
Due: validate, check, readme, format, build

Notes added by 'git notes add'
  a3/726607db9ed73148b890edabe8cf5d261d181c
Due: none

chore(git-tools): git-tools-v1.24.12 [skip ci]
  packages/git-tools/CHANGELOG.md
  packages/git-tools/package.json
Due: validate, check, readme, format, build

Notes added by 'git notes add'
  11/7f0d4989eb967fc2ae5fac4d8f9ebdb2ba1229
Due: none

fix(workspace-tools): Resolved blocking issue preventing tsup build completion
  packages/linting-tools/src/biome/biome.json
  packages/workspace-tools/src/executors/tsup/executor.ts
Due: validate, check, build

chore(config-tools): config-tools-v1.15.13 [skip ci]
  packages/config-tools/CHANGELOG.md
  packages/config-tools/package.json
Due: validate, check, readme, format, build

Notes added by 'git notes add'
  69/2013b0edb7f52482c1d73c56e03f538cf0b5c2
Due: none

chore(workspace-tools): workspace-tools-v1.43.16 [skip ci]
  packages/workspace-tools/CHANGELOG.md
  packages/workspace-tools/package.json
Due: validate, check, readme, format, build

Notes added by 'git notes add'
  3f/e429f1a6ba7ef4014ef79b7338471a16775e88
Due: none

chore(create-storm-workspace): create-storm-workspace-v1.43.15 [skip ci]
  packages/create-storm-workspace/CHANGELOG.md
  packages/create-storm-workspace/package.json
Due: validate, check, readme, format, build

Notes added by 'git notes add'
  f8/299723f8a91ef35b4f0c7140340956a5681a97
Due: none

chore(linting-tools): linting-tools-v1.26.13 [skip ci]
  packages/linting-tools/CHANGELOG.md
  packages/linting-tools/package.json
Due: validate, check, readme, format, build

Notes added by 'git notes add'
  d9/e70f2f04108871c6f858563cf245cef35f186c
Due: none

chore(git-tools): git-tools-v1.24.13 [skip ci]
  packages/git-tools/CHANGELOG.md
  packages/git-tools/package.json
Due: validate, check, readme, format, build

Notes added by 'git notes add'
  07/9cf5f1c90f08fca234131cd9d92ca7b0f197c9
Due: none

chore(testing-tools): testing-tools-v1.22.4 [skip ci]
  packages/testing-tools/CHANGELOG.md
  packages/testing-tools/package.json
Due: validate, check, readme, format, build

Notes added by 'git notes add'
  b8/6c6c9aa2e780aeb3e7c916646a8ff5db3f746e
Due: none

chore(design-tools): design-tools-v1.6.4 [skip ci]
  packages/design-tools/CHANGELOG.md
  packages/design-tools/package.json
Due: validate, check, readme, format, build

Notes added by 'git notes add'
  44/8595cb5c185cce46b5d4f0dc306566c479ac17
Due: none

fix(workspace-tools): Patched transformer functions in tsup dependency
  .whitesource
  packages/config-tools/src/create-storm-config.ts
  packages/config-tools/src/utilities/logger.ts
  packages/workspace-tools/src/executors/tsup-neutral/schema.d.ts
  packages/workspace-tools/src/executors/tsup/executor.ts
  packages/workspace-tools/src/executors/tsup/schema.d.ts
  packages/workspace-tools/tsconfig.spec.json
  patches/tsup@8.0.0.patch
  pnpm-lock.yaml
Due: validate, check, build

chore(config-tools): config-tools-v1.15.14 [skip ci]
  packages/config-tools/CHANGELOG.md
  packages/config-tools/package.json
Due: validate, check, readme, format, build

Notes added by 'git notes add'
  78/c86a3f7ce33d90f4d7237aaf067b953eb9614b
Due: none

Path conditions:
  validate: any of: **/*.*
  check: any of: **/*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}
  readme: any of: **/{README.md,package.json}
  format: any of: **/{README.md,package.json}
  build: any of: **/*.*
