Repository storm-software/storm-ops: changes, and which lefthook commands are due for each by the changed paths.
All: prepare, schema-gen, validate, readme

prepare:
  run: pnpm lefthook install && git update-index
  stage_fixed: true

schema-gen:
  run: pnpm nx generate @storm-software/workspace-tools:config-schema --outputFile="./packages/config/schemas/storm.schema.json" && git update-index
  stage_fixed: true

validate:
  run: node ./dist/packages/git-tools/bin/pre-commit.js {staged_files} && git update-index
  stage_fixed: true

readme:
  run: pnpm format-readme && git update-index
  stage_fixed: true

fix(workspace-tools): Resolve issues with `namedInputs` in base Nx configuration
  .github/workflows/ci.yml
  nx.json
  packages/eslint-config/src/rules/best-practices.js
  packages/workspace-tools/config/nx.json
Due: validate

chore(release): Publish monorepo release updates
  packages/build-tools/CHANGELOG.md
  packages/build-tools/package.json
  packages/cloudflare-tools/CHANGELOG.md
  packages/cloudflare-tools/package.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/workspace-tools/CHANGELOG.md
  packages/workspace-tools/package.json
Due: validate, readme

ci(storm-ops): Resolve issue with build in CI action
  .github/workflows/ci.yml
Due: validate

feat(eslint): Added the base eslint preset
  packages/eslint-plugin/package.json
  packages/eslint/build.config.ts
  packages/eslint/package.json
  packages/eslint/project.json
  packages/eslint/src/preset.d.ts
  packages/eslint/src/preset.ts
  packages/eslint/tsconfig.cjs.json
  packages/eslint/tsconfig.esm.json
  packages/eslint/tsconfig.json
  pnpm-lock.yaml
Due: validate, readme

chore(release): Publish monorepo release updates
  packages/eslint-plugin/CHANGELOG.md
  packages/eslint-plugin/package.json
  packages/eslint/CHANGELOG.md
  packages/eslint/package.json
Due: validate, readme

feat(eslint): Add config formatter to eslint preset
  .github/dependabot.yml
  packages/build-tools/README.md
  packages/cloudflare-tools/README.md
  packages/eslint-config/README.md
  packages/eslint/src/preset.ts
  packages/workspace-tools/README.md
Due: validate, readme

chore(release): Publish monorepo release updates
  packages/build-tools/CHANGELOG.md
  packages/build-tools/package.json
  packages/cloudflare-tools/CHANGELOG.md
  packages/cloudflare-tools/package.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/eslint/CHANGELOG.md
  packages/eslint/package.json
  packages/workspace-tools/CHANGELOG.md
  packages/workspace-tools/package.json
Due: validate, readme

fix(git-tools): Resolved issue with version calculation during release
  .env
  nx.json
  packages/eslint-plugin/README.md
  packages/eslint/README.md
  packages/git-tools/src/release/nx-version.ts
Due: validate, readme

chore(release): Publish monorepo release updates
  packages/eslint-plugin/CHANGELOG.md
  packages/eslint-plugin/package.json
  packages/eslint/CHANGELOG.md
  packages/eslint/package.json
  packages/git-tools/CHANGELOG.md
  packages/git-tools/package.json
Due: validate, readme

feat(eslint): Added Nx plugin to eslint preset
  packages/build-tools/README.md
  packages/cloudflare-tools/README.md
  packages/eslint-config/README.md
  packages/eslint/src/preset.ts
  packages/workspace-tools/README.md
Due: validate, readme

feat(eslint): Added optional react rules to preset
  packages/eslint-plugin/README.md
  packages/eslint/README.md
  packages/eslint/src/preset.d.ts
  packages/eslint/src/preset.ts
  packages/eslint/src/rules/import.ts
  packages/eslint/src/rules/jsx-a11y.ts
  packages/eslint/src/rules/react-hooks.ts
  packages/eslint/src/rules/react.ts
  packages/git-tools/README.md
Due: validate, readme

feat(eslint): Update rules around handling TypeScript function returns
  packages/build-tools/README.md
  packages/cloudflare-tools/README.md
  packages/eslint-config/README.md
  packages/eslint/src/preset.d.ts
  packages/eslint/src/preset.ts
  packages/workspace-tools/README.md
Due: validate, readme

feat(eslint): Added `import` and `prettier` plugins to preset
  packages/eslint-plugin/README.md
  packages/eslint/README.md
  packages/eslint/package.json
  packages/eslint/src/preset.ts
  packages/eslint/src/rules/import.ts
  packages/git-tools/README.md
  pnpm-lock.yaml
Due: validate, readme

feat(eslint): Resolved issues with legacy import plugin
  packages/eslint/src/preset.d.ts
  packages/eslint/src/preset.ts
  packages/eslint/src/utils/create-flat-import-plugin.ts
Due: validate

feat(prettier): Added the `prettier-plugin-organize-imports` plugin
  packages/prettier/package.json
  packages/prettier/src/config.json
Due: validate, readme

feat(eslint): Remove the `import` plugin from the preset
  packages/build-tools/README.md
  packages/cloudflare-tools/README.md
  packages/eslint-config/README.md
  packages/eslint-plugin/README.md
  packages/eslint/README.md
  packages/eslint/src/preset.ts
  packages/eslint/src/utils/create-flat-import-plugin.ts
  packages/git-tools/README.md
  packages/workspace-tools/README.md
  pnpm-lock.yaml
Due: validate, readme

chore(release): Publish monorepo release updates
  packages/build-tools/CHANGELOG.md
  packages/build-tools/package.json
  packages/cloudflare-tools/CHANGELOG.md
  packages/cloudflare-tools/package.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/eslint-plugin/CHANGELOG.md
  packages/eslint-plugin/package.json
  packages/eslint/CHANGELOG.md
  packages/eslint/package.json
  packages/git-tools/CHANGELOG.md
  packages/git-tools/package.json
  packages/prettier/CHANGELOG.md
  packages/prettier/package.json
  packages/workspace-tools/CHANGELOG.md
  packages/workspace-tools/package.json
Due: validate, readme

feat(prettier): Export default `config.json` and `tailwindcss.json` from package
  nx.json
  packages/eslint/src/preset.d.ts
  packages/prettier/package.json
  packages/prettier/src/import-order.json
  packages/workspace-tools/config/nx.json
Due: validate, readme

chore(release): Publish monorepo release updates
  packages/eslint/CHANGELOG.md
  packages/eslint/package.json
  packages/prettier/CHANGELOG.md
  packages/prettier/package.json
  packages/workspace-tools/CHANGELOG.md
  packages/workspace-tools/package.json
  pnpm-lock.yaml
Due: validate, readme

fix(eslint): Resolve issue with handler props naming and unicorn defaults
  packages/eslint/src/preset.ts
  packages/eslint/src/rules/react.ts
Due: validate

chore(release): Publish monorepo release updates
  packages/eslint/CHANGELOG.md
  packages/eslint/package.json
Due: validate, readme

feat(eslint): Add the `json` and `yml` plugins to preset
  packages/eslint/package.json
  packages/eslint/src/preset.ts
  pnpm-lock.yaml
Due: validate, readme

fix(eslint): Resolve issues with `json` plugin config spread
  packages/build-tools/README.md
  packages/cloudflare-tools/README.md
  packages/eslint-config/README.md
  packages/eslint-plugin/README.md
  packages/eslint/README.md
  packages/eslint/src/preset.d.ts
  packages/eslint/src/preset.ts
  packages/git-tools/README.md
  packages/prettier/README.md
  packages/workspace-tools/README.md
Due: validate, readme

ci(storm-ops): Major updates to Github action workflow triggers and processing
  .editorconfig
  .github/CODEOWNERS
  .github/dependabot.yml
  .github/workflows/ci-reusable.yml
  .github/workflows/ci.yml
  .github/workflows/cleanowners.yml
  .github/workflows/codeql.yml
  .github/workflows/contributors.yml
  .github/workflows/dependabot-update.yml
  .github/workflows/greetings.yml
  .github/workflows/lint-commit.yaml
  .github/workflows/schedule-stale.yml
  .github/workflows/security.yml
  .vscode/settings.json
  packages/build-tools/README.md
  packages/cloudflare-tools/README.md
  packages/eslint-config/README.md
  packages/eslint-plugin/README.md
  packages/eslint/README.md
  packages/git-tools/README.md
  packages/prettier/README.md
  packages/workspace-tools/README.md
Due: validate, readme

fix(workspace-tools): Simplified the `namedImports` in the base Nx configuration
  .github/workflows/ci-reusable.yml
  packages/workspace-tools/config/nx.json
Due: validate

fix(workspace-tools): Add the new `namedImports` to workspace plugins
  packages/workspace-tools/src/plugins/rust/cargo-toml.ts
  packages/workspace-tools/src/plugins/typescript/project-config.ts
Due: validate

fix(workspace-tools): Removed deprecated input names from configurations
  nx.json
  packages/eslint-plugin/project.json
Due: validate

chore(release): Publish monorepo release updates
  packages/eslint-plugin/CHANGELOG.md
  packages/eslint-plugin/package.json
  packages/workspace-tools/CHANGELOG.md
  packages/workspace-tools/package.json
Due: validate, readme

feat(eslint): Added dependency-checks rule to preset
  packages/eslint/src/preset.ts
Due: validate

fix(linting-tools): Resolved issue with CLI args passing
  packages/linting-tools/src/cli/index.ts
Due: validate

chore(release): Publish monorepo release updates
  packages/linting-tools/CHANGELOG.md
  packages/linting-tools/package.json
Due: validate, readme

feat(linting-tools): Added choices and parsers to `manypkg` linter CLI
  packages/config-tools/src/create-storm-config.ts
  packages/linting-tools/src/cli/index.ts
  packages/linting-tools/src/manypkg/index.ts
Due: validate

chore(release): Publish monorepo release updates
  packages/config-tools/CHANGELOG.md
  packages/config-tools/package.json
  packages/linting-tools/CHANGELOG.md
  packages/linting-tools/package.json
Due: validate, readme

feat(storm-ops): Update the repository to use corepack as package manager
  package.json
Due: none

Path conditions:
  prepare: any of: **/{lefthook.yml,biome.json}
  schema-gen: any of: packages/config/src/schema.ts
  validate: any of: **/*
  readme: any of: **/{README.md,README.*.md,readme/**/*,package.json,executors.json,generators.json}
