Repository storm-software/storm-ops: changes, and which lefthook commands are due for each by the changed paths.
All: check, build, readme-format, hook-script

check:
  run: npx biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true {staged_files} && git update-index"

build:
  run: pnpm build

readme-format:
  run: zx ./dist/packages/git-tools/bin/cli.mjs readme-gen --templates="dist/packages/git-tools/readme/templates" && git update-index

hook-script:
  run: zx ./dist/packages/git-tools/bin/pre-commit.mjs

chore(config-tools): config-tools-v1.13.1 [skip ci]
  packages/config-tools/CHANGELOG.md
  packages/config-tools/package.json
Due: check, build, readme-format, hook-script

Notes added by 'git notes add'
  12/5c218c560d4526a837de09f8b805f1d95af903
Due: none

chore(workspace-tools): workspace-tools-v1.41.1 [skip ci]
  packages/workspace-tools/CHANGELOG.md
  packages/workspace-tools/package.json
Due: check, build, readme-format, hook-script

Notes added by 'git notes add'
  50/c45a5690d7240a676d30c7423d4bb40f4f2c4b
Due: none

chore(create-storm-workspace): create-storm-workspace-v1.41.1 [skip ci]
  packages/create-storm-workspace/CHANGELOG.md
  packages/create-storm-workspace/package.json
Due: check, build, readme-format, hook-script

Notes added by 'git notes add'
  99/92cad662d5268e7509a86d831bc1ca9bc2981e
Due: none

chore(linting-tools): linting-tools-v1.24.1 [skip ci]
  packages/linting-tools/CHANGELOG.md
  packages/linting-tools/package.json
Due: check, build, readme-format, hook-script

Notes added by 'git notes add'
  67/e779023f9b558ae6149b467cfb18590ee0c097
Due: none

chore(git-tools): git-tools-v1.22.1 [skip ci]
  packages/git-tools/CHANGELOG.md
  packages/git-tools/package.json
Due: check, build, readme-format, hook-script

Notes added by 'git notes add'
  cf/399a6ddd077ce1eb5dda5eeeedab285edbd2cb
Due: none

chore(design-tools): design-tools-v1.4.1 [skip ci]
  packages/design-tools/CHANGELOG.md
  packages/design-tools/package.json
Due: check, build, readme-format, hook-script

Notes added by 'git notes add'
  64/4649029a7262a4bd47091d56bdc65c2fec9dff
Due: none

chore(testing-tools): testing-tools-v1.20.1 [skip ci]
  packages/testing-tools/CHANGELOG.md
  packages/testing-tools/package.json
Due: check, build, readme-format, hook-script

Notes added by 'git notes add'
  de/ce1e07db72acbbd3d5030a8f046fa67f5e4770
Due: none

feat(git-tools): Added default `lefthook` and `biome` configuration
  lefthook.yml
  package.json
  packages/config-tools/README.md
  packages/config-tools/src/config-file/get-config-file.ts
  packages/create-storm-workspace/README.md
  packages/git-tools/README.md
  packages/git-tools/bin/cli.mjs
  packages/git-tools/bin/pre-commit.mjs
  packages/git-tools/package.json
  packages/git-tools/project.json
  packages/git-tools/scripts/check-package-version.mjs
  packages/git-tools/scripts/package-version-warning.mjs
  packages/git-tools/src/hooks/post-checkout.mjs
  packages/git-tools/src/hooks/post-commit.mjs
  packages/git-tools/src/hooks/post-merge.mjs
  packages/git-tools/src/hooks/pre-commit.mjs
  packages/git-tools/src/hooks/pre-push.mjs
  packages/git-tools/src/lefthook/lefthook.yml
  packages/git-tools/tsconfig.lib.json
  packages/linting-tools/README.md
  packages/linting-tools/project.json
  packages/linting-tools/src/cspell/dictionary.txt
  packages/testing-tools/README.md
  packages/workspace-tools/README.md
  packages/workspace-tools/config/nx.json
  packages/workspace-tools/src/executors/tsup-browser/executor.ts
  packages/workspace-tools/src/executors/tsup-neutral/executor.ts
  packages/workspace-tools/src/executors/tsup-node/executor.ts
  packages/workspace-tools/src/executors/tsup/executor.ts
  packages/workspace-tools/src/generators/preset/files/.husky/post-checkout
  packages/workspace-tools/src/generators/preset/files/.husky/post-commit
  packages/workspace-tools/src/generators/preset/files/.husky/post-merge
  packages/workspace-tools/src/generators/preset/files/.husky/pre-commit
  packages/workspace-tools/src/generators/preset/files/.husky/pre-push
  packages/workspace-tools/src/generators/preset/files/biome.json
  packages/workspace-tools/src/generators/preset/files/eslint.config.js
  packages/workspace-tools/src/generators/preset/files/lefthook.json
Due: check, build, readme-format, hook-script

fix(workspace-tools): Enhanced tsup executor logging to use `LogLevel` from config
  package.json
  packages/git-tools/src/cli/index.ts
  packages/workspace-tools/src/executors/tsup/executor.ts
Due: check, build, hook-script

feat(git-tools): Added the `format` hook command to lefthook
  lefthook.yml
  packages/git-tools/src/lefthook/lefthook.yml
Due: build, hook-script

fix(linting-tools): Relocated biome specific CLI calls to package.json
  lefthook.yml
  package.json
Due: none

ci(git-tools): Reslved issues with lefthook pre-push hook
  lefthook.yml
Due: none

fix(git-tools): Resolved git hook issue with git-lfs calls
  package.json
  packages/git-tools/project.json
  packages/git-tools/src/hooks/post-checkout.mjs
  packages/git-tools/src/hooks/post-commit.mjs
  packages/git-tools/src/hooks/post-merge.mjs
  packages/git-tools/src/hooks/pre-push.mjs
  packages/git-tools/src/index.ts
  packages/git-tools/src/readme/index.ts
  packages/git-tools/src/readme/nx-docs.ts
  packages/git-tools/src/readme/utils.ts
  packages/git-tools/src/utilities/console-colors.ts
  packages/git-tools/src/utilities/file-utils.ts
  packages/git-tools/src/utilities/index.ts
  packages/git-tools/src/utilities/is-error.ts
  packages/git-tools/src/utilities/workspace-root.ts
Due: check, build, hook-script

fix(linting-tools): Various improvements to the biome formatter and linter configuration
  .vscode/extensions.json
  .vscode/settings.json
  packages/linting-tools/src/biome/biome.json
  packages/linting-tools/src/cli/index.ts
Due: check, build, hook-script

fix(git-tools): Temporarily remove the pre-push validate hook command
  lefthook.yml
Due: none

chore(config-tools): config-tools-v1.14.0 [skip ci]
  packages/config-tools/CHANGELOG.md
  packages/config-tools/package.json
Due: check, build, readme-format, hook-script

Notes added by 'git notes add'
  00/f812321e126b34c192aead06a7c04b2329d664
Due: none

chore(workspace-tools): workspace-tools-v1.42.0 [skip ci]
  packages/workspace-tools/CHANGELOG.md
  packages/workspace-tools/package.json
Due: check, build, readme-format, hook-script

Notes added by 'git notes add'
  9e/bb6d43f8ed56bcf1552fccc5d739fb3d1ece00
Due: none

chore(create-storm-workspace): create-storm-workspace-v1.42.0 [skip ci]
  packages/create-storm-workspace/CHANGELOG.md
  packages/create-storm-workspace/package.json
Due: check, build, readme-format, hook-script

Notes added by 'git notes add'
  19/c0580d3d8aaccff5aa9288faa744e46070a641
Due: none

chore(linting-tools): linting-tools-v1.25.0 [skip ci]
  packages/linting-tools/CHANGELOG.md
  packages/linting-tools/package.json
Due: check, build, readme-format, hook-script

Notes added by 'git notes add'
  24/2eccfbf7a4f6a240686b64bdb0ebf510cda54e
Due: none

chore(git-tools): git-tools-v1.23.0 [skip ci]
  packages/git-tools/CHANGELOG.md
  packages/git-tools/package.json
Due: check, build, readme-format, hook-script

Notes added by 'git notes add'
  21/0295e5504c33e6162458b84716261cc9acd1a7
Due: none

chore(design-tools): design-tools-v1.5.0 [skip ci]
  packages/design-tools/CHANGELOG.md
  packages/design-tools/package.json
Due: check, build, readme-format, hook-script

Notes added by 'git notes add'
  bf/46740e1f4b901351e35417a939d15d176993fb
Due: none

chore(testing-tools): testing-tools-v1.21.0 [skip ci]
  packages/testing-tools/CHANGELOG.md
  packages/testing-tools/package.json
Due: check, build, readme-format, hook-script

Notes added by 'git notes add'
  00/0bdceb0893732767837f44c29e7c0d4f53ac23
Due: none

fix(linting-tools): Resolve Dependabot Alerts #1, #2, #3, and #4
  package.json
  pnpm-lock.yaml
Due: none

fix(git-tools): Resolved issue with Auto-approval GitHub Action
  .github/workflows/codeql.yml
  .github/workflows/dependabot-approve.yml
  .github/workflows/git-guardian.yml
  infrastructure/.gitignore
  infrastructure/Pulumi.yaml
  infrastructure/index.ts
  infrastructure/package.json
  infrastructure/tsconfig.json
Due: check, build, readme-format, hook-script

chore(config-tools): config-tools-v1.14.1 [skip ci]
  packages/config-tools/CHANGELOG.md
  packages/config-tools/package.json
Due: check, build, readme-format, hook-script

Notes added by 'git notes add'
  aa/245134fded2ee2ac72c686264e4cad3e5a8f5b
Due: none

Path conditions:
  check: any of: **/*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}
  build: any of: **/*.*
  readme-format: any of: **/{README.md,package.json}
  hook-script: any of: **/*.*
