Repository storm-software/storm-ops: changes, and which lefthook commands are due for each by the changed paths.
All: prebuild, validate, format, postbuild

lefthook.yml:

#
#   Refer for explanation to following link:
#   https://github.com/evilmartians/lefthook/blob/master/docs/configuration.md
#

assert_lefthook_installed: true
colors: true
no_tty: false
min_version: 1.5.0

pre-install:
  commands:
    validate:
      glob: "**/*.*"
      run: "node ./dist/packages/git-tools/bin/pre-install.js"

prepare:
  commands:
    validate:
      glob: "**/*.*"
      run: "node ./dist/packages/git-tools/bin/prepare.js"

pre-commit:
  piped: true
  commands:
    prepare:
      files: "git diff --name-only HEAD @{push}"
      glob: "**/{lefthook.yml,biome.json}"
      run: "pnpm lefthook install"
    prebuild:
      glob: "**/*.*"
      run: "pnpm build"
      stage_fixed: true
    validate:
      glob: "**/*.*"
      run: "node ./dist/packages/git-tools/bin/pre-commit.js {staged_files}"
      stage_fixed: true
    lint:
      files: "git diff --name-only HEAD @{push}"
      glob: "**/*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: "pnpm lint && git update-index"
    check:
      files: "git diff --name-only HEAD @{push}"
      glob: "**/*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: "pnpm biome:check {staged_files} && git update-index"
    readme:
      files: "git diff --name-only HEAD @{push}"
      glob: "**/{README.md,package.json}"
      run: "node ./dist/packages/git-tools/bin/git.js readme-gen --templates=\"dist/packages/git-tools/readme/templates\" && git update-index"
    format:
      glob: "**/{README.md,package.json}"
      run: "pnpm biome:format {staged_files} && git update-index"
    postbuild:
      glob: "**/*.*"
      run: "pnpm build"
      stage_fixed: true

commit-msg:
  commands:
    validate:
      run: "npx commitlint --config dist/packages/git-tools/commitlint.config.cjs --edit {1}"

pre-push:
  piped: true
  commands:
    validate:
      files: "git diff --name-only HEAD @{push}"
      glob: "**/*.*"
      run: "node ./dist/packages/git-tools/hooks/pre-push.js {files} && git update-index"
    lint:
      files: "git diff --name-only HEAD @{push}"
      glob: "**/*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: "pnpm biome:lint {files} && git update-index"

post-merge:
  commands:
    validate:
      glob: "**/*.*"
      run: "node ./dist/packages/git-tools/bin/post-merge.js {staged_files}"
      stage_fixed: true

post-checkout:
  commands:
    validate:
      glob: "**/*.*"
      run: "node ./dist/packages/git-tools/bin/post-checkout.js {staged_files}"

post-commit:
  commands:
    validate:
      glob: "**/*.*"
      run: "node ./dist/packages/git-tools/bin/post-commit.js {staged_files}"

chore(release): Publish monorepo release updates
  packages/build-tools/CHANGELOG.md
  packages/build-tools/package.json
Due: prebuild, validate, format, postbuild

fix(build-tools): Update the tsup build method to change directory to workspace root
  packages/build-tools/project.json
  packages/build-tools/src/utils/run-tsup-build.ts
Due: prebuild, validate, postbuild

fix(build-tools): Removed the chdir command from build
  packages/build-tools/src/utils/run-tsup-build.ts
Due: prebuild, validate, postbuild

fix(workspace-tools): Remove unneeded chdir lines from base methods
  packages/build-tools/src/utils/run-tsup-build.ts
  packages/tsconfig/src/base.json
  packages/workspace-tools/src/base/base-executor.ts
  packages/workspace-tools/src/base/base-generator.ts
Due: prebuild, validate, postbuild

chore(release): Publish monorepo release updates
  packages/build-tools/CHANGELOG.md
  packages/build-tools/package.json
  packages/tsconfig/CHANGELOG.md
  packages/tsconfig/package.json
  packages/workspace-tools/CHANGELOG.md
  packages/workspace-tools/package.json
Due: prebuild, validate, format, postbuild

fix(build-tools): Update issues with invalid path to build shim files
  packages/build-tools/src/config/default-config.ts
  patches/tsup@8.0.0.patch
  pnpm-lock.yaml
Due: prebuild, validate, postbuild

fix(build-tools): Resolved issue with improper token application
  packages/config-tools/src/utilities/apply-workspace-tokens.ts
Due: prebuild, validate, postbuild

chore(release): Publish monorepo release updates
  packages/config-tools/CHANGELOG.md
  packages/config-tools/package.json
Due: prebuild, validate, format, postbuild

fix(build-tools): Updates to paths provided to compiler options
  packages/build-tools/src/utils/run-tsup-build.ts
Due: prebuild, validate, postbuild

fix(build-tools): Updates to typescript build processing
  packages/build-tools/src/utils/generate-package-json.ts
  packages/build-tools/src/utils/run-tsup-build.ts
Due: prebuild, validate, postbuild

fix(workspace-tools): Manually add the typescript libs to the `fileNames` build parameter
  packages/build-tools/src/utils/run-tsup-build.ts
Due: prebuild, validate, postbuild

fix(workspace-tools): Add hosting to resolve issues with bundling
  .npmrc
Due: none

fix(tsconfig): Remove unused options from root tsconfig
  packages/tsconfig/src/base.json
Due: prebuild, validate, postbuild

chore(release): Publish monorepo release updates
  packages/tsconfig/CHANGELOG.md
  packages/tsconfig/package.json
Due: prebuild, validate, format, postbuild

fix(tsconfig): Repush changes to tsconfig updates
  packages/tsconfig/tsconfig.json
Due: prebuild, validate, postbuild

fix(workspace-tools): Mark swc packages as external
  packages/workspace-tools/project.json
Due: prebuild, validate, postbuild

chore(release): Publish monorepo release updates
  packages/workspace-tools/CHANGELOG.md
  packages/workspace-tools/package.json
Due: prebuild, validate, format, postbuild

fix(build-tools): Resolve issue with bad declaration folder path
  packages/build-tools/src/utils/run-tsup-build.ts
  packages/workspace-tools/project.json
Due: prebuild, validate, postbuild

chore(release): Publish monorepo release updates
  packages/build-tools/CHANGELOG.md
  packages/build-tools/package.json
  packages/workspace-tools/CHANGELOG.md
  packages/workspace-tools/package.json
Due: prebuild, validate, format, postbuild

fix(build-tools): Update paths in compiler options
  packages/build-tools/src/utils/run-tsup-build.ts
Due: prebuild, validate, postbuild

fix(git-tools): Updates to the lefthook scripts execution
  .github/.nvmrc
  lefthook.yml
  package.json
  packages/git-tools/src/lefthook/lefthook.yml
Due: prebuild, validate, postbuild

feat(linting-tools): Added the `taplo` and `ls-lint` tools
  packages/git-tools/src/lefthook/lefthook.yml
  packages/linting-tools/project.json
  packages/linting-tools/src/cspell/dictionary.txt
  packages/linting-tools/src/ls-lint/.ls-lint.yml
  packages/linting-tools/src/taplo/.taplo.toml
Due: prebuild, validate, postbuild

chore(release): Publish monorepo release updates
  packages/git-tools/CHANGELOG.md
  packages/git-tools/package.json
  packages/linting-tools/CHANGELOG.md
  packages/linting-tools/package.json
Due: prebuild, validate, format, postbuild

fix(linting-tools): Update the linting-tools asset configuration
  packages/linting-tools/project.json
Due: prebuild, validate, postbuild

chore(release): Publish monorepo release updates
  packages/linting-tools/CHANGELOG.md
  packages/linting-tools/package.json
Due: prebuild, validate, format, postbuild

fix(storm-config): Resolved issue with `release-version` generator options
  crates/storm-config/project.json
  crates/storm-workspace/project.json
Due: prebuild, validate, postbuild

fix(storm-config): Resolved issue with `project.json` file configuration
  crates/storm-config/project.json
Due: prebuild, validate, postbuild

fix(storm-config): Added support for the `.storm` configuration folder
  Cargo.toml
  crates/storm-config/src/storm_config.rs
  nx.json
  packages/workspace-tools/config/nx.json
Due: prebuild, validate, postbuild

fix(workspace-tools): Cleaned up the error logging in `release-version` generator
  packages/workspace-tools/src/generators/release-version/generator.ts
Due: prebuild, validate, postbuild

feat(workspace-tools): Added Nx plugin to apply rust and typescript targets
  .eslintrc.base.json
  .eslintrc.json
  crates/storm-config/project.json
  crates/storm-workspace/project.json
  nx.json
  package.json
  packages/build-tools/project.json
  packages/config-tools/project.json
  packages/config/project.json
  packages/create-storm-workspace/project.json
  packages/git-tools/project.json
  packages/git-tools/src/release/nx-release.ts
  packages/git-tools/src/release/nx-version.ts
  packages/linting-tools/project.json
  packages/testing-tools/project.json
  packages/tsconfig/project.json
  packages/workspace-tools/config/nx.json
  packages/workspace-tools/executors.json
  packages/workspace-tools/index.ts
  packages/workspace-tools/project.json
  packages/workspace-tools/src/executors/cargo-publish/executor.spec.ts
  packages/workspace-tools/src/executors/cargo-publish/executor.ts
  packages/workspace-tools/src/executors/cargo-publish/schema.d.ts
  packages/workspace-tools/src/executors/cargo-publish/schema.json
  packages/workspace-tools/src/executors/crates-publish/schema.d.ts
  packages/workspace-tools/src/executors/npm-publish/schema.json
  packages/workspace-tools/src/plugins/rust/cargo-toml.ts
  packages/workspace-tools/src/plugins/typescript/package-lock-file.ts
  packages/workspace-tools/src/plugins/typescript/project-config.ts
  packages/workspace-tools/src/utils/cargo.ts
  packages/workspace-tools/src/utils/index.ts
  packages/workspace-tools/src/utils/lock-file.ts
  packages/workspace-tools/src/utils/toml.ts
Due: prebuild, validate, postbuild

fix(git-tools): Resolved issues with `left-hook` scripts
  lefthook.yml
  package.json
  packages/git-tools/src/lefthook/lefthook.yml
  packages/linting-tools/src/ls-lint/.ls-lint.yml
  packages/linting-tools/src/taplo/.taplo.toml
  pnpm-lock.yaml
Due: prebuild, validate, postbuild
