Repository storm-software/storm-ops: changes, and which lefthook commands are due for each by the changed paths.
All: validate, check, readme, format, build

lefthook.yml:

#
#   Refer for explanation to following link:
#   https://github.com/evilmartians/lefthook/blob/master/docs/configuration.md
#

assert_lefthook_installed: true
colors: true
no_tty: false
min_version: 1.5.0

pre-install:
  commands:
    validate:
      glob: "**/*.*"
      run: "zx ./dist/packages/git-tools/scripts/pre-install.mjs"
prepare:
  commands:
    validate:
      glob: "**/*.*"
      run: "zx ./dist/packages/git-tools/scripts/prepare.mjs"

pre-commit:
  piped: true
  commands:
    validate:
      glob: "**/*.*"
      run: "zx ./dist/packages/git-tools/hooks/pre-commit.mjs {staged_files}"
      stage_fixed: true
    lint-storm:
      files: "git diff --name-only HEAD @{push}"
      glob: "**/*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: "pnpm lint && git update-index"
    check:
      glob: "**/*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: "pnpm biome:check {staged_files} && git update-index"
    readme:
      glob: "**/{README.md,package.json}"
      run: "zx ./dist/packages/git-tools/bin/cli.mjs readme-gen --templates=\"dist/packages/git-tools/readme/templates\" && git update-index"
    format:
      glob: "**/{README.md,package.json}"
      run: "pnpm biome:format {staged_files} && git update-index"
    build:
      glob: "**/*.*"
      run: "pnpm build"
      stage_fixed: true

commit-msg:
  commands:
    validate:
      run: "npx commitlint --config dist/packages/git-tools/commitlint.config.cjs --edit {1}"

pre-push:
  piped: true
  commands:
    validate:
      files: "git diff --name-only HEAD @{push}"
      glob: "**/*.*"
      run: "zx ./dist/packages/git-tools/hooks/pre-push.mjs {files}"
    lint:
      files: "git diff --name-only HEAD @{push}"
      glob: "**/*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: "pnpm biome:lint {files} && git update-index"

post-merge:
  commands:
    validate:
      glob: "**/*.*"
      run: "zx ./dist/packages/git-tools/hooks/post-merge.mjs {staged_files}"
      stage_fixed: true

post-checkout:
  commands:
    validate:
      glob: "**/*.*"
      run: "zx ./dist/packages/git-tools/hooks/post-checkout.mjs {staged_files}"

post-commit:
  commands:
    validate:
      glob: "**/*.*"
      run: "zx ./dist/packages/git-tools/hooks/post-commit.mjs {staged_files}"

Notes added by 'git notes add'
  62/84adb640fa9dd564fd9dc6fb9aef3cdb3c5176
Due: none

chore(git-tools): git-tools-v1.23.3 [skip ci]
  packages/git-tools/CHANGELOG.md
  packages/git-tools/package.json
Due: validate, check, readme, format, build

Notes added by 'git notes add'
  52/ec1ee40833ceb9981971f44b178949e1e921f7
Due: none

chore(testing-tools): testing-tools-v1.21.3 [skip ci]
  packages/testing-tools/CHANGELOG.md
  packages/testing-tools/package.json
Due: validate, check, readme, format, build

Notes added by 'git notes add'
  17/66da70d22461443c4f0cce71a6cda03ef62507
Due: none

chore(design-tools): design-tools-v1.5.3 [skip ci]
  packages/design-tools/CHANGELOG.md
  packages/design-tools/package.json
Due: validate, check, readme, format, build

Notes added by 'git notes add'
  ce/78f7a60708729ab1c79ce23d80a7ee00952b54
Due: none

feat(workspace-tools): Added logger functions to use in the repo's console CLI apps
  packages/config-tools/package.json
  packages/config-tools/src/types.ts
  packages/config-tools/src/utilities/get-log-level.ts
  packages/config-tools/src/utilities/index.ts
  packages/config-tools/src/utilities/logger.ts
  packages/workspace-tools/src/base/base-executor.ts
  pnpm-lock.yaml
Due: validate, check, readme, format, build

chore(config-tools): config-tools-v1.15.0 [skip ci]
  packages/config-tools/CHANGELOG.md
  packages/config-tools/package.json
Due: validate, check, readme, format, build

Notes added by 'git notes add'
  85/d5b25a2262e44c227b2bbfbc97120d696495b6
Due: none

chore(workspace-tools): workspace-tools-v1.43.0 [skip ci]
  packages/workspace-tools/CHANGELOG.md
  packages/workspace-tools/package.json
Due: validate, check, readme, format, build

Notes added by 'git notes add'
  0e/796b7d1f55979e7e0b6326bb930db10487982d
Due: none

chore(create-storm-workspace): create-storm-workspace-v1.43.0 [skip ci]
  packages/create-storm-workspace/CHANGELOG.md
  packages/create-storm-workspace/package.json
Due: validate, check, readme, format, build

Notes added by 'git notes add'
  93/5bac0c42ef965159db06fa67cf7cce8530c99b
Due: none

chore(linting-tools): linting-tools-v1.26.0 [skip ci]
  packages/linting-tools/CHANGELOG.md
  packages/linting-tools/package.json
Due: validate, check, readme, format, build

Notes added by 'git notes add'
  95/0a8bb883a1e2afa8c6fe05b0bf5610652b103e
Due: none

chore(git-tools): git-tools-v1.24.0 [skip ci]
  packages/git-tools/CHANGELOG.md
  packages/git-tools/package.json
Due: validate, check, readme, format, build

Notes added by 'git notes add'
  f1/0ab991811b8b7053f01a49cda13e5541655c3e
Due: none

chore(design-tools): design-tools-v1.6.0 [skip ci]
  packages/design-tools/CHANGELOG.md
  packages/design-tools/package.json
Due: validate, check, readme, format, build

Notes added by 'git notes add'
  e2/5a5c52083ef9202397848545d7f92a62d948df
Due: none

chore(testing-tools): testing-tools-v1.22.0 [skip ci]
  packages/testing-tools/CHANGELOG.md
  packages/testing-tools/package.json
Due: validate, check, readme, format, build

Notes added by 'git notes add'
  92/f4a55485fadc9d97f37c1e521e9deae73301e6
Due: none

fix(git-tools): Resolved logging issues with git hooks and tsup build
  lefthook.yml
  packages/config-tools/README.md
  packages/config-tools/project.json
  packages/config-tools/src/utilities/index.ts
  packages/config-tools/src/utilities/logger.ts
  packages/config-tools/src/utilities/prepare-workspace.ts
  packages/create-storm-workspace/README.md
  packages/git-tools/README.md
  packages/git-tools/bin/cli.mjs
  packages/git-tools/eslint.config.js
  packages/git-tools/scripts/prepare.mjs
  packages/git-tools/src/cli/index.ts
  packages/git-tools/src/lefthook/lefthook.yml
  packages/git-tools/tsconfig.lib.json
  packages/linting-tools/README.md
  packages/linting-tools/bin/cli.mjs
  packages/linting-tools/src/biome/biome.json
  packages/linting-tools/src/cli/index.ts
  packages/linting-tools/tsconfig.lib.json
  packages/testing-tools/README.md
  packages/workspace-tools/README.md
  packages/workspace-tools/src/base/base-executor.ts
  packages/workspace-tools/src/base/base-generator.ts
  packages/workspace-tools/src/base/get-tsup-config.ts
  packages/workspace-tools/src/base/typescript-library-generator.ts
Due: validate, check, readme, format, build

chore(config-tools): config-tools-v1.15.1 [skip ci]
  packages/config-tools/CHANGELOG.md
  packages/config-tools/package.json
Due: validate, check, readme, format, build

Notes added by 'git notes add'
  c4/21f50017eccdcd74404d8ce9e29490d5dd0f61
Due: none

chore(workspace-tools): workspace-tools-v1.43.1 [skip ci]
  packages/workspace-tools/CHANGELOG.md
  packages/workspace-tools/package.json
Due: validate, check, readme, format, build

Notes added by 'git notes add'
  11/1445953e3d8ab3525f9ffd0dc69cc3a257ca6d
Due: none

fix(git-tools): Updated console formatting and text colors
  packages/config-tools/src/utilities/logger.ts
  packages/git-tools/src/cli/index.ts
Due: validate, check, build

chore(create-storm-workspace): create-storm-workspace-v1.43.1 [skip ci]
  packages/create-storm-workspace/CHANGELOG.md
  packages/create-storm-workspace/package.json
Due: validate, check, readme, format, build

Notes added by 'git notes add'
  c8/ff9b8147a8fd5bb62d900391e1b03ef928c70d
Due: none

chore(linting-tools): linting-tools-v1.26.1 [skip ci]
  packages/linting-tools/CHANGELOG.md
  packages/linting-tools/package.json
Due: validate, check, readme, format, build

Notes added by 'git notes add'
  42/60af8d2f1cab8b215f75f8f901f73586a683db
Due: none

chore(git-tools): git-tools-v1.24.1 [skip ci]
  packages/git-tools/CHANGELOG.md
  packages/git-tools/package.json
Due: validate, check, readme, format, build

Notes added by 'git notes add'
  de/d2c36d21b5fbf989a4c47be90dcc5bd50e8414
Due: none

chore(config-tools): config-tools-v1.15.2 [skip ci]
  packages/config-tools/CHANGELOG.md
  packages/config-tools/package.json
Due: validate, check, readme, format, build

Notes added by 'git notes add'
  5a/d7b4eb3c2762a26a6adfa02b05d3cd44aa2e62
Due: none

chore(workspace-tools): workspace-tools-v1.43.2 [skip ci]
  packages/workspace-tools/CHANGELOG.md
  packages/workspace-tools/package.json
Due: validate, check, readme, format, build

Notes added by 'git notes add'
  92/322797ee97dd529fe0279001a874e5d1ed154c
Due: none

chore(create-storm-workspace): create-storm-workspace-v1.43.2 [skip ci]
  packages/create-storm-workspace/CHANGELOG.md
  packages/create-storm-workspace/package.json
Due: validate, check, readme, format, build

Notes added by 'git notes add'
  6f/a1dab3b2276ec21cd561923e3d58a1015abc4a
Due: none
