Repository storm-software/storm-ops: changes, and which lefthook commands are due for each by the changed paths.
All: prepare, schema-gen, readme

lefthook.yml:

#
#   Refer for explanation to following link:
#   https://github.com/evilmartians/lefthook/blob/master/docs/configuration.md
#

assert_lefthook_installed: true
colors: true
no_tty: false
min_version: 1.5.0

pre-install:
  commands:
    validate:
      glob: "**/*"
      run: "node ./dist/packages/git-tools/bin/pre-install.js"

prepare:
  commands:
    validate:
      glob: "**/*"
      run: "node ./dist/packages/git-tools/bin/prepare.js"

pre-commit:
  piped: true
  commands:
    prepare:
      glob: "**/{lefthook.yml,biome.json}"
      run: "pnpm lefthook install"
      stage_fixed: true
    schema-gen:
      glob: "packages/config/src/schema.ts"
      run: 'pnpm nx generate @storm-software/workspace-tools:config-schema
        --outputFile="./packages/config/schemas/storm.schema.json"'
      stage_fixed: true
    validate:
      files: "git diff --name-only HEAD @{push}"
      glob: "**/*"
      run: "node ./dist/packages/git-tools/bin/pre-commit.js {files}"
      stage_fixed: true
    # lint:
    #   files: "git diff --name-only HEAD @{push}"
    #   glob: "**/*.{js,ts,rs,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
    #   run: "pnpm lint"
    # check:
    #   files: "git diff --name-only HEAD @{push}"
    #   glob: "**/*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
    #   run: "pnpm exec prettier {staged_files} --check --ignore-unknown --no-error-on-unmatched-pattern --cache"
    # toml:
    #   files: "git diff --name-only HEAD @{push}"
    #   glob: "**/*.{toml}"
    #   run: "pnpm format-toml"
    readme:
      glob: "**/{README.md,README.*.md,readme/**/*,package.json,executors.json,generators.json}"
      run: "pnpm format-readme"
      stage_fixed: true
    format:
      files: "git diff --name-only HEAD @{push}"
      glob: "**/*"
      exclude: "packages/workspace-tools/src/generators/*/files/**/*"
      run: "pnpm exec prettier {files} --write --ignore-unknown
        --no-error-on-unmatched-pattern --cache"
      stage_fixed: true
    # postbuild:
    #   files: "git diff --name-only HEAD @{push}"
    #   glob: "**/*"
    #   run: "pnpm build-all"

commit-msg:
  commands:
    validate:
      run: 'pnpm exec commitlint
        --config="./dist/packages/git-tools/commitlint/commitlint.config.cjs"
        --edit {1}'

pre-push:
  piped: true
  commands:
    validate:
      files: "git diff --name-only HEAD @{push}"
      glob: "**/*"
      run: "node ./dist/packages/git-tools/bin/pre-push.js {files}"
      stage_fixed: true
    format:
      files: "git diff --name-only HEAD @{push}"
      glob: "!packages/workspace-tools/src/generators/*/files/**/*"
      run: "pnpm exec prettier {files} --write --ignore-unknown
        --no-error-on-unmatched-pattern --cache"
      stage_fixed: true
    build:
      glob: "**/*"
      run: "pnpm build-all"
      stage_fixed: true

post-merge:
  commands:
    validate:
      files: "git diff --name-only HEAD @{push}"
      glob: "**/*"
      run: "node ./dist/packages/git-tools/bin/post-merge.js {files}"
      stage_fixed: true

post-checkout:
  commands:
    validate:
      files: "git diff --name-only HEAD @{push}"
      glob: "**/*"
      run: "node ./dist/packages/git-tools/bin/post-checkout.js {files}"

post-commit:
  commands:
    validate:
      files: "git diff --name-only HEAD @{push}"
      glob: "**/*"
      run: "node ./dist/packages/git-tools/bin/post-commit.js {files}"

feat(workspace-tools): Update the Nx package code to conform to latest type definitions
  nx.json
  package.json
  packages/build-tools/CHANGELOG.md
  packages/build-tools/README.md
  packages/config-tools/CHANGELOG.md
  packages/config-tools/README.md
  packages/config/CHANGELOG.md
  packages/config/README.md
  packages/git-tools/src/lefthook/config.yml
  packages/testing-tools/CHANGELOG.md
  packages/testing-tools/README.md
  packages/workspace-tools/CHANGELOG.md
  packages/workspace-tools/README.md
  packages/workspace-tools/config/nx-cloud.json
  packages/workspace-tools/config/nx-default.json
  packages/workspace-tools/config/nx.json
  packages/workspace-tools/src/base/typescript-library-generator.ts
  packages/workspace-tools/src/generators/neutral-library/generator.ts
  packages/workspace-tools/src/plugins/typescript/project-config.ts
Due: readme

fix(cloudflare-tools): Remove references to removed `projectNameAndRootFormat` Nx options
  packages/build-tools/README.md
  packages/cloudflare-tools/src/generators/worker/generator.ts
  packages/cloudflare-tools/src/generators/worker/schema.d.ts
  packages/config-tools/README.md
  packages/config/README.md
  packages/testing-tools/README.md
  packages/workspace-tools/README.md
Due: readme

fix(cloudflare-tools): Update calls to `readTargetsFromPackageJson` to match new definitions
  packages/cloudflare-tools/src/plugins/index.ts
Due: none

chore(release): Publish monorepo release updates
  packages/build-tools/CHANGELOG.md
  packages/build-tools/package.json
  packages/cloudflare-tools/CHANGELOG.md
  packages/cloudflare-tools/package.json
  packages/config-tools/CHANGELOG.md
  packages/config-tools/package.json
  packages/config/CHANGELOG.md
  packages/config/package.json
  packages/create-storm-workspace/CHANGELOG.md
  packages/create-storm-workspace/package.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/eslint-plugin-graphql/CHANGELOG.md
  packages/eslint-plugin-graphql/package.json
  packages/eslint-plugin-react/CHANGELOG.md
  packages/eslint-plugin-react/package.json
  packages/eslint-plugin/CHANGELOG.md
  packages/eslint-plugin/package.json
  packages/eslint/CHANGELOG.md
  packages/eslint/package.json
  packages/git-tools/CHANGELOG.md
  packages/git-tools/package.json
  packages/k8s-tools/CHANGELOG.md
  packages/k8s-tools/package.json
  packages/linting-tools/CHANGELOG.md
  packages/linting-tools/package.json
  packages/terraform-tools/CHANGELOG.md
  packages/terraform-tools/package.json
  packages/testing-tools/CHANGELOG.md
  packages/testing-tools/package.json
  packages/workspace-tools/CHANGELOG.md
  packages/workspace-tools/package.json
  terraform-modules/CHANGELOG.md
  terraform-modules/package.json
Due: readme

feat(config): Added the `positive` and `negative` color tokens
  packages/config-tools/src/env/get-env.ts
  packages/config-tools/src/env/set-env.ts
  packages/config-tools/src/utilities/get-default-config.ts
  packages/config/presets/base.json
  packages/config/src/schema.ts
  packages/eslint/src/preset.ts
Due: schema-gen

feat(config): Regenerate the config JSON Schema file
  packages/config-tools/src/utilities/get-default-config.ts
  packages/config/schemas/storm.schema.json
Due: none

fix(eslint): Resolved issue with plugin typings
  packages/config/README.md
  packages/eslint/src/preset.ts
Due: readme

feat(eslint): Resolve type issues with Nx plugin in preset
  packages/build-tools/README.md
  packages/cloudflare-tools/README.md
  packages/config-tools/README.md
  packages/config/README.md
  packages/create-storm-workspace/README.md
  packages/eslint-config/README.md
  packages/eslint-plugin/README.md
  packages/eslint/README.md
  packages/eslint/src/preset.ts
  packages/git-tools/README.md
  packages/linting-tools/README.md
  packages/terraform-tools/README.md
  packages/testing-tools/README.md
  packages/workspace-tools/README.md
  terraform-modules/README.md
Due: readme

chore(release): Publish monorepo release updates
  packages/build-tools/CHANGELOG.md
  packages/build-tools/package.json
  packages/cloudflare-tools/CHANGELOG.md
  packages/cloudflare-tools/package.json
  packages/config-tools/CHANGELOG.md
  packages/config-tools/package.json
  packages/config/CHANGELOG.md
  packages/config/package.json
  packages/create-storm-workspace/CHANGELOG.md
  packages/create-storm-workspace/package.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/eslint-plugin-graphql/package.json
  packages/eslint-plugin-react/package.json
  packages/eslint-plugin/CHANGELOG.md
  packages/eslint-plugin/package.json
  packages/eslint/CHANGELOG.md
  packages/eslint/package.json
  packages/git-tools/CHANGELOG.md
  packages/git-tools/package.json
  packages/linting-tools/CHANGELOG.md
  packages/linting-tools/package.json
  packages/terraform-tools/CHANGELOG.md
  packages/terraform-tools/package.json
  packages/testing-tools/CHANGELOG.md
  packages/testing-tools/package.json
  packages/workspace-tools/CHANGELOG.md
  packages/workspace-tools/package.json
  terraform-modules/CHANGELOG.md
  terraform-modules/package.json
Due: readme

fix(eslint): Resolved issue with Nx plugin import in preset
  packages/config/README.md
  packages/config/declarations.d.ts
  packages/config/src/types.ts
  packages/eslint/src/preset.ts
Due: readme

chore(release): Publish monorepo release updates
  packages/config/CHANGELOG.md
  packages/config/package.json
  packages/eslint-plugin-graphql/package.json
  packages/eslint-plugin-react/package.json
  packages/eslint/CHANGELOG.md
  packages/eslint/package.json
Due: readme

feat(config): Add the `danger` color token
  packages/build-tools/README.md
  packages/cloudflare-tools/README.md
  packages/config-tools/README.md
  packages/config-tools/src/env/get-env.ts
  packages/config-tools/src/env/set-env.ts
  packages/config-tools/src/utilities/get-default-config.ts
  packages/config-tools/src/utilities/logger.ts
  packages/config/README.md
  packages/config/presets/base.json
  packages/config/src/schema.ts
  packages/config/src/types.ts
  packages/create-storm-workspace/README.md
  packages/eslint-config/README.md
  packages/eslint-plugin/README.md
  packages/eslint/README.md
  packages/git-tools/README.md
  packages/linting-tools/README.md
  packages/terraform-tools/README.md
  packages/testing-tools/README.md
  packages/workspace-tools/README.md
  storm.json
  terraform-modules/README.md
Due: schema-gen, readme

feat(config): Regenerate the Storm configuration schema
  packages/config-tools/README.md
  packages/config/README.md
  packages/config/declarations.d.ts
  packages/config/schemas/storm.schema.json
  packages/eslint/README.md
Due: readme

chore(release): Publish monorepo release updates
  packages/config-tools/CHANGELOG.md
  packages/config-tools/package.json
  packages/config/CHANGELOG.md
  packages/config/package.json
  packages/eslint-plugin-graphql/package.json
  packages/eslint-plugin-react/package.json
  packages/eslint/CHANGELOG.md
  packages/eslint/package.json
Due: readme

feat(build-tools): Added back cjs build and local package.json dependencies
  packages/build-tools/README.md
  packages/build-tools/src/build/unbuild.ts
  packages/build-tools/src/config/get-unbuild-config.ts
  packages/cloudflare-tools/README.md
  packages/config-tools/README.md
  packages/config/README.md
  packages/create-storm-workspace/README.md
  packages/eslint-config/README.md
  packages/eslint-plugin/README.md
  packages/eslint/README.md
  packages/git-tools/README.md
  packages/linting-tools/README.md
  packages/terraform-tools/README.md
  packages/testing-tools/README.md
  packages/workspace-tools/README.md
  terraform-modules/README.md
Due: readme

fix(config-tools): Cleaned up the logger's formatting
  packages/build-tools/src/build/unbuild.ts
  packages/config-tools/README.md
  packages/config-tools/src/utilities/logger.ts
  packages/config/README.md
  packages/eslint/README.md
Due: readme

chore(release): Publish monorepo release updates
  packages/build-tools/CHANGELOG.md
  packages/build-tools/package.json
  packages/config-tools/CHANGELOG.md
  packages/config-tools/package.json
  packages/config/CHANGELOG.md
  packages/config/package.json
  packages/eslint-plugin-graphql/package.json
  packages/eslint-plugin-react/package.json
  packages/eslint/CHANGELOG.md
  packages/eslint/package.json
Due: readme

fix(config-tools): Ensure trace logging is not marked as system logging
  packages/build-tools/README.md
  packages/cloudflare-tools/README.md
  packages/config-tools/README.md
  packages/config-tools/src/config-file/get-config-file.ts
  packages/config-tools/src/utilities/logger.ts
  packages/config/README.md
  packages/config/presets/base.json
  packages/create-storm-workspace/README.md
  packages/eslint-config/README.md
  packages/eslint-plugin/README.md
  packages/eslint/README.md
  packages/git-tools/README.md
  packages/linting-tools/README.md
  packages/terraform-tools/README.md
  packages/testing-tools/README.md
  packages/workspace-tools/README.md
  terraform-modules/README.md
Due: readme

fix(config-tools): Improve config file path formatting in log message
  packages/build-tools/README.md
  packages/config-tools/README.md
  packages/config-tools/src/config-file/get-config-file.ts
  packages/config/README.md
  packages/eslint/README.md
Due: readme

feat(build-tools): Allow default package.json exports by no longer overriding them
  packages/build-tools/README.md
  packages/build-tools/src/utils/generate-package-json.ts
  packages/cloudflare-tools/README.md
  packages/config-tools/README.md
  packages/config/README.md
  packages/create-storm-workspace/README.md
  packages/eslint-config/README.md
  packages/eslint-plugin/README.md
  packages/eslint/README.md
  packages/git-tools/README.md
  packages/linting-tools/README.md
  packages/terraform-tools/README.md
  packages/testing-tools/README.md
  packages/workspace-tools/README.md
  terraform-modules/README.md
Due: readme

feat(linting-tools): Added `syncpack` config and CI reusable actions
  .github/workflows/ci-reusable.yml
  .github/workflows/ci.yml
  .github/workflows/sync-package-json-reusable.yml
  migrations.json
  package.json
  packages/build-tools/README.md
  packages/config-tools/README.md
  packages/config/README.md
  packages/eslint/README.md
  packages/linting-tools/project.json
  packages/linting-tools/src/syncpack/config.json
  pnpm-lock.yaml
Due: readme

feat(storm-ops): Added `sherif` and `knip` linting to CI pipeline
  .github/workflows/ci-reusable.yml
  .github/workflows/ci.yml
  package.json
  packages/build-tools/README.md
  packages/cloudflare-tools/README.md
  packages/config-tools/README.md
  packages/config/README.md
  packages/create-storm-workspace/README.md
  packages/eslint-config/README.md
  packages/eslint-plugin/README.md
  packages/eslint/README.md
  packages/git-tools/README.md
  packages/linting-tools/README.md
  packages/terraform-tools/README.md
  packages/testing-tools/README.md
  packages/workspace-tools/README.md
  packages/workspace-tools/config/nx-default.json
  packages/workspace-tools/config/nx.json
  terraform-modules/README.md
Due: readme

feat(workspace-tools): Upgrade the Nx configuration target tasks
  .github/workflows/cr.yml
  .github/workflows/dependabot-update.yml
  .github/workflows/greetings.yml
  .github/workflows/lint-commit.yaml
  README.md
  packages/workspace-tools/config/nx-default.json
Due: none

feat(storm-ops): Add the other CI steps as concurrent actions
  .github/workflows/autofix.yml
  .github/workflows/ci-reusable.yml
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/contributors.yml
  .github/workflows/lint-commit.yaml
  .github/workflows/security.yml
  .github/workflows/syncpack-reusable.yml
  .github/workflows/syncpack.yml
  package.json
Due: none

feat(storm-ops): Consolidate some of the workflow actions into CI pipeline
  .github/workflows/autofix.yml
  .github/workflows/ci.yml
  .github/workflows/security-reusable.yml
  .github/workflows/syncpack.yml
Due: none

fix(storm-ops): Resolve issue Syncpack action
  .github/workflows/ci.yml
Due: none

feat(storm-ops): Added separate Syncpack workflow action
  .github/workflows/ci.yml
  .github/workflows/syncpack.yml
Due: none

fix(storm-ops): Resolve issue with prettier scripts
  package.json
Due: none

feat(storm-ops): Added sherif to `left-hook` script
  .github/workflows/ci.yml
  lefthook.yml
Due: none

fix(storm-ops): Move sherif command in lefthook
  lefthook.yml
Due: none

chore(storm-ops): Upgrade repository versions with sherif scan
  crates/storm-config/package.json
  crates/storm-workspace/package.json
  docs/api-reports/package.json
  lefthook.yml
  packages/build-tools/package.json
  packages/cloudflare-tools/package.json
  packages/create-storm-workspace/package.json
  packages/eslint-config/package.json
  packages/eslint-plugin-graphql/package.json
  packages/eslint-plugin-react/package.json
  packages/eslint-plugin/package.json
  packages/eslint/package.json
  packages/git-tools/package.json
  packages/k8s-tools/package.json
  packages/terraform-tools/package.json
  packages/testing-tools/package.json
  packages/workspace-tools/package.json
  pnpm-lock.yaml
Due: readme

feat(storm-ops): Added `lint-sherif` script to the CI workflow
  .github/workflows/ci.yml
  README.md
  crates/storm-config/README.md
  crates/storm-workspace/README.md
  packages/build-tools/README.md
  packages/cloudflare-tools/README.md
  packages/config-tools/README.md
  packages/config/README.md
  packages/create-storm-workspace/README.md
  packages/eslint-config/README.md
  packages/eslint-plugin/README.md
  packages/eslint/README.md
  packages/git-tools/README.md
  packages/linting-tools/README.md
  packages/terraform-tools/README.md
  packages/testing-tools/README.md
  packages/workspace-tools/README.md
  terraform-modules/README.md
Due: readme

feat(storm-ops): Added separate Autofix workflow action
  .github/workflows/autofix.yml
  .github/workflows/ci.yml
Due: none

chore(release): Publish monorepo release updates
  crates/storm-config/CHANGELOG.md
  crates/storm-config/package.json
  crates/storm-workspace/CHANGELOG.md
  crates/storm-workspace/package.json
  packages/build-tools/CHANGELOG.md
  packages/build-tools/package.json
  packages/cloudflare-tools/CHANGELOG.md
  packages/cloudflare-tools/package.json
  packages/config-tools/CHANGELOG.md
  packages/config-tools/package.json
  packages/config/CHANGELOG.md
  packages/config/package.json
  packages/create-storm-workspace/CHANGELOG.md
  packages/create-storm-workspace/package.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/eslint-plugin-graphql/package.json
  packages/eslint-plugin-react/package.json
  packages/eslint-plugin/CHANGELOG.md
  packages/eslint-plugin/package.json
  packages/eslint/CHANGELOG.md
  packages/eslint/package.json
  packages/git-tools/CHANGELOG.md
  packages/git-tools/package.json
  packages/linting-tools/CHANGELOG.md
  packages/linting-tools/package.json
  packages/terraform-tools/CHANGELOG.md
  packages/terraform-tools/package.json
  packages/testing-tools/CHANGELOG.md
  packages/testing-tools/package.json
  packages/workspace-tools/CHANGELOG.md
  packages/workspace-tools/package.json
  terraform-modules/CHANGELOG.md
  terraform-modules/package.json
Due: readme
