Repository storm-software/storm-ops: changes, and which lefthook commands are due for each by the changed paths.
All: prebuild, validate, format, postbuild

prebuild:
  run: pnpm build
  stage_fixed: true

validate:
  run: node ./dist/packages/git-tools/bin/pre-commit.js {staged_files}
  stage_fixed: true

format:
  run: pnpm biome:format {staged_files} && git update-index

postbuild:
  run: pnpm build
  stage_fixed: true

chore(release): Publish monorepo release updates
  packages/workspace-tools/CHANGELOG.md
  packages/workspace-tools/package.json
Due: prebuild, validate, format, postbuild

fix(workspace-tools): Update base methods to no longer use dynamic imports
  packages/workspace-tools/src/base/base-executor.ts
  packages/workspace-tools/src/base/base-generator.ts
Due: prebuild, validate, postbuild

fix(workspace-tools): Update the imports of `config-tools` to dynamic
  packages/workspace-tools/src/base/base-executor.ts
  packages/workspace-tools/src/base/base-generator.ts
  packages/workspace-tools/src/executors/tsup/executor.ts
  packages/workspace-tools/src/utils/run-tsup-build.ts
Due: prebuild, validate, postbuild

fix(workspace-tools): Update module type on config packages to support imports
  packages/config-tools/package.json
  packages/config-tools/project.json
  packages/config-tools/tsconfig.json
  packages/config/package.json
  packages/config/tsconfig.json
  packages/config/tsconfig.spec.json
Due: prebuild, validate, format, postbuild

fix(config-tools): Update config packages to only use cjs
  packages/config-tools/README.md
  packages/config-tools/package.json
  packages/config-tools/project.json
  packages/config/README.md
  packages/config/package.json
  packages/config/project.json
  packages/create-storm-workspace/README.md
  packages/git-tools/README.md
  packages/git-tools/src/commitizen/commit-prompt.ts
  packages/git-tools/src/commitizen/commit-questions.ts
  packages/git-tools/src/commitizen/commit-state.ts
  packages/git-tools/src/commitizen/config.ts
  packages/linting-tools/README.md
  packages/testing-tools/README.md
  packages/workspace-tools/README.md
Due: prebuild, validate, format, postbuild

fix(storm-ops): Remove the unused fsx patch dependency
  package.json
  pnpm-lock.yaml
Due: none

chore(release): Publish monorepo release updates
  packages/config-tools/CHANGELOG.md
  packages/config-tools/package.json
  packages/config/CHANGELOG.md
  packages/config/package.json
  packages/create-storm-workspace/CHANGELOG.md
  packages/create-storm-workspace/package.json
  packages/git-tools/CHANGELOG.md
  packages/git-tools/package.json
  packages/linting-tools/CHANGELOG.md
  packages/linting-tools/package.json
  packages/testing-tools/CHANGELOG.md
  packages/testing-tools/package.json
  packages/workspace-tools/CHANGELOG.md
  packages/workspace-tools/package.json
Due: prebuild, validate, format, postbuild

fix(workspace-tools): Update all imports to `config-tools` in the package
  packages/tsconfig/src/root.json
  packages/workspace-tools/declarations.d.ts
  packages/workspace-tools/src/base/base-executor.ts
  packages/workspace-tools/src/base/base-generator.ts
  packages/workspace-tools/src/executors/typia/executor.ts
  packages/workspace-tools/src/generators/config-schema/generator.ts
  packages/workspace-tools/src/generators/release-version/generator.ts
  packages/workspace-tools/src/utils/apply-workspace-tokens.ts
  packages/workspace-tools/src/utils/get-project-configurations.ts
Due: prebuild, validate, postbuild

chore(release): Publish monorepo release updates
  packages/tsconfig/CHANGELOG.md
  packages/tsconfig/package.json
  packages/workspace-tools/CHANGELOG.md
  packages/workspace-tools/package.json
Due: prebuild, validate, format, postbuild

fix(workspace-tools): Resolved issue with formatting of package name in banner
  packages/workspace-tools/src/utils/get-file-banner.ts
Due: prebuild, validate, postbuild

fix(workspace-tools): Clean up the URLs displayed in the file banner
  packages/workspace-tools/src/utils/get-file-banner.ts
Due: prebuild, validate, postbuild

fix(workspace-tools): Dynamically load tsup module and resolve `testing-tools` type issues
  .env
  package.json
  packages/git-tools/project.json
  packages/testing-tools/declarations.d.ts
  packages/testing-tools/package.json
  packages/testing-tools/project.json
  packages/tsconfig/src/base.json
  packages/tsconfig/src/index.ts
  packages/workspace-tools/package.json
  packages/workspace-tools/project.json
  packages/workspace-tools/src/generators/preset/generator.ts
  packages/workspace-tools/src/utils/run-tsup-build.ts
  pnpm-lock.yaml
  tsconfig.base.json
Due: prebuild, validate, format, postbuild

chore(release): Publish monorepo release updates
  packages/git-tools/CHANGELOG.md
  packages/git-tools/package.json
  packages/testing-tools/CHANGELOG.md
  packages/testing-tools/package.json
  packages/tsconfig/CHANGELOG.md
  packages/tsconfig/package.json
  packages/workspace-tools/CHANGELOG.md
  packages/workspace-tools/package.json
  tsconfig.base.json
Due: prebuild, validate, format, postbuild

fix(workspace-tools): Resolve issue with tsconfig file resolution
  packages/config-tools/README.md
  packages/config/README.md
  packages/create-storm-workspace/README.md
  packages/git-tools/README.md
  packages/linting-tools/README.md
  packages/testing-tools/README.md
  packages/tsconfig/README.md
  packages/workspace-tools/README.md
  packages/workspace-tools/package.json
  packages/workspace-tools/src/utils/run-tsup-build.ts
  pnpm-lock.yaml
Due: prebuild, validate, format, postbuild

chore(release): Publish monorepo release updates
  packages/config-tools/CHANGELOG.md
  packages/config-tools/package.json
  packages/config/CHANGELOG.md
  packages/config/package.json
  packages/create-storm-workspace/CHANGELOG.md
  packages/create-storm-workspace/package.json
  packages/git-tools/CHANGELOG.md
  packages/git-tools/package.json
  packages/linting-tools/CHANGELOG.md
  packages/linting-tools/package.json
  packages/testing-tools/CHANGELOG.md
  packages/testing-tools/package.json
  packages/tsconfig/CHANGELOG.md
  packages/tsconfig/package.json
  packages/workspace-tools/CHANGELOG.md
  packages/workspace-tools/package.json
Due: prebuild, validate, format, postbuild

fix(workspace-tools): Relocation config parser code to build function
  packages/git-tools/README.md
  packages/testing-tools/README.md
  packages/tsconfig/README.md
  packages/workspace-tools/README.md
  packages/workspace-tools/src/utils/run-tsup-build.ts
Due: prebuild, validate, format, postbuild

chore(release): Publish monorepo release updates
  packages/git-tools/CHANGELOG.md
  packages/git-tools/package.json
  packages/testing-tools/CHANGELOG.md
  packages/testing-tools/package.json
  packages/tsconfig/CHANGELOG.md
  packages/tsconfig/package.json
  packages/workspace-tools/CHANGELOG.md
  packages/workspace-tools/package.json
Due: prebuild, validate, format, postbuild

fix(workspace-tools): Rollback changes to use tsconfig read package
  packages/workspace-tools/src/utils/run-tsup-build.ts
Due: prebuild, validate, postbuild

fix(tsconfig): Update the base `tsconfig.json` file with module resolution options
  packages/tsconfig/src/base.json
Due: prebuild, validate, postbuild

chore(release): Publish monorepo release updates
  packages/tsconfig/CHANGELOG.md
  packages/tsconfig/package.json
Due: prebuild, validate, format, postbuild

fix(workspace-tools): Dynamically import typia
  packages/workspace-tools/src/executors/typia/executor.ts
  pnpm-lock.yaml
Due: prebuild, validate, postbuild

fix(workspace-tools): Use tsc to build package
  package.json
  packages/config-tools/declarations.d.ts
  packages/config/declarations.d.ts
  packages/workspace-tools/project.json
  packages/workspace-tools/tsconfig.json
  packages/workspace-tools/tsconfig.lib.json
  patches/@microsoft__api-extractor@7.40.1.patch
  pnpm-lock.yaml
  tsconfig.base.json
Due: prebuild, validate, postbuild

chore(release): Publish monorepo release updates
  packages/config-tools/CHANGELOG.md
  packages/config-tools/package.json
  packages/config/CHANGELOG.md
  packages/config/package.json
  packages/workspace-tools/CHANGELOG.md
  packages/workspace-tools/package.json
  tsconfig.base.json
Due: prebuild, validate, format, postbuild

fix(workspace-tools): Use ESBuild to compile and bundle package
  packages/workspace-tools/project.json
Due: prebuild, validate, postbuild

fix(workspace-tools): Added back additional entry points
  packages/workspace-tools/project.json
Due: prebuild, validate, postbuild

fix(workspace-tools): Resolved issue with missing asset files
  packages/workspace-tools/project.json
Due: prebuild, validate, postbuild

fix(tsconfig): Added `typeAcquisition` to compiler options
  packages/tsconfig/src/base.json
Due: prebuild, validate, postbuild

fix(workspace-tools): Mark dts build as non-incremental
  packages/workspace-tools/src/utils/run-tsup-build.ts
Due: prebuild, validate, postbuild

fix(workspace-tools): Remove the storm env filter
  packages/config-tools/README.md
  packages/config/README.md
  packages/create-storm-workspace/README.md
  packages/git-tools/README.md
  packages/linting-tools/README.md
  packages/testing-tools/README.md
  packages/tsconfig/README.md
  packages/workspace-tools/README.md
  packages/workspace-tools/src/base/base-executor.ts
  packages/workspace-tools/src/utils/run-tsup-build.ts
Due: prebuild, validate, format, postbuild

Path conditions:
  prebuild: any of: **/*.*
  validate: any of: **/*.*
  format: any of: **/{README.md,package.json}
  postbuild: any of: **/*.*
