Repository storm-software/storm-ops: changes, and which lefthook commands are due for each by the changed paths.
All: validate, check, readme, format, build

validate:
  run: zx ./dist/packages/git-tools/hooks/pre-commit.mjs {staged_files}
  stage_fixed: true

check:
  run: pnpm biome:check {staged_files} && git update-index

readme:
  run: zx ./dist/packages/git-tools/bin/cli.mjs readme-gen --templates="dist/packages/git-tools/readme/templates" && git update-index

format:
  run: pnpm biome:format {staged_files} && git update-index

build:
  run: pnpm build
  stage_fixed: true

chore(config-tools): config-tools-v1.16.2 [skip ci]
  packages/config-tools/CHANGELOG.md
  packages/config-tools/package.json
Due: validate, check, readme, format, build

Notes added by 'git notes add'
  46/19c908902b9856a0627addbd8dac6a30077e41
Due: none

chore(workspace-tools): workspace-tools-v1.45.3 [skip ci]
  packages/workspace-tools/CHANGELOG.md
  packages/workspace-tools/package.json
Due: validate, check, readme, format, build

Notes added by 'git notes add'
  4a/82d5fec0a57c4920038ebf9ec0305aeb547d0f
Due: none

chore(create-storm-workspace): create-storm-workspace-v1.45.3 [skip ci]
  packages/create-storm-workspace/CHANGELOG.md
  packages/create-storm-workspace/package.json
Due: validate, check, readme, format, build

Notes added by 'git notes add'
  24/739bc257dabc0863cb8e3abc0d8698edd03c03
Due: none

chore(linting-tools): linting-tools-v1.27.2 [skip ci]
  packages/linting-tools/CHANGELOG.md
  packages/linting-tools/package.json
Due: validate, check, readme, format, build

Notes added by 'git notes add'
  e9/92f4739f66d111a5559bf5584816b59ce66bf7
Due: none

chore(git-tools): git-tools-v1.25.2 [skip ci]
  packages/git-tools/CHANGELOG.md
  packages/git-tools/package.json
Due: validate, check, readme, format, build

Notes added by 'git notes add'
  7c/4749018192975599e5686a04bee74c577494d2
Due: none

chore(testing-tools): testing-tools-v1.23.1 [skip ci]
  packages/testing-tools/CHANGELOG.md
  packages/testing-tools/package.json
Due: validate, check, readme, format, build

Notes added by 'git notes add'
  44/525a5dd9d548c8b721422a8063642a6974f867
Due: none

chore(design-tools): design-tools-v1.7.1 [skip ci]
  packages/design-tools/CHANGELOG.md
  packages/design-tools/package.json
Due: validate, check, readme, format, build

Notes added by 'git notes add'
  5a/fe53c6ea3b8b157c4ed3675be6a59c798c1463
Due: none

fix(git-tools): Upgrade Nx version and resolved import issues
  .github/workflows/ci.yml
  package.json
  packages/config-tools/src/utilities/logger.ts
  packages/git-tools/package.json
  packages/git-tools/src/commitlint/get-nx-scopes.ts
  packages/git-tools/src/readme/index.ts
  packages/git-tools/src/release/index.ts
  packages/workspace-tools/src/utils/apply-workspace-tokens.ts
  packages/workspace-tools/src/utils/get-project-configurations.ts
  pnpm-lock.yaml
Due: validate, check, readme, format, build

fix(git-tools): Upgrade pnpm lock file
  pnpm-lock.yaml
Due: none

fix(config-tools): Rerun ci pipeline
  packages/config-tools/README.md
  packages/create-storm-workspace/README.md
  packages/git-tools/README.md
  packages/git-tools/src/release/changelog-renderer.ts
  packages/linting-tools/README.md
  packages/testing-tools/README.md
  packages/workspace-tools/README.md
Due: validate, check, readme, format, build

fix(config-tools): Resolved the issue with the tsconfig properties
  packages/config-tools/declarations.d.ts
  packages/config-tools/project.json
  packages/config-tools/src/utilities/logger.ts
  packages/config-tools/tsconfig.json
Due: validate, check, build

fix(config-tools): Skip type checks
  packages/config-tools/project.json
Due: validate, check, build

fix(config-tools): Update lefthook config to call install prior to push
  .env
  lefthook.yml
  packages/config-tools/src/utilities/get-default-config.ts
  packages/config-tools/src/utilities/logger.ts
Due: validate, check, build

chore(git-tools): Resolved issue with pre-push hook path
  lefthook.yml
Due: none

fix(git-tools): Resovled issues with lock file versions
  package.json
  packages/create-storm-workspace/package.json
  packages/git-tools/bin/pre-push.ts
  packages/git-tools/package.json
  packages/testing-tools/package.json
  packages/workspace-tools/package.json
  packages/workspace-tools/src/generators/preset/generator.ts
  packages/workspace-tools/src/utils/versions.ts
  pnpm-lock.yaml
Due: validate, check, readme, format, build

fix(git-tools): Fixed issue with bad validation in pre-push hook
  packages/git-tools/bin/pre-push.ts
Due: validate, check, build

ci(storm-ops): Resolved issue with CI action path
  .github/workflows/ci.yml
Due: validate, build

fix(git-tools): Resolved issue preventing git-tools publish
  packages/git-tools/package.json
  pnpm-lock.yaml
Due: validate, check, readme, format, build

fix(git-tools): Resolved the issue with the missing release plugin
  packages/git-tools/src/semantic-release-plugin/analyze-commit.ts
  packages/git-tools/src/semantic-release-plugin/analyze-commits.ts
  packages/git-tools/src/semantic-release-plugin/compare-release-types.ts
  packages/git-tools/src/semantic-release-plugin/get-commits-for-project.ts
  packages/git-tools/src/semantic-release-plugin/index.ts
  packages/workspace-tools/src/generators/preset/generator.ts
Due: validate, check, build

fix(git-tools): Resolved issues around the new paths used in git-tools
  .vscode/settings.json
  lefthook.yml
  package.json
  packages/git-tools/project.json
  packages/git-tools/src/cli/index.ts
  packages/git-tools/src/lefthook/lefthook.yml
  packages/git-tools/src/readme/index.ts
  packages/git-tools/src/release/index.ts
  packages/git-tools/src/release/nx-release.ts
  packages/git-tools/tsconfig.json
  packages/git-tools/tsconfig.lib.json
Due: validate, check, build

chore(git-tools): git-tools-v1.26.0 [skip ci]
  packages/git-tools/CHANGELOG.md
  packages/git-tools/package.json
Due: validate, check, readme, format, build

Notes added by 'git notes add'
  28/820b6a95ec9f60cfa5b4e270269025f95bf504
Due: none

fix(git-tools): Updated the base lefthook config file
  lefthook.yml
  packages/git-tools/src/lefthook/lefthook.yml
Due: validate, build

chore(storm-ops): Update the pnpm-lock file
  pnpm-lock.yaml
Due: none

chore(git-tools): git-tools-v1.26.1 [skip ci]
  packages/git-tools/CHANGELOG.md
  packages/git-tools/package.json
Due: validate, check, readme, format, build

Notes added by 'git notes add'
  23/73697d28b07706b0dc97fa1c66856e28c80383
Due: none

chore(create-storm-workspace): create-storm-workspace-v1.46.0 [skip ci]
  packages/create-storm-workspace/CHANGELOG.md
  packages/create-storm-workspace/package.json
Due: validate, check, readme, format, build

Notes added by 'git notes add'
  1c/8ed5190790a00a024534dc6f3e9b167955ceb8
Due: none

fix(config-tools): Added the `defineConfig` function to type-check config options
  packages/config-tools/declarations.d.ts
  packages/config-tools/src/config-file/define-config.ts
  packages/config-tools/src/config-file/index.ts
Due: validate, check, build

chore(workspace-tools): workspace-tools-v1.46.0 [skip ci]
  packages/workspace-tools/CHANGELOG.md
  packages/workspace-tools/package.json
Due: validate, check, readme, format, build

Notes added by 'git notes add'
  d1/d0d537e3295b75a2242c5edbf42604c47f6921
Due: none

chore(linting-tools): linting-tools-v1.28.0 [skip ci]
  packages/linting-tools/CHANGELOG.md
  packages/linting-tools/package.json
Due: validate, check, readme, format, build

Path conditions:
  validate: any of: **/*.*
  check: any of: **/*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}
  readme: any of: **/{README.md,package.json}
  format: any of: **/{README.md,package.json}
  build: any of: **/*.*
