Repository storm-software/storm-ops: changes, and which lefthook commands are due for each by the changed paths.
All: validate, check, readme, format, build

lefthook.yml:

#
#   Refer for explanation to following link:
#   https://github.com/evilmartians/lefthook/blob/master/docs/configuration.md
#

assert_lefthook_installed: true
colors: true
no_tty: false
min_version: 1.5.0

pre-install:
  commands:
    validate:
      glob: "**/*.*"
      run: "zx ./dist/packages/git-tools/scripts/pre-install.mjs"
prepare:
  commands:
    validate:
      glob: "**/*.*"
      run: "zx ./dist/packages/git-tools/scripts/prepare.mjs"

pre-commit:
  piped: true
  commands:
    validate:
      glob: "**/*.*"
      run: "zx ./dist/packages/git-tools/hooks/pre-commit.mjs {staged_files}"
      stage_fixed: true
    lint-storm:
      files: "git diff --name-only HEAD @{push}"
      glob: "**/*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: "pnpm lint && git update-index"
    check:
      glob: "**/*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: "pnpm biome:check {staged_files} && git update-index"
    readme:
      glob: "**/{README.md,package.json}"
      run: "zx ./dist/packages/git-tools/bin/cli.mjs readme-gen --templates=\"dist/packages/git-tools/readme/templates\" && git update-index"
    format:
      glob: "**/{README.md,package.json}"
      run: "pnpm biome:format {staged_files} && git update-index"
    build:
      glob: "**/*.*"
      run: "pnpm build"
      stage_fixed: true

commit-msg:
  commands:
    validate:
      run: "npx commitlint --config dist/packages/git-tools/commitlint.config.cjs --edit {1}"

pre-push:
  piped: true
  commands:
    validate:
      files: "git diff --name-only HEAD @{push}"
      glob: "**/*.*"
      run: "zx ./dist/packages/git-tools/hooks/pre-push.mjs {files}"
    lint:
      files: "git diff --name-only HEAD @{push}"
      glob: "**/*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: "pnpm biome:lint {files} && git update-index"

post-merge:
  commands:
    validate:
      glob: "**/*.*"
      run: "zx ./dist/packages/git-tools/hooks/post-merge.mjs {staged_files}"
      stage_fixed: true

post-checkout:
  commands:
    validate:
      glob: "**/*.*"
      run: "zx ./dist/packages/git-tools/hooks/post-checkout.mjs {staged_files}"

post-commit:
  commands:
    validate:
      glob: "**/*.*"
      run: "zx ./dist/packages/git-tools/hooks/post-commit.mjs {staged_files}"

chore(linting-tools): linting-tools-v1.26.8 [skip ci]
  packages/linting-tools/CHANGELOG.md
  packages/linting-tools/package.json
Due: validate, check, readme, format, build

Notes added by 'git notes add'
  d8/4e757964973927b483fc6eebc4d3061ddb93d0
Due: none

chore(git-tools): git-tools-v1.24.8 [skip ci]
  packages/git-tools/CHANGELOG.md
  packages/git-tools/package.json
Due: validate, check, readme, format, build

Notes added by 'git notes add'
  56/3d90308daf1d3c52d6f95bf58d5c1d5502c278
Due: none

fix(config-tools): Added code to print out config values added
  packages/config-tools/src/create-storm-config.ts
Due: validate, check, build

chore(config-tools): config-tools-v1.15.9 [skip ci]
  packages/config-tools/CHANGELOG.md
  packages/config-tools/package.json
Due: validate, check, readme, format, build

Notes added by 'git notes add'
  67/5056b02be2e2927c94d6c96e1c22ae202d1623
Due: none

chore(workspace-tools): workspace-tools-v1.43.9 [skip ci]
  packages/workspace-tools/CHANGELOG.md
  packages/workspace-tools/package.json
Due: validate, check, readme, format, build

Notes added by 'git notes add'
  38/cb8f8922527c802271f87b11fb284afd50344d
Due: none

chore(create-storm-workspace): create-storm-workspace-v1.43.9 [skip ci]
  packages/create-storm-workspace/CHANGELOG.md
  packages/create-storm-workspace/package.json
Due: validate, check, readme, format, build

Notes added by 'git notes add'
  4b/c2b9a605402747173fbaea241386f886b41fc7
Due: none

chore(linting-tools): linting-tools-v1.26.9 [skip ci]
  packages/linting-tools/CHANGELOG.md
  packages/linting-tools/package.json
Due: validate, check, readme, format, build

Notes added by 'git notes add'
  66/4e09b404299dc395edc1e7b6b830e6fda5a3a0
Due: none

chore(git-tools): git-tools-v1.24.9 [skip ci]
  packages/git-tools/CHANGELOG.md
  packages/git-tools/package.json
Due: validate, check, readme, format, build

Notes added by 'git notes add'
  79/4b788b62bc80a3661a89ca6e4723bfffbd4112
Due: none

fix(config-tools): Ehanced config values assignement logic
  packages/config-tools/src/create-storm-config.ts
Due: validate, check, build

chore(config-tools): config-tools-v1.15.10 [skip ci]
  packages/config-tools/CHANGELOG.md
  packages/config-tools/package.json
Due: validate, check, readme, format, build

Notes added by 'git notes add'
  b4/8cc2f4cb5db26b9da4c8293dbb94f241852f54
Due: none

chore(workspace-tools): workspace-tools-v1.43.10 [skip ci]
  packages/workspace-tools/CHANGELOG.md
  packages/workspace-tools/package.json
Due: validate, check, readme, format, build

Notes added by 'git notes add'
  51/2298b8772493168305ff7d03bef4575990da07
Due: none

chore(create-storm-workspace): create-storm-workspace-v1.43.10 [skip ci]
  packages/create-storm-workspace/CHANGELOG.md
  packages/create-storm-workspace/package.json
Due: validate, check, readme, format, build

Notes added by 'git notes add'
  53/466c357e46c8461f180abdf240492d4cec4c7b
Due: none

chore(linting-tools): linting-tools-v1.26.10 [skip ci]
  packages/linting-tools/CHANGELOG.md
  packages/linting-tools/package.json
Due: validate, check, readme, format, build

Notes added by 'git notes add'
  9d/5c8a813c059bf5e53dc14f653d460c270c3196
Due: none

chore(git-tools): git-tools-v1.24.10 [skip ci]
  packages/git-tools/CHANGELOG.md
  packages/git-tools/package.json
Due: validate, check, readme, format, build

Notes added by 'git notes add'
  8a/382bec83b21b02de13ab3be18130f144350557
Due: none

fix(config-tools): Fixed config value defaulting issue for booleans
  package.json
  packages/config-tools/src/env/get-env.ts
Due: validate, check, build

chore(config-tools): config-tools-v1.15.11 [skip ci]
  packages/config-tools/CHANGELOG.md
  packages/config-tools/package.json
Due: validate, check, readme, format, build

Notes added by 'git notes add'
  e1/01bc03dc039077797eab3048b962f865374416
Due: none

fix(workspace-tools): Added tsup build logging
  packages/workspace-tools/src/executors/tsup/executor.ts
Due: validate, check, build

chore(workspace-tools): workspace-tools-v1.43.11 [skip ci]
  packages/workspace-tools/CHANGELOG.md
  packages/workspace-tools/package.json
Due: validate, check, readme, format, build

Notes added by 'git notes add'
  ea/c0bc36de22aa8813fb96f7d1f3d74d5d8bd9e5
Due: none

chore(workspace-tools): workspace-tools-v1.43.12 [skip ci]
  packages/workspace-tools/CHANGELOG.md
  packages/workspace-tools/package.json
Due: validate, check, readme, format, build

Notes added by 'git notes add'
  57/d23e6286f3654fe65fcc42b717894bfba00e74
Due: none

chore(create-storm-workspace): create-storm-workspace-v1.43.11 [skip ci]
  packages/create-storm-workspace/CHANGELOG.md
  packages/create-storm-workspace/package.json
Due: validate, check, readme, format, build

Notes added by 'git notes add'
  be/33ec4f1a3b9bf7a6d4263000c6ba3b13356e5d
Due: none

chore(linting-tools): linting-tools-v1.26.11 [skip ci]
  packages/linting-tools/CHANGELOG.md
  packages/linting-tools/package.json
Due: validate, check, readme, format, build

Notes added by 'git notes add'
  1e/d94cfc1d318c36a7e43ed294e8a1bf71ece156
Due: none

chore(git-tools): git-tools-v1.24.11 [skip ci]
  packages/git-tools/CHANGELOG.md
  packages/git-tools/package.json
Due: validate, check, readme, format, build

Notes added by 'git notes add'
  49/bdea4c98f52d8818da0fa9916924497e045906
Due: none
