Repository storm-software/storm-ops: changes, and which lefthook commands are due for each by the changed paths.
All: prebuild, validate, format, postbuild

lefthook.yml:

#
#   Refer for explanation to following link:
#   https://github.com/evilmartians/lefthook/blob/master/docs/configuration.md
#

assert_lefthook_installed: true
colors: true
no_tty: false
min_version: 1.5.0

pre-install:
  commands:
    validate:
      glob: "**/*.*"
      run: "node ./dist/packages/git-tools/bin/pre-install.js"

prepare:
  commands:
    validate:
      glob: "**/*.*"
      run: "node ./dist/packages/git-tools/bin/prepare.js"

pre-commit:
  piped: true
  commands:
    prepare:
      files: "git diff --name-only HEAD @{push}"
      glob: "**/{lefthook.yml,biome.json}"
      run: "pnpm lefthook install"
    prebuild:
      glob: "**/*.*"
      run: "pnpm build"
      stage_fixed: true
    validate:
      glob: "**/*.*"
      run: "node ./dist/packages/git-tools/bin/pre-commit.js {staged_files}"
      stage_fixed: true
    lint:
      files: "git diff --name-only HEAD @{push}"
      glob: "**/*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: "pnpm lint && git update-index"
    check:
      files: "git diff --name-only HEAD @{push}"
      glob: "**/*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: "pnpm biome:check {staged_files} && git update-index"
    readme:
      files: "git diff --name-only HEAD @{push}"
      glob: "**/{README.md,package.json}"
      run: "node ./dist/packages/git-tools/bin/git.js readme-gen --templates=\"dist/packages/git-tools/readme/templates\" && git update-index"
    format:
      glob: "**/{README.md,package.json}"
      run: "pnpm biome:format {staged_files} && git update-index"
    postbuild:
      glob: "**/*.*"
      run: "pnpm build"
      stage_fixed: true

commit-msg:
  commands:
    validate:
      run: "npx commitlint --config dist/packages/git-tools/commitlint.config.cjs --edit {1}"

pre-push:
  piped: true
  commands:
    validate:
      files: "git diff --name-only HEAD @{push}"
      glob: "**/*.*"
      run: "node ./dist/packages/git-tools/hooks/pre-push.js {files} && git update-index"
    lint:
      files: "git diff --name-only HEAD @{push}"
      glob: "**/*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: "pnpm biome:lint {files} && git update-index"

post-merge:
  commands:
    validate:
      glob: "**/*.*"
      run: "node ./dist/packages/git-tools/bin/post-merge.js {staged_files}"
      stage_fixed: true

post-checkout:
  commands:
    validate:
      glob: "**/*.*"
      run: "node ./dist/packages/git-tools/bin/post-checkout.js {staged_files}"

post-commit:
  commands:
    validate:
      glob: "**/*.*"
      run: "node ./dist/packages/git-tools/bin/post-commit.js {staged_files}"

fix(git-tools): Update parameters passed to nx release functions
  nx.json
  packages/git-tools/src/release/nx-release.ts
  packages/workspace-tools/config/nx.json
  project.json
Due: prebuild, validate, postbuild

fix(workspace-tools): Update path used on release version processing
  nx.json
  packages/workspace-tools/config/nx.json
Due: prebuild, validate, postbuild

fix(git-tools): Resolved issues around pushing changes to changelog files
  packages/git-tools/src/release/nx-release.ts
Due: prebuild, validate, postbuild

fix(git-tools): Resolved linting errors from previous commit
  packages/git-tools/src/release/nx-release.ts
Due: prebuild, validate, postbuild

fix(workspace-tools): Update `git` property in the `nx.json` configuration
  nx.json
  packages/workspace-tools/config/nx.json
Due: prebuild, validate, postbuild

fix(workspace-tools): Remove the root workspace project from release configuration
  CHANGELOG.md
  nx.json
  package.json
  packages/workspace-tools/config/nx.json
  project.json
Due: prebuild, validate, postbuild

feat(changelog): Added the `changelog` package to handle file creation during release
  .vscode/extensions.json
  .whitesource
  nx.json
  package.json
  packages/changelog/.eslintrc.json
  packages/changelog/README.md
  packages/changelog/jest.config.ts
  packages/changelog/package.json
  packages/changelog/project.json
  packages/changelog/src/changelog-renderer/changelog-renderer.ts
  packages/changelog/src/changelog-renderer/index.ts
  packages/changelog/src/index.ts
  packages/changelog/tsconfig.json
  packages/changelog/tsconfig.lib.json
  packages/changelog/tsconfig.spec.json
  packages/git-tools/package.json
  packages/git-tools/project.json
  packages/git-tools/src/release/nx-release.ts
  packages/workspace-tools/config/nx.json
  pnpm-lock.yaml
  project.json
  tsconfig.base.json
Due: prebuild, validate, format, postbuild

fix(workspace-tools): Included updated plugin config in `nx.json` file
  .github/.whitesource
  .whitesource
  nx.json
  packages/changelog/project.json
  packages/workspace-tools/config/nx.json
Due: prebuild, validate, postbuild

fix(changelog): Ensure correct named exports are provided by module
  packages/changelog/project.json
  packages/changelog/src/changelog-renderer/changelog-renderer.ts
  tsconfig.base.json
Due: prebuild, validate, postbuild

fix(changelog): Update the path used to invoke the changelogRenderer
  nx.json
Due: none

fix(changelog): Update path for changelog import
  nx.json
Due: none

fix(changelog): Resolve the issue with local changelog renderers
  nx.json
Due: none

chore(release): publish
  packages/changelog/CHANGELOG.md
  packages/changelog/package.json
  packages/git-tools/CHANGELOG.md
  packages/git-tools/package.json
  packages/workspace-tools/CHANGELOG.md
  packages/workspace-tools/package.json
  pnpm-lock.yaml
  tsconfig.base.json
Due: prebuild, validate, format, postbuild

feat(git-tools): Completed release process changes and updated dependencies
  packages/git-tools/src/release/nx-release.ts
  packages/workspace-tools/config/nx.json
  pnpm-lock.yaml
Due: prebuild, validate, postbuild

chore(release): Publish updates to monorepo [skip ci]
  packages/git-tools/CHANGELOG.md
  packages/git-tools/package.json
  packages/workspace-tools/CHANGELOG.md
  packages/workspace-tools/package.json
  pnpm-lock.yaml
Due: prebuild, validate, format, postbuild

fix(storm-ops): Update chalk dependency for all modules
  packages/changelog/package.json
  packages/config-tools/package.json
  packages/config/package.json
  packages/create-storm-workspace/package.json
  packages/design-tools/package.json
  packages/git-tools/package.json
  packages/linting-tools/package.json
  packages/testing-tools/package.json
  packages/workspace-tools/package.json
  pnpm-lock.yaml
Due: prebuild, validate, format, postbuild

chore(release): Publish updates to monorepo [skip ci]
  packages/changelog/CHANGELOG.md
  packages/changelog/package.json
  packages/config-tools/CHANGELOG.md
  packages/config-tools/package.json
  packages/config/CHANGELOG.md
  packages/config/package.json
  packages/create-storm-workspace/CHANGELOG.md
  packages/create-storm-workspace/package.json
  packages/design-tools/CHANGELOG.md
  packages/design-tools/package.json
  packages/git-tools/CHANGELOG.md
  packages/git-tools/package.json
  packages/linting-tools/CHANGELOG.md
  packages/linting-tools/package.json
  packages/testing-tools/CHANGELOG.md
  packages/testing-tools/package.json
  packages/workspace-tools/CHANGELOG.md
  packages/workspace-tools/package.json
Due: prebuild, validate, format, postbuild

fix(storm-ops): Downgrade dependencies to work with cjs task runners
  package.json
  packages/changelog/README.md
  packages/changelog/package.json
  packages/config-tools/README.md
  packages/config-tools/package.json
  packages/config/README.md
  packages/config/package.json
  packages/create-storm-workspace/README.md
  packages/create-storm-workspace/package.json
  packages/design-tools/package.json
  packages/git-tools/README.md
  packages/git-tools/package.json
  packages/linting-tools/README.md
  packages/linting-tools/package.json
  packages/testing-tools/README.md
  packages/testing-tools/package.json
  packages/workspace-tools/README.md
  packages/workspace-tools/package.json
Due: prebuild, validate, format, postbuild

fix(config-tools): Update format to exlcusively cjs
  packages/config-tools/project.json
Due: prebuild, validate, postbuild

chore(release): Publish updates to monorepo [skip ci]
  packages/config-tools/CHANGELOG.md
  packages/config-tools/package.json
Due: prebuild, validate, format, postbuild

fix(config-tools): Change method of importing chalk
  packages/config-tools/src/utilities/logger.ts
Due: prebuild, validate, postbuild

fix(config-tools): Added back esm to bild format
  packages/config-tools/project.json
Due: prebuild, validate, postbuild

fix(config-tools): Added polyfil to support the release version generator's chalk instance
  packages/config-tools/src/utilities/logger.ts
Due: prebuild, validate, postbuild

fix(config-tools): Resolved issue with missing polyfill logger calls
  packages/config-tools/src/utilities/logger.ts
Due: prebuild, validate, postbuild

fix(config-tools): Remove esm format option from build
  packages/config-tools/project.json
Due: prebuild, validate, postbuild

fix(config-tools): Update to the way the chalk module is imported
  packages/config-tools/src/utilities/logger.ts
Due: prebuild, validate, postbuild

fix(config-tools): Another change to the method of importing chalk
  packages/config-tools/project.json
  packages/config-tools/src/utilities/logger.ts
  packages/design-tools/package.json
  packages/design-tools/project.json
  packages/design-tools/tsconfig.json
Due: prebuild, validate, format, postbuild

chore(release): Publish updates to monorepo [skip ci]
  packages/config-tools/CHANGELOG.md
  packages/config-tools/package.json
  packages/design-tools/CHANGELOG.md
  packages/design-tools/package.json
Due: prebuild, validate, format, postbuild

fix(config-tools): Update the tsconfig to use old style of imports
  tsconfig.base.json
Due: none

fix(config-tools): Update the monorepo's `nx.json` config `sharedGlobal` values
  nx.json
Due: none

fix(storm-ops): Update the chalk version to v4.1.2
  package.json
  packages/changelog/package.json
  packages/config-tools/package.json
  packages/config/package.json
  packages/create-storm-workspace/package.json
  packages/design-tools/package.json
  packages/git-tools/package.json
  packages/linting-tools/package.json
  packages/testing-tools/package.json
  packages/workspace-tools/package.json
  pnpm-lock.yaml
Due: prebuild, validate, format, postbuild

chore(release): Publish updates to monorepo [skip ci]
  packages/changelog/CHANGELOG.md
  packages/changelog/package.json
  packages/config-tools/CHANGELOG.md
  packages/config-tools/package.json
  packages/config/CHANGELOG.md
  packages/config/package.json
  packages/create-storm-workspace/CHANGELOG.md
  packages/create-storm-workspace/package.json
  packages/design-tools/CHANGELOG.md
  packages/design-tools/package.json
  packages/git-tools/CHANGELOG.md
  packages/git-tools/package.json
  packages/linting-tools/CHANGELOG.md
  packages/linting-tools/package.json
  packages/testing-tools/CHANGELOG.md
  packages/testing-tools/package.json
  packages/workspace-tools/CHANGELOG.md
  packages/workspace-tools/package.json
  tsconfig.base.json
Due: prebuild, validate, format, postbuild

fix(config-tools): Changed the module type of the package
  package.json
  packages/config-tools/package.json
  packages/config-tools/project.json
  packages/config-tools/src/utilities/logger.ts
  packages/config-tools/tsconfig.json
  tsconfig.base.json
Due: prebuild, validate, format, postbuild

fix(storm-ops): Resolve issue with the pnpm version
  package.json
  packages/changelog/README.md
  packages/config-tools/README.md
  packages/config/README.md
  packages/create-storm-workspace/README.md
  packages/git-tools/README.md
  packages/linting-tools/README.md
  packages/testing-tools/README.md
  packages/workspace-tools/README.md
  pnpm-lock.yaml
Due: prebuild, validate, format, postbuild

chore(release): Publish updates to monorepo [skip ci]
  packages/changelog/CHANGELOG.md
  packages/changelog/package.json
  packages/config-tools/CHANGELOG.md
  packages/config-tools/package.json
  packages/config/CHANGELOG.md
  packages/config/package.json
  packages/create-storm-workspace/CHANGELOG.md
  packages/create-storm-workspace/package.json
  packages/git-tools/CHANGELOG.md
  packages/git-tools/package.json
  packages/linting-tools/CHANGELOG.md
  packages/linting-tools/package.json
  packages/testing-tools/CHANGELOG.md
  packages/testing-tools/package.json
  packages/workspace-tools/CHANGELOG.md
  packages/workspace-tools/package.json
Due: prebuild, validate, format, postbuild

fix(config-tools): Added back the esm option to build
  packages/config-tools/project.json
  packages/config-tools/tsconfig.json
Due: prebuild, validate, postbuild
