Repository storm-software/storm-ops: changes, and which lefthook commands are due for each by the changed paths.
All: prebuild, validate, format, postbuild

lefthook.yml:

#
#   Refer for explanation to following link:
#   https://github.com/evilmartians/lefthook/blob/master/docs/configuration.md
#

assert_lefthook_installed: true
colors: true
no_tty: false
min_version: 1.5.0

pre-install:
  commands:
    validate:
      glob: "**/*.*"
      run: "node ./dist/packages/git-tools/bin/pre-install.js"

prepare:
  commands:
    validate:
      glob: "**/*.*"
      run: "node ./dist/packages/git-tools/bin/prepare.js"

pre-commit:
  piped: true
  commands:
    prepare:
      files: "git diff --name-only HEAD @{push}"
      glob: "**/{lefthook.yml,biome.json}"
      run: "pnpm lefthook install"
    prebuild:
      glob: "**/*.*"
      run: "pnpm build"
      stage_fixed: true
    validate:
      glob: "**/*.*"
      run: "node ./dist/packages/git-tools/bin/pre-commit.js {staged_files}"
      stage_fixed: true
    lint:
      files: "git diff --name-only HEAD @{push}"
      glob: "**/*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: "pnpm lint && git update-index"
    check:
      files: "git diff --name-only HEAD @{push}"
      glob: "**/*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: "pnpm biome:check {staged_files} && git update-index"
    readme:
      files: "git diff --name-only HEAD @{push}"
      glob: "**/{README.md,package.json}"
      run: "node ./dist/packages/git-tools/bin/git.js readme-gen --templates=\"dist/packages/git-tools/readme/templates\" && git update-index"
    format:
      glob: "**/{README.md,package.json}"
      run: "pnpm biome:format {staged_files} && git update-index"
    postbuild:
      glob: "**/*.*"
      run: "pnpm build"
      stage_fixed: true

commit-msg:
  commands:
    validate:
      run: "npx commitlint --config dist/packages/git-tools/commitlint.config.cjs --edit {1}"

pre-push:
  piped: true
  commands:
    validate:
      files: "git diff --name-only HEAD @{push}"
      glob: "**/*.*"
      run: "node ./dist/packages/git-tools/hooks/pre-push.js {files} && git update-index"
    lint:
      files: "git diff --name-only HEAD @{push}"
      glob: "**/*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: "pnpm biome:lint {files} && git update-index"

post-merge:
  commands:
    validate:
      glob: "**/*.*"
      run: "node ./dist/packages/git-tools/bin/post-merge.js {staged_files}"
      stage_fixed: true

post-checkout:
  commands:
    validate:
      glob: "**/*.*"
      run: "node ./dist/packages/git-tools/bin/post-checkout.js {staged_files}"

post-commit:
  commands:
    validate:
      glob: "**/*.*"
      run: "node ./dist/packages/git-tools/bin/post-commit.js {staged_files}"

fix(workspace-tools): Resolve issue with excluded packages
  nx.json
  packages/workspace-tools/project.json
Due: prebuild, validate, postbuild

chore(release): Publish updates to monorepo [skip ci]
  packages/workspace-tools/CHANGELOG.md
  packages/workspace-tools/package.json
Due: prebuild, validate, format, postbuild

fix(workspace-tools): Import prettier dynamically to ensure loading
  packages/workspace-tools/src/executors/tsup/executor.ts
Due: prebuild, validate, postbuild

fix(workspace-tools): Update built file extensions
  packages/workspace-tools/project.json
Due: prebuild, validate, postbuild

fix(workspace-tools): Added require to banner statement
  packages/workspace-tools/project.json
Due: prebuild, validate, postbuild

fix(workspace-tools): Resolve issue with multi-require imports
  packages/workspace-tools/project.json
  packages/workspace-tools/src/executors/tsup/executor.ts
Due: prebuild, validate, postbuild

fix(workspace-tools): Remove prettier imports from tsup build
  packages/workspace-tools/src/executors/tsup/executor.ts
Due: prebuild, validate, postbuild

fix(storm-ops): Regenerate the pnpm-lock file
  pnpm-lock.yaml
Due: none

fix(storm-ops): Resolved issue with the invalid commands in the release action
  .github/workflows/ci.yml
Due: prebuild, validate, postbuild

chore(release): Publish updates to monorepo [skip ci]
  packages/workspace-tools/CHANGELOG.md
  packages/workspace-tools/package.json
  tsconfig.base.json
Due: prebuild, validate, format, postbuild

fix(linting-tools): Added the `preserveSymlinks` option back to root tsconfig file
  packages/linting-tools/src/tsconfig/tsconfig.root.json
Due: prebuild, validate, postbuild

chore(release): Publish updates to monorepo [skip ci]
  packages/linting-tools/CHANGELOG.md
  packages/linting-tools/package.json
Due: prebuild, validate, format, postbuild

fix(git-tools): Fixes for release publishing issues
  .vscode/settings.json
  nx.json
  packages/workspace-tools/config/nx.json
  tsconfig.base.json
Due: prebuild, validate, postbuild

fix(git-tools): Ensure tag generation during versioning
  nx.json
  packages/git-tools/src/release/nx-release.ts
Due: prebuild, validate, postbuild

fix(git-tools): Resolved duplicate tag version error
  packages/git-tools/src/release/nx-release.ts
Due: prebuild, validate, postbuild

fix(git-tools): Resolve issue with release versioning
  nx.json
  packages/git-tools/src/release/nx-release.ts
Due: prebuild, validate, postbuild

chore(release): Publish package updates to monorepo
  packages/git-tools/CHANGELOG.md
  packages/git-tools/package.json
Due: prebuild, validate, format, postbuild

fix(workspace-tools): Updates to compiler options for declarations build
  packages/linting-tools/src/tsconfig/tsconfig.root.json
  packages/workspace-tools/src/utils/run-tsup-build.ts
  packages/workspace-tools/tsconfig.lib.json
Due: prebuild, validate, postbuild

chore(release): Publish package updates to monorepo
  packages/linting-tools/CHANGELOG.md
  packages/linting-tools/package.json
  packages/workspace-tools/CHANGELOG.md
  packages/workspace-tools/package.json
Due: prebuild, validate, format, postbuild

fix(workspace-tools): Update module resolution on declarations build
  packages/workspace-tools/src/utils/run-tsup-build.ts
Due: prebuild, validate, postbuild

chore(release): Publish package updates to monorepo
  packages/workspace-tools/CHANGELOG.md
  packages/workspace-tools/package.json
Due: prebuild, validate, format, postbuild

fix(workspace-tools): Update `libs` to use full names in `compilerOptions` for declarations build
  packages/workspace-tools/src/utils/run-tsup-build.ts
Due: prebuild, validate, postbuild

fix(workspace-tools): Added `target` and `module` values to declarations build options
  packages/workspace-tools/src/utils/run-tsup-build.ts
Due: prebuild, validate, postbuild

fix(workspace-tools): Updated configuration file values
  packages/workspace-tools/src/utils/run-tsup-build.ts
  storm.config.js
Due: prebuild, validate, postbuild

fix(git-tools): Updates to release configuration parameters
  nx.json
  packages/git-tools/src/release/nx-release.ts
Due: prebuild, validate, postbuild

fix(workspace-tools): Resolve issue with incremental build
  packages/workspace-tools/src/utils/run-tsup-build.ts
Due: prebuild, validate, postbuild

fix(workspace-tools): Update the Nx.json configuration
  nx.json
Due: none

fix(git-tools): Use proper git tag to publish changes
  nx.json
  packages/git-tools/src/release/nx-release.ts
Due: prebuild, validate, postbuild
