Repository storm-software/storm-ops: changes, and which lefthook commands are due for each by the changed paths.
All: prepare, schema-gen, readme

prepare:
  run: pnpm lefthook install
  stage_fixed: true

schema-gen:
  run: pnpm nx generate @storm-software/workspace-tools:config-schema --outputFile="./packages/config/schemas/storm.schema.json"
  stage_fixed: true

readme:
  run: pnpm format-readme
  stage_fixed: true

feat(terraform-tools): Update build to exclude other storm package from the distribution
  package.json
  packages/build-tools/README.md
  packages/create-storm-workspace/README.md
  packages/terraform-tools/README.md
  packages/terraform-tools/package.json
  packages/terraform-tools/project.json
  packages/terraform-tools/src/executors/destroy/schema.json
  pnpm-lock.yaml
Due: readme

chore(release): Publish monorepo release updates
  packages/build-tools/CHANGELOG.md
  packages/build-tools/package.json
  packages/cloudflare-tools/CHANGELOG.md
  packages/cloudflare-tools/package.json
  packages/config-tools/CHANGELOG.md
  packages/config-tools/package.json
  packages/create-storm-workspace/CHANGELOG.md
  packages/create-storm-workspace/package.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/eslint-plugin-graphql/package.json
  packages/eslint-plugin-react/package.json
  packages/eslint-plugin/CHANGELOG.md
  packages/eslint-plugin/package.json
  packages/eslint/CHANGELOG.md
  packages/eslint/package.json
  packages/git-tools/CHANGELOG.md
  packages/git-tools/package.json
  packages/linting-tools/CHANGELOG.md
  packages/linting-tools/package.json
  packages/prettier/CHANGELOG.md
  packages/prettier/package.json
  packages/terraform-tools/CHANGELOG.md
  packages/terraform-tools/package.json
  packages/testing-tools/CHANGELOG.md
  packages/testing-tools/package.json
  packages/tsconfig/CHANGELOG.md
  packages/tsconfig/package.json
  packages/workspace-tools/CHANGELOG.md
  packages/workspace-tools/package.json
Due: readme

fix(terraform-tools): Resolve issue with invalid release executor
  packages/terraform-tools/README.md
Due: readme

fix(terraform-tools): Include missing changes to `project.json` file
  packages/terraform-tools/project.json
Due: none

feat(config): Removed the `ci` option from config and enabled better caching
  packages/config-tools/src/create-storm-config.ts
  packages/config-tools/src/env/get-env.ts
  packages/config-tools/src/env/set-env.ts
  packages/config-tools/src/utilities/get-default-config.ts
  packages/config/presets/base.json
  packages/config/src/schema.ts
Due: schema-gen

feat(build-tools): Populate the distribution's package.json with `exports` based on project structure
  package.json
  packages/build-tools/src/build/unbuild.ts
  packages/build-tools/src/utils/generate-package-json.ts
  packages/config/schemas/storm.schema.json
Due: none

chore(release): Publish monorepo release updates
  packages/build-tools/CHANGELOG.md
  packages/build-tools/package.json
  packages/config-tools/CHANGELOG.md
  packages/config-tools/package.json
  packages/config/CHANGELOG.md
  packages/config/package.json
  packages/terraform-tools/CHANGELOG.md
  packages/terraform-tools/package.json
  pnpm-lock.yaml
Due: readme

feat(build-tools): Update the unbuild configuration to get exports from `package.json` files
  packages/build-tools/README.md
  packages/build-tools/src/config/get-unbuild-config.ts
  packages/cloudflare-tools/README.md
  packages/config-tools/README.md
  packages/create-storm-workspace/README.md
  packages/eslint-config/README.md
  packages/eslint-plugin/README.md
  packages/eslint/README.md
  packages/git-tools/README.md
  packages/linting-tools/README.md
  packages/prettier/README.md
  packages/terraform-tools/README.md
  packages/testing-tools/README.md
  packages/tsconfig/README.md
  packages/workspace-tools/README.md
  pnpm-lock.yaml
Due: readme

feat(build-tools): Added back the export statements to unbuild configuration
  packages/build-tools/README.md
  packages/build-tools/src/config/get-unbuild-config.ts
  packages/config-tools/README.md
  packages/config/README.md
  packages/terraform-tools/README.md
Due: readme

chore(release): Publish monorepo release updates
  packages/build-tools/CHANGELOG.md
  packages/build-tools/package.json
  packages/config-tools/CHANGELOG.md
  packages/config-tools/package.json
  packages/config/CHANGELOG.md
  packages/config/package.json
  packages/terraform-tools/CHANGELOG.md
  packages/terraform-tools/package.json
Due: readme

fix(build-tools): Resolved issue with the entry name parameter in unbuild config
  packages/build-tools/README.md
  packages/build-tools/src/config/get-unbuild-config.ts
  packages/cloudflare-tools/README.md
  packages/config-tools/README.md
  packages/create-storm-workspace/README.md
  packages/eslint-config/README.md
  packages/eslint-plugin/README.md
  packages/eslint/README.md
  packages/git-tools/README.md
  packages/linting-tools/README.md
  packages/prettier/README.md
  packages/terraform-tools/README.md
  packages/testing-tools/README.md
  packages/tsconfig/README.md
  packages/workspace-tools/README.md
Due: readme

feat(eslint): Added the `cspell` plugin to the preset
  packages/eslint/package.json
  packages/eslint/src/preset.ts
  pnpm-lock.yaml
Due: readme

feat(build-tools): Enable `dts` instead of `experimentalDts` for TSUP build
  packages/build-tools/src/config/browser-config.ts
  packages/build-tools/src/config/default-config.ts
  packages/build-tools/src/config/neutral-config.ts
  packages/build-tools/src/config/node-config.ts
Due: none

fix(eslint): Resolved issue applying `recommended` CSpell configuration
  packages/eslint/src/preset.ts
Due: none

fix(eslint): Resolve issue with invalid rule configuration
  packages/eslint/src/preset.ts
  packages/eslint/src/rules.d.ts
Due: none

feat(build-tools): Add tsup build's rollup helpers
  README.md
  package.json
  packages/build-tools/README.md
  packages/build-tools/package.json
  packages/build-tools/project.json
  packages/build-tools/src/plugins/index.ts
  packages/build-tools/src/plugins/ts-resolve.ts
  packages/build-tools/src/rollup.ts
  packages/build-tools/src/utils/out-extension.ts
  packages/config-tools/README.md
  packages/config/README.md
  packages/terraform-tools/README.md
  packages/workspace-tools/src/generators/preset/generator.ts
  pnpm-lock.yaml
  storm.json
Due: readme

fix(build-tools): Resolve issue with invalid return paths
  packages/build-tools/src/rollup.ts
  packages/workspace-tools/src/generators/preset/generator.ts
Due: none

chore(release): Publish monorepo release updates
  packages/build-tools/CHANGELOG.md
  packages/build-tools/package.json
  packages/config-tools/CHANGELOG.md
  packages/config-tools/package.json
  packages/config/CHANGELOG.md
  packages/config/package.json
  packages/terraform-tools/CHANGELOG.md
  packages/terraform-tools/package.json
  packages/workspace-tools/CHANGELOG.md
  packages/workspace-tools/package.json
Due: readme

feat(storm-ops): Upgrade workspace's Nx package dependencies
  .vscode/settings.json
  README.md
  nx.json
  package.json
  packages/build-tools/README.md
  packages/build-tools/src/rollup.ts
  packages/cloudflare-tools/README.md
  packages/config-tools/README.md
  packages/create-storm-workspace/README.md
  packages/eslint-config/README.md
  packages/eslint-plugin/README.md
  packages/eslint/README.md
  packages/eslint/src/preset.ts
  packages/git-tools/README.md
  packages/linting-tools/README.md
  packages/prettier/README.md
  packages/terraform-tools/README.md
  packages/testing-tools/README.md
  packages/tsconfig/README.md
  packages/workspace-tools/README.md
  pnpm-lock.yaml
Due: readme

feat(build-tools): Add back experimental DTS option to TSUP
  packages/build-tools/README.md
  packages/build-tools/src/config/browser-config.ts
  packages/build-tools/src/config/default-config.ts
  packages/build-tools/src/config/neutral-config.ts
  packages/build-tools/src/config/node-config.ts
  packages/config-tools/README.md
  packages/config/README.md
  packages/eslint/src/rules.d.ts
  packages/terraform-tools/README.md
  packages/workspace-tools/README.md
Due: readme

chore(release): Publish monorepo release updates
  packages/build-tools/CHANGELOG.md
  packages/build-tools/package.json
  packages/config-tools/CHANGELOG.md
  packages/config-tools/package.json
  packages/config/CHANGELOG.md
  packages/config/package.json
  packages/eslint-plugin-graphql/package.json
  packages/eslint-plugin-react/package.json
  packages/eslint/CHANGELOG.md
  packages/eslint/package.json
  packages/terraform-tools/CHANGELOG.md
  packages/terraform-tools/package.json
  packages/workspace-tools/CHANGELOG.md
  packages/workspace-tools/package.json
Due: readme

feat(eslint): Ignore `prefer-nullish-coalescing` for strings
  packages/build-tools/README.md
  packages/build-tools/package.json
  packages/cloudflare-tools/README.md
  packages/config-tools/README.md
  packages/create-storm-workspace/README.md
  packages/eslint-config/README.md
  packages/eslint-plugin-graphql/package.json
  packages/eslint-plugin-react/package.json
  packages/eslint-plugin/README.md
  packages/eslint/README.md
  packages/eslint/package.json
  packages/eslint/src/preset.ts
  packages/eslint/src/rules/storm.ts
  packages/git-tools/README.md
  packages/linting-tools/README.md
  packages/prettier/README.md
  packages/terraform-tools/README.md
  packages/terraform-tools/package.json
  packages/testing-tools/README.md
  packages/tsconfig/README.md
  packages/workspace-tools/README.md
  packages/workspace-tools/package.json
Due: readme

chore(release): Publish monorepo release updates
  packages/build-tools/CHANGELOG.md
  packages/build-tools/package.json
  packages/cloudflare-tools/CHANGELOG.md
  packages/cloudflare-tools/package.json
  packages/config-tools/CHANGELOG.md
  packages/config-tools/package.json
  packages/create-storm-workspace/CHANGELOG.md
  packages/create-storm-workspace/package.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/eslint-plugin-graphql/CHANGELOG.md
  packages/eslint-plugin-graphql/package.json
  packages/eslint-plugin-react/CHANGELOG.md
  packages/eslint-plugin-react/package.json
  packages/eslint-plugin/CHANGELOG.md
  packages/eslint-plugin/package.json
  packages/eslint/CHANGELOG.md
  packages/eslint/package.json
  packages/git-tools/CHANGELOG.md
  packages/git-tools/package.json
  packages/linting-tools/CHANGELOG.md
  packages/linting-tools/package.json
  packages/prettier/CHANGELOG.md
  packages/prettier/package.json
  packages/terraform-tools/CHANGELOG.md
  packages/terraform-tools/package.json
  packages/testing-tools/CHANGELOG.md
  packages/testing-tools/package.json
  packages/tsconfig/CHANGELOG.md
  packages/tsconfig/package.json
  packages/workspace-tools/CHANGELOG.md
  packages/workspace-tools/package.json
  pnpm-lock.yaml
Due: readme

feat(config): Added the `docs` and `licensing` options to the Storm configuration
  packages/build-tools/README.md
  packages/config-tools/README.md
  packages/config-tools/src/env/get-env.ts
  packages/config-tools/src/env/set-env.ts
  packages/config-tools/src/utilities/get-default-config.ts
  packages/config/README.md
  packages/config/declarations.d.ts
  packages/config/src/constants.ts
  packages/config/src/index.ts
  packages/config/src/schema.ts
  packages/eslint/README.md
  packages/eslint/src/rules/react.ts
  packages/terraform-tools/README.md
  packages/workspace-tools/README.md
Due: schema-gen, readme

feat(config): Updated default `brand` color and added proper URLs to file banners
  packages/config/presets/base.json
  packages/config/schemas/storm.schema.json
  packages/config/src/schema.ts
  packages/eslint/src/utils/get-file-banner.ts
Due: schema-gen

fix(build-tools): Resolve issues with logic in `outExtension` utility function
  packages/build-tools/src/config/browser-config.ts
  packages/build-tools/src/config/neutral-config.ts
  packages/build-tools/src/utils/out-extension.ts
  packages/config/schemas/storm.schema.json
  packages/eslint/src/utils/get-file-banner.ts
Due: none

feat(eslint): Added the React `version` settings to preset
  packages/eslint/src/preset.ts
Due: none

chore(release): Publish monorepo release updates
  packages/eslint-plugin-graphql/package.json
  packages/eslint-plugin-react/package.json
  packages/eslint/CHANGELOG.md
  packages/eslint/package.json
Due: readme

feat(eslint): Added new base rules to the preset
  packages/eslint/src/preset.ts
  packages/eslint/src/rules/storm.ts
Due: none

feat(build-tools): Add `typeRoots` and find TypeScript library definition files prior to TSUP build
  packages/build-tools/src/config/get-unbuild-config.ts
  packages/build-tools/src/utils/run-tsup-build.ts
Due: none

chore(release): Publish monorepo release updates
  packages/build-tools/CHANGELOG.md
  packages/build-tools/package.json
  packages/eslint-plugin-graphql/package.json
  packages/eslint-plugin-react/package.json
  packages/eslint/CHANGELOG.md
  packages/eslint/package.json
Due: readme

ci(storm-ops): Added Telegram notification statements to the CI workflow actions
  .github/workflows/ci-reusable.yml
  .github/workflows/ci.yml
Due: none

ci(storm-ops): Resolved issue with parser preventing linking
  .github/workflows/ci-reusable.yml
  .github/workflows/ci.yml
Due: none

ci(storm-ops): Resolved issue with invalid ChannelId used in Telegram message
  .github/workflows/ci-reusable.yml
  .github/workflows/ci.yml
Due: none

ci(storm-ops): Resolved formatting issues with CI workflow action
  .github/workflows/ci-reusable.yml
  .github/workflows/ci.yml
Due: none

ci(storm-ops): Ensure message formatting is correct
  .github/workflows/ci-reusable.yml
Due: none

Path conditions:
  prepare: any of: **/{lefthook.yml,biome.json}
  schema-gen: any of: packages/config/src/schema.ts
  readme: any of: **/{README.md,README.*.md,readme/**/*,package.json,executors.json,generators.json}
