Repository storm-software/storm-ops: changes, and which lefthook commands are due for each by the changed paths.
All: prebuild, validate, format, postbuild

lefthook.yml:

#
#   Refer for explanation to following link:
#   https://github.com/evilmartians/lefthook/blob/master/docs/configuration.md
#

assert_lefthook_installed: true
colors: true
no_tty: false
min_version: 1.5.0

pre-install:
  commands:
    validate:
      glob: "**/*.*"
      run: "node ./dist/packages/git-tools/bin/pre-install.js"

prepare:
  commands:
    validate:
      glob: "**/*.*"
      run: "node ./dist/packages/git-tools/bin/prepare.js"

pre-commit:
  piped: true
  commands:
    prepare:
      files: "git diff --name-only HEAD @{push}"
      glob: "**/{lefthook.yml,biome.json}"
      run: "pnpm lefthook install"
    prebuild:
      glob: "**/*.*"
      run: "pnpm build"
      stage_fixed: true
    validate:
      glob: "**/*.*"
      run: "node ./dist/packages/git-tools/bin/pre-commit.js {staged_files}"
      stage_fixed: true
    lint:
      files: "git diff --name-only HEAD @{push}"
      glob: "**/*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: "pnpm lint && git update-index"
    check:
      files: "git diff --name-only HEAD @{push}"
      glob: "**/*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: "pnpm biome:check {staged_files} && git update-index"
    readme:
      files: "git diff --name-only HEAD @{push}"
      glob: "**/{README.md,package.json}"
      run: "node ./dist/packages/git-tools/bin/git.js readme-gen --templates=\"dist/packages/git-tools/readme/templates\" && git update-index"
    format:
      glob: "**/{README.md,package.json}"
      run: "pnpm biome:format {staged_files} && git update-index"
    postbuild:
      glob: "**/*.*"
      run: "pnpm build"
      stage_fixed: true

commit-msg:
  commands:
    validate:
      run: "npx commitlint --config dist/packages/git-tools/commitlint.config.cjs --edit {1}"

pre-push:
  piped: true
  commands:
    validate:
      files: "git diff --name-only HEAD @{push}"
      glob: "**/*.*"
      run: "node ./dist/packages/git-tools/hooks/pre-push.js {files} && git update-index"
    lint:
      files: "git diff --name-only HEAD @{push}"
      glob: "**/*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: "pnpm biome:lint {files} && git update-index"

post-merge:
  commands:
    validate:
      glob: "**/*.*"
      run: "node ./dist/packages/git-tools/bin/post-merge.js {staged_files}"
      stage_fixed: true

post-checkout:
  commands:
    validate:
      glob: "**/*.*"
      run: "node ./dist/packages/git-tools/bin/post-checkout.js {staged_files}"

post-commit:
  commands:
    validate:
      glob: "**/*.*"
      run: "node ./dist/packages/git-tools/bin/post-commit.js {staged_files}"

fix(changelog): Resolved type issues when calling changelogRenderer
  packages/changelog/declarations.d.ts
  packages/changelog/package.json
  packages/changelog/project.json
  packages/config-tools/package.json
  packages/config/package.json
Due: prebuild, validate, format, postbuild

fix(changelog): Resolved issue with assets path
  package.json
  packages/changelog/project.json
Due: prebuild, validate, postbuild

fix(workspace-tools): Resolve issue with missing changelogRenderer type
  nx.json
  packages/workspace-tools/src/types.ts
Due: prebuild, validate, postbuild

fix(git-tools): Resolve issue preventing changelogRenderer from being applied
  package.json
  packages/git-tools/src/release/nx-release.ts
  pnpm-lock.yaml
Due: prebuild, validate, postbuild

fix(git-tools): Resolve issue with missing version updates
  packages/git-tools/src/release/nx-release.ts
Due: prebuild, validate, postbuild

fix(git-tools): Updates to how the changelog renderer is invoked
  packages/git-tools/package.json
  packages/git-tools/src/release/nx-release.ts
  packages/git-tools/src/release/nx-version.ts
  pnpm-lock.yaml
Due: prebuild, validate, format, postbuild

fix(git-tools): Remove custom changelog handling logic
  nx.json
  packages/git-tools/src/release/nx-release.ts
Due: prebuild, validate, postbuild

fix(changelog): Resolve issue with changelog renderer imports
  nx.json
  packages/changelog/project.json
  packages/changelog/tsconfig.json
  packages/changelog/tsconfig.lib.json
  packages/git-tools/package.json
  packages/git-tools/project.json
  packages/git-tools/src/release/changelog-renderer.ts
  pnpm-lock.yaml
Due: prebuild, validate, format, postbuild

fix(changelog): Update compiler to tsc
  nx.json
  packages/changelog/declarations.d.ts
  packages/changelog/project.json
  packages/changelog/tsconfig.lib.json
Due: prebuild, validate, postbuild

fix(changelog): Resolve issue with declaration file
  .github/ISSUE_TEMPLATE/config.yml
  .github/workflows/ci.yml
  packages/changelog/package.json
Due: prebuild, validate, format, postbuild

fix(storm-ops): Resolve issue with lint process
  lefthook.yml
  package.json
Due: none

fix(storm-ops): Update call to linter
  package.json
Due: none

fix(changelog): Update method of invoking release action
  lefthook.yml
  package.json
  packages/changelog/project.json
  packages/changelog/tsconfig.lib.json
Due: prebuild, validate, postbuild

fix(storm-ops): Remove linter from workflow action
  .github/workflows/ci.yml
Due: prebuild, validate, postbuild

fix(changelog): Update changelogRenderer to use ESM
  packages/changelog/package.json
  packages/changelog/tsconfig.json
Due: prebuild, validate, format, postbuild

fix(git-tools): Add reference to local changelog-renderer in release process
  nx.json
  packages/changelog/project.json
  packages/git-tools/project.json
Due: prebuild, validate, postbuild

fix(git-tools): Removed the changelog-renderer from release
  nx.json
  packages/workspace-tools/config/nx.json
Due: prebuild, validate, postbuild

chore(release): Publish updates to monorepo [skip ci]
  packages/changelog/CHANGELOG.md
  packages/changelog/package.json
  packages/config-tools/CHANGELOG.md
  packages/config-tools/package.json
  packages/config/CHANGELOG.md
  packages/config/package.json
  packages/create-storm-workspace/CHANGELOG.md
  packages/create-storm-workspace/package.json
  packages/design-tools/CHANGELOG.md
  packages/design-tools/package.json
  packages/git-tools/CHANGELOG.md
  packages/git-tools/package.json
  packages/linting-tools/CHANGELOG.md
  packages/linting-tools/package.json
  packages/testing-tools/CHANGELOG.md
  packages/testing-tools/package.json
  packages/workspace-tools/CHANGELOG.md
  packages/workspace-tools/package.json
  pnpm-lock.yaml
  tsconfig.base.json
Due: prebuild, validate, format, postbuild

fix(git-tools): Update method of calling the release action
  nx.json
  packages/git-tools/bin/git.ts
  packages/git-tools/project.json
Due: prebuild, validate, postbuild

fix(git-tools): Removes unused config options
  nx.json
Due: none

chore(release): Publish updates to monorepo [skip ci]
  packages/git-tools/CHANGELOG.md
  packages/git-tools/package.json
Due: prebuild, validate, format, postbuild

fix(workspace-tools): Resolved issue with `loadStormConfig` import
  packages/workspace-tools/src/base/base-executor.ts
  packages/workspace-tools/src/base/base-generator.ts
Due: prebuild, validate, postbuild

chore(release): Publish updates to monorepo [skip ci]
  packages/workspace-tools/CHANGELOG.md
  packages/workspace-tools/package.json
Due: prebuild, validate, format, postbuild

fix(config): Update type of package
  packages/config/package.json
Due: prebuild, validate, format, postbuild

chore(release): Publish updates to monorepo [skip ci]
  packages/config/CHANGELOG.md
  packages/config/package.json
Due: prebuild, validate, format, postbuild

fix(config): Update package to use CommonJs
  packages/config/tsconfig.json
Due: prebuild, validate, postbuild

fix(config-tools): Update method of importing config package
  packages/config-tools/src/create-storm-config.ts
  packages/config/package.json
Due: prebuild, validate, format, postbuild

chore(release): Publish updates to monorepo [skip ci]
  packages/config-tools/CHANGELOG.md
  packages/config-tools/package.json
  packages/config/CHANGELOG.md
  packages/config/package.json
Due: prebuild, validate, format, postbuild

fix(config): Mark config to no longer bundle code
  packages/changelog/README.md
  packages/config-tools/README.md
  packages/config/README.md
  packages/config/project.json
  packages/create-storm-workspace/README.md
  packages/git-tools/README.md
  packages/linting-tools/README.md
  packages/testing-tools/README.md
  packages/workspace-tools/README.md
Due: prebuild, validate, format, postbuild

chore(release): Publish updates to monorepo [skip ci]
  packages/changelog/CHANGELOG.md
  packages/changelog/package.json
  packages/config-tools/CHANGELOG.md
  packages/config-tools/package.json
  packages/config/CHANGELOG.md
  packages/config/package.json
  packages/create-storm-workspace/CHANGELOG.md
  packages/create-storm-workspace/package.json
  packages/git-tools/CHANGELOG.md
  packages/git-tools/package.json
  packages/linting-tools/CHANGELOG.md
  packages/linting-tools/package.json
  packages/testing-tools/CHANGELOG.md
  packages/testing-tools/package.json
  packages/workspace-tools/CHANGELOG.md
  packages/workspace-tools/package.json
Due: prebuild, validate, format, postbuild

fix(config): Update package import handlers
  packages/config/package.json
  packages/config/project.json
  packages/config/src/define-config.ts
  packages/config/src/schema.ts
  packages/config/src/types.ts
  packages/config/tsconfig.json
Due: prebuild, validate, format, postbuild

fix(workspace-tools): Remove references to config-tools in publisher
  packages/workspace-tools/src/executors/npm-publish/executor.ts
Due: prebuild, validate, postbuild

fix(workspace-tools): Update imports for logging methods
  packages/workspace-tools/src/executors/npm-publish/executor.ts
Due: prebuild, validate, postbuild

fix(workspace-tools): Update logs to use console directly
  packages/workspace-tools/src/executors/npm-publish/executor.ts
Due: prebuild, validate, postbuild
