Repository storm-software/storm-ops: changes, and which lefthook commands are due for each by the changed paths.
All: prepare, schema-gen, validate, readme

lefthook.yml:

#
#   Refer for explanation to following link:
#   https://github.com/evilmartians/lefthook/blob/master/docs/configuration.md
#

assert_lefthook_installed: true
colors: true
no_tty: false
min_version: 1.5.0

pre-install:
  commands:
    validate:
      glob: "**/*"
      run: "node ./dist/packages/git-tools/bin/pre-install.js"

prepare:
  commands:
    validate:
      glob: "**/*"
      run: "node ./dist/packages/git-tools/bin/prepare.js"

pre-commit:
  piped: true
  commands:
    prepare:
      glob: "**/{lefthook.yml,biome.json}"
      run: "pnpm lefthook install && git update-index"
      stage_fixed: true
    schema-gen:
      glob: "packages/config/src/schema.ts"
      run: 'pnpm nx generate @storm-software/workspace-tools:config-schema
        --outputFile="./packages/config/schemas/storm.schema.json" && git
        update-index'
      stage_fixed: true
    validate:
      glob: "**/*"
      run:
        "node ./dist/packages/git-tools/bin/pre-commit.js {staged_files} && git
        update-index"
      stage_fixed: true
    # lint:
    #   files: "git diff --name-only HEAD @{push}"
    #   glob: "**/*.{js,ts,rs,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc} && git update-index"
    #   run: "pnpm lint"
    # check:
    #   files: "git diff --name-only HEAD @{push}"
    #   glob: "**/*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
    #   run: "pnpm exec prettier {staged_files} --check --ignore-unknown --no-error-on-unmatched-pattern --cache && git update-index"
    # toml:
    #   files: "git diff --name-only HEAD @{push}"
    #   glob: "**/*.{toml}"
    #   run: "pnpm format-toml && git update-index"
    readme:
      glob: "**/{README.md,README.*.md,readme/**/*,package.json,executors.json,generators.json}"
      run: "pnpm format-readme && git update-index"
      stage_fixed: true
    format:
      glob: "**/*"
      exclude: "packages/workspace-tools/src/generators/*/files/**/*"
      run: "pnpm exec prettier {staged_files} --write --ignore-unknown
        --no-error-on-unmatched-pattern --cache && git update-index"
      stage_fixed: true
    # postbuild:
    #   files: "git diff --name-only HEAD @{push}"
    #   glob: "**/*"
    #   run: "pnpm build-all && git update-index"

commit-msg:
  commands:
    validate:
      run: 'pnpm exec commitlint
        --config="./dist/packages/git-tools/commitlint/commitlint.config.cjs"
        --edit {1}'

pre-push:
  piped: true
  commands:
    validate:
      glob: "**/*"
      run: "node ./dist/packages/git-tools/bin/pre-push.js {staged_files} && git
        update-index"
      stage_fixed: true
    format:
      glob: "!packages/workspace-tools/src/generators/*/files/**/*"
      run: "pnpm exec prettier {staged_files} --write --ignore-unknown
        --no-error-on-unmatched-pattern --cache && git update-index"
      stage_fixed: true
    build:
      glob: "**/*"
      run: "pnpm build-all"
      stage_fixed: true

post-merge:
  commands:
    validate:
      glob: "**/*"
      run:
        "node ./dist/packages/git-tools/bin/post-merge.js {staged_files} && git
        update-index"
      stage_fixed: true

post-checkout:
  commands:
    validate:
      glob: "**/*"
      run: "node ./dist/packages/git-tools/bin/post-checkout.js {staged_files}"

post-commit:
  commands:
    validate:
      glob: "**/*"
      run: "node ./dist/packages/git-tools/bin/post-commit.js {staged_files}"

fix(eslint-config): Remove unused `react/jsx-sort-prop-types` rule
  packages/eslint-config/src/rules/react.js
Due: validate

chore(release): Publish monorepo release updates
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
Due: validate, readme

feat(storm-ops): Use renovate with shared preset and update dependabot config
  .github/CODEOWNERS
  .github/FUNDING.yml
  .github/dependabot.yml
  .github/labels.yml
  nx.json
  packages/workspace-tools/src/generators/preset/files/.eslintignore
  packages/workspace-tools/src/generators/preset/files/.github/CODEOWNERS
  packages/workspace-tools/src/generators/preset/files/.github/dependabot.yml
  packages/workspace-tools/src/generators/preset/files/.github/labels.yml
  packages/workspace-tools/src/generators/preset/files/.github/renovate.json
  packages/workspace-tools/src/generators/preset/files/.prettierignore
  packages/workspace-tools/src/generators/preset/files/.prettierrc.cjs
  tsconfig.base.json
  tsconfig.eslint.json
Due: validate

chore(release): Publish monorepo release updates
  packages/workspace-tools/CHANGELOG.md
  packages/workspace-tools/package.json
Due: validate, readme

feat(eslint-config): Allow props spreading in React components
  packages/eslint-config/src/rules/react.js
Due: validate

ci(storm-ops): Update the dependabot CI actions conditional check
  packages/workspace-tools/src/generators/preset/files/.github/workflows/dependabot-approve.yml
  packages/workspace-tools/src/generators/preset/files/.github/workflows/dependabot-update.yml
Due: validate

fix(eslint-config): Adjusted various default rule configurations
  packages/eslint-config/src/rules/best-practices.js
  packages/eslint-config/src/rules/errors.js
  packages/eslint-config/src/rules/node.js
Due: validate

fix(eslint-config): Disable the `no-magic-numbers` rule due to excesive false positives
  packages/eslint-config/src/rules/best-practices.js
  packages/eslint-config/src/rules/imports.js
Due: validate

feat(workspace-tools): Added the `clean-package` executor
  packages/config-tools/src/create-storm-config.ts
  packages/config/src/schema.ts
  packages/workspace-tools/executors.json
  packages/workspace-tools/index.ts
  packages/workspace-tools/package.json
  packages/workspace-tools/project.json
  packages/workspace-tools/src/base/base-executor.ts
  packages/workspace-tools/src/executors/clean-package/constants.ts
  packages/workspace-tools/src/executors/clean-package/executor.spec.ts
  packages/workspace-tools/src/executors/clean-package/executor.ts
  packages/workspace-tools/src/executors/clean-package/schema.d.ts
  packages/workspace-tools/src/executors/clean-package/schema.json
  packages/workspace-tools/src/executors/clean-package/types.ts
  packages/workspace-tools/src/executors/clean-package/utils.ts
  pnpm-lock.yaml
Due: schema-gen, validate, readme

feat(config): Updated `workspaceRoot` with a default value
  packages/config/schemas/storm.schema.json
  packages/eslint-config/README.md
  packages/workspace-tools/README.md
Due: validate, readme

chore(release): Publish monorepo release updates
  packages/config-tools/CHANGELOG.md
  packages/config-tools/package.json
  packages/config/CHANGELOG.md
  packages/config/package.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/workspace-tools/CHANGELOG.md
  packages/workspace-tools/package.json
Due: validate, readme

feat(workspace-tools): Added tag population to the workspace plugins
  packages/workspace-tools/src/executors/clean-package/executor.ts
  packages/workspace-tools/src/plugins/rust/cargo-toml.ts
  packages/workspace-tools/src/plugins/typescript/project-config.ts
Due: validate

feat(workspace-tools): Added helper functions to support reading/writing project tags
  packages/workspace-tools/declarations.d.ts
  packages/workspace-tools/src/plugins/rust/cargo-toml.ts
  packages/workspace-tools/src/plugins/typescript/project-config.ts
  packages/workspace-tools/src/utils/index.ts
  packages/workspace-tools/src/utils/project-tags.ts
Due: validate

feat(workspace-tools): Added project tags constants and type declarations
  packages/workspace-tools/src/base/typescript-library-generator.ts
  packages/workspace-tools/src/generators/browser-library/generator.ts
  packages/workspace-tools/src/generators/neutral-library/generator.ts
  packages/workspace-tools/src/generators/neutral-library/schema.d.ts
  packages/workspace-tools/src/generators/node-library/generator.ts
  packages/workspace-tools/src/plugins/rust/cargo-toml.ts
  packages/workspace-tools/src/plugins/typescript/project-config.ts
  packages/workspace-tools/src/utils/project-tags.ts
Due: validate

feat(workspace-tools): Added separate exports for utilities
  packages/workspace-tools/package.json
  packages/workspace-tools/project.json
  packages/workspace-tools/src/plugins/typescript/project-config.ts
  pnpm-lock.yaml
Due: validate, readme

feat(cloudflare-tools): Added project tag functionality to plugin
  packages/cloudflare-tools/package.json
  packages/cloudflare-tools/project.json
  packages/cloudflare-tools/src/plugin/index.ts
Due: validate, readme

ci(storm-ops): Track git branch in `nrwl/nx-set-shas` step
  .github/workflows/ci.yml
  packages/config-tools/README.md
  packages/config/README.md
  packages/eslint-config/README.md
  packages/workspace-tools/README.md
Due: validate, readme

fix(storm-ops): Resolve issue with CI action yaml
  .github/workflows/ci.yml
Due: validate

chore(release): Publish monorepo release updates
  packages/cloudflare-tools/CHANGELOG.md
  packages/cloudflare-tools/package.json
  packages/workspace-tools/CHANGELOG.md
  packages/workspace-tools/package.json
Due: validate, readme

feat(nx-cloud): setup nx cloud workspace
  nx.json
Due: none

ci(storm-ops): Update the Nx-Cloud token to be read-only
  nx.json
Due: none

feat(workspace-tools): Enable distributed task execution and remote caching
  .github/workflows/ci.yml
  .gitignore
  .nx/workflows/dynamic-changesets.yaml
  nx.json
  package.json
  packages/workspace-tools/config/nx.json
  pnpm-lock.yaml
Due: validate

fix(storm-ops): Resolved issue with cross-project typings
  packages/build-tools/src/config/get-config.ts
  packages/build-tools/src/config/neutral-config.ts
  packages/build-tools/src/config/node-config.ts
  packages/build-tools/src/types.ts
  packages/build-tools/src/utils/apply-default-options.ts
  packages/cloudflare-tools/src/generators/worker/schema.d.ts
  packages/workspace-tools/declarations.d.ts
  packages/workspace-tools/package.json
  packages/workspace-tools/src/executors/tsup-neutral/executor.ts
  packages/workspace-tools/src/executors/tsup/schema.d.ts
  pnpm-lock.yaml
Due: validate, readme

ci(storm-ops): Resolve permissions issue in CI action
  .github/workflows/ci.yml
  packages/cloudflare-tools/README.md
  packages/workspace-tools/README.md
Due: validate, readme

ci(storm-ops): Reformatted the targets in the Nx command
  .github/workflows/ci.yml
Due: validate

ci(storm-ops): Added the `dev` branch
  .github/workflows/ci.yml
Due: validate

feat(workspace-tools): Improve the `nx.config` shared imports
  nx.json
  packages/workspace-tools/config/nx.json
Due: validate

ci(storm-ops): Update the Nx record statement to use `format:write`
  .github/workflows/ci.yml
Due: validate

ci(storm-ops): Update the Nx command to use the `build` target
  .github/workflows/ci.yml
Due: validate

fix(eslint-config): Mark the build task as cachable
  packages/eslint-config/project.json
Due: validate

ci(eslint-plugin): Update the `build` task to be cachable
  packages/eslint-plugin/project.json
Due: validate

ci(git-tools): Update `build` tasks to be cachable
  packages/git-tools/project.json
  packages/linting-tools/project.json
  packages/markdownlint/project.json
  packages/prettier/project.json
Due: validate

ci(eslint): Update `build` tasks to be cachable
  packages/cloudflare-tools/project.json
  packages/config-tools/project.json
  packages/config/project.json
  packages/create-storm-workspace/project.json
  packages/eslint/project.json
  packages/testing-tools/project.json
  packages/tsconfig/project.json
Due: validate

ci(eslint-config): Ensure the `test` task is cachable
  packages/eslint-config/project.json
Due: validate

fix(workspace-tools): Improve the inputs used for `build` and `release` tasks
  packages/workspace-tools/config/nx.json
  packages/workspace-tools/src/plugins/typescript/project-config.ts
Due: validate
