Repository storm-software/storm-ops: changes, and which lefthook commands are due for each by the changed paths.
All: prebuild, validate, format, postbuild

prebuild:
  run: pnpm build
  stage_fixed: true

validate:
  run: node ./dist/packages/git-tools/bin/pre-commit.js {staged_files}
  stage_fixed: true

format:
  run: pnpm biome:format {staged_files} && git update-index

postbuild:
  run: pnpm build
  stage_fixed: true

fix(linting-tools): Update the base Storm tsconfig file
  packages/linting-tools/src/tsconfig/tsconfig.root.json
Due: prebuild, validate, postbuild

chore(monorepo): Release latest workspace packages [skip ci]
  CHANGELOG.md
  package.json
  packages/config-tools/CHANGELOG.md
  packages/config-tools/package.json
  packages/create-storm-workspace/CHANGELOG.md
  packages/create-storm-workspace/package.json
  packages/design-tools/CHANGELOG.md
  packages/design-tools/package.json
  packages/git-tools/CHANGELOG.md
  packages/git-tools/package.json
  packages/linting-tools/CHANGELOG.md
  packages/linting-tools/package.json
  packages/testing-tools/CHANGELOG.md
  packages/testing-tools/package.json
  packages/workspace-tools/CHANGELOG.md
  packages/workspace-tools/package.json
Due: prebuild, validate, format, postbuild

feat(config): Added a base config package to allow neutral access of `StormConfig`
  .vscode/extensions.json
  nx.json
  package.json
  packages/config-tools/src/config-file/define-config.ts
  packages/config-tools/src/config-file/get-config-file.ts
  packages/config-tools/src/create-storm-config.ts
  packages/config-tools/src/env/get-env.ts
  packages/config-tools/src/env/set-env.ts
  packages/config-tools/src/index.ts
  packages/config-tools/src/types.ts
  packages/config-tools/src/utilities/get-default-config.ts
  packages/config-tools/src/utilities/logger.ts
  packages/config-tools/src/utilities/process-handler.ts
  packages/config-tools/src/utilities/run.ts
  packages/config-tools/tsconfig.json
  packages/config/.eslintrc.json
  packages/config/README.md
  packages/config/declarations.d.ts
  packages/config/jest.config.ts
  packages/config/package.json
  packages/config/project.json
  packages/config/src/index.ts
  packages/config/src/schema.ts
  packages/config/src/types.ts
  packages/config/tsconfig.json
  packages/config/tsconfig.spec.json
  packages/git-tools/src/cli/index.ts
  packages/testing-tools/package.json
  packages/workspace-tools/src/base/base-executor.ts
  packages/workspace-tools/src/base/base-generator.ts
  packages/workspace-tools/src/executors/design-tokens/executor.ts
  packages/workspace-tools/src/executors/tsup-neutral/executor.ts
  packages/workspace-tools/src/executors/tsup/executor.ts
  packages/workspace-tools/src/executors/typia/executor.ts
  packages/workspace-tools/src/generators/config-schema/generator.ts
  packages/workspace-tools/src/generators/design-tokens/generator.ts
  packages/workspace-tools/src/utils/apply-workspace-tokens.ts
  packages/workspace-tools/src/utils/run-tsup-build.ts
  pnpm-lock.yaml
  tsconfig.base.json
Due: prebuild, validate, format, postbuild

fix(workspace-tools): Resolved accumulator spread linting issue
  packages/workspace-tools/src/generators/design-tokens/generator.ts
Due: prebuild, validate, postbuild

feat(config): Updated git hooks to generate the json-schema for `StormConfig`
  lefthook.yml
  package.json
  packages/config/project.json
Due: prebuild, validate, postbuild

fix(config): Regenerate the pnpm-lock file
  pnpm-lock.yaml
Due: none

chore(monorepo): Release latest workspace packages [skip ci]
  CHANGELOG.md
  package.json
  packages/config-tools/CHANGELOG.md
  packages/config-tools/package.json
  packages/config/CHANGELOG.md
  packages/config/package.json
  packages/create-storm-workspace/CHANGELOG.md
  packages/create-storm-workspace/package.json
  packages/design-tools/CHANGELOG.md
  packages/design-tools/package.json
  packages/git-tools/CHANGELOG.md
  packages/git-tools/package.json
  packages/linting-tools/CHANGELOG.md
  packages/linting-tools/package.json
  packages/testing-tools/CHANGELOG.md
  packages/testing-tools/package.json
  packages/workspace-tools/CHANGELOG.md
  packages/workspace-tools/package.json
Due: prebuild, validate, format, postbuild

fix(workspace-tools): Added various tsup types to exports
  packages/workspace-tools/declarations.d.ts
  packages/workspace-tools/src/base/get-tsup-config.ts
  packages/workspace-tools/src/executors/tsup-browser/get-config.ts
  packages/workspace-tools/src/executors/tsup-neutral/get-config.ts
  packages/workspace-tools/src/executors/tsup-node/get-config.ts
  packages/workspace-tools/src/executors/tsup-node/schema.d.ts
Due: prebuild, validate, postbuild

fix(workspace-tools): Added more missing types to package
  packages/workspace-tools/declarations.d.ts
Due: prebuild, validate, postbuild

feat(workspace-tools): Added the `useJsxModule` option to the build executor
  packages/workspace-tools/declarations.d.ts
  packages/workspace-tools/src/executors/design-tokens/schema.d.ts
  packages/workspace-tools/src/executors/tsup/executor.ts
  packages/workspace-tools/src/executors/tsup/schema.d.ts
  packages/workspace-tools/src/executors/tsup/schema.json
Due: prebuild, validate, postbuild

fix(workspace-tools): Added `process` polyfill with `DefinePlugin` during Browser build
  packages/workspace-tools/src/executors/tsup-neutral/executor.ts
  tsconfig.base.json
Due: prebuild, validate, postbuild

chore(monorepo): Release latest workspace packages [skip ci]
  CHANGELOG.md
  package.json
  packages/config-tools/CHANGELOG.md
  packages/config-tools/package.json
  packages/config/CHANGELOG.md
  packages/config/package.json
  packages/create-storm-workspace/CHANGELOG.md
  packages/create-storm-workspace/package.json
  packages/design-tools/CHANGELOG.md
  packages/design-tools/package.json
  packages/git-tools/CHANGELOG.md
  packages/git-tools/package.json
  packages/linting-tools/CHANGELOG.md
  packages/linting-tools/package.json
  packages/testing-tools/CHANGELOG.md
  packages/testing-tools/package.json
  packages/workspace-tools/CHANGELOG.md
  packages/workspace-tools/package.json
  tsconfig.base.json
Due: prebuild, validate, format, postbuild

fix(linting-tools): Ensure we use `build:all` script during linting
  packages/git-tools/src/lefthook/lefthook.yml
Due: prebuild, validate, postbuild

fix(linting-tools): Added `--no-errors-on-unmatched` to format command
  packages/git-tools/src/lefthook/lefthook.yml
Due: prebuild, validate, postbuild

fix(linting-tools): Ensure correct parameter is passed to lefthook
  packages/git-tools/src/lefthook/lefthook.yml
Due: prebuild, validate, postbuild

fix(linting-tools): Removed `noEmitOnError` from root tsconfig
  packages/linting-tools/src/tsconfig/tsconfig.root.json
Due: prebuild, validate, postbuild

fix(workspace-tools): Resolved issue publishing first package releases to npm
  packages/git-tools/src/release/nx-release.ts
  packages/linting-tools/src/tsconfig/tsconfig.root.json
  packages/workspace-tools/src/executors/npm-publish/executor.ts
Due: prebuild, validate, postbuild

fix(workspace-tools): Update publish executor to handle newly release packages properly
  packages/linting-tools/src/tsconfig/tsconfig.root.json
  packages/workspace-tools/src/executors/npm-publish/executor.ts
Due: prebuild, validate, postbuild

fix(workspace-tools): Resolved issue with the in import from config-tools
  packages/workspace-tools/src/executors/npm-publish/executor.ts
Due: prebuild, validate, postbuild

fix(config-tools): Update `run` function to use a nodejs child process
  packages/config-tools/package.json
  packages/config-tools/src/utilities/run.ts
  pnpm-lock.yaml
Due: prebuild, validate, format, postbuild

fix(workspace-tools): Resolved issue with null reference on error object
  packages/workspace-tools/src/executors/npm-publish/executor.ts
Due: prebuild, validate, postbuild

fix(config-tools): Updated the color of the logger text
  packages/config-tools/src/utilities/logger.ts
  packages/git-tools/src/utilities/file-utils.ts
  packages/git-tools/src/utilities/is-error.ts
Due: prebuild, validate, postbuild

fix(config-tools): Cleaned up the config-tools logging display
  packages/config-tools/src/utilities/logger.ts
Due: prebuild, validate, postbuild

Create dependabot.yml
  .github/dependabot.yml
Due: prebuild, validate, postbuild

fix(git-tools): Removed the emojis from the Changelog Renderer
  packages/git-tools/src/changelog-renderer/changelog-renderer.ts
Due: prebuild, validate, postbuild

Path conditions:
  prebuild: any of: **/*.*
  validate: any of: **/*.*
  format: any of: **/{README.md,package.json}
  postbuild: any of: **/*.*
