Repository storm-software/storm-ops: changes, and which lefthook commands are due for each by the changed paths.
All: validate, check, readme, format, build

lefthook.yml:

#
#   Refer for explanation to following link:
#   https://github.com/evilmartians/lefthook/blob/master/docs/configuration.md
#

assert_lefthook_installed: true
colors: true
no_tty: false
min_version: 1.5.0

pre-install:
  commands:
    validate:
      glob: "**/*.*"
      run: "zx ./dist/packages/git-tools/scripts/pre-install.mjs"
prepare:
  commands:
    validate:
      glob: "**/*.*"
      run: "zx ./dist/packages/git-tools/scripts/prepare.mjs"

pre-commit:
  piped: true
  commands:
    validate:
      glob: "**/*.*"
      run: "zx ./dist/packages/git-tools/hooks/pre-commit.mjs {staged_files}"
      stage_fixed: true
    lint-storm:
      files: "git diff --name-only HEAD @{push}"
      glob: "**/*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: "pnpm lint && git update-index"
    check:
      glob: "**/*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: "pnpm biome:check {staged_files} && git update-index"
    readme:
      glob: "**/{README.md,package.json}"
      run: "zx ./dist/packages/git-tools/bin/cli.mjs readme-gen --templates=\"dist/packages/git-tools/readme/templates\" && git update-index"
    format:
      glob: "**/{README.md,package.json}"
      run: "pnpm biome:format {staged_files} && git update-index"
    build:
      glob: "**/*.*"
      run: "pnpm build"
      stage_fixed: true

commit-msg:
  commands:
    validate:
      run: "npx commitlint --config dist/packages/git-tools/commitlint.config.cjs --edit {1}"

pre-push:
  piped: true
  commands:
    validate:
      files: "git diff --name-only HEAD @{push}"
      glob: "**/*.*"
      run: "zx ./dist/packages/git-tools/hooks/pre-push.mjs {files}"
    lint:
      files: "git diff --name-only HEAD @{push}"
      glob: "**/*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: "pnpm biome:lint {files} && git update-index"

post-merge:
  commands:
    validate:
      glob: "**/*.*"
      run: "zx ./dist/packages/git-tools/hooks/post-merge.mjs {staged_files}"
      stage_fixed: true

post-checkout:
  commands:
    validate:
      glob: "**/*.*"
      run: "zx ./dist/packages/git-tools/hooks/post-checkout.mjs {staged_files}"

post-commit:
  commands:
    validate:
      glob: "**/*.*"
      run: "zx ./dist/packages/git-tools/hooks/post-commit.mjs {staged_files}"

chore(linting-tools): linting-tools-v1.26.2 [skip ci]
  packages/linting-tools/CHANGELOG.md
  packages/linting-tools/package.json
Due: validate, check, readme, format, build

Notes added by 'git notes add'
  07/20d78c69bce221359a1c2f5201cf23e1a59f59
Due: none

chore(git-tools): git-tools-v1.24.2 [skip ci]
  packages/git-tools/CHANGELOG.md
  packages/git-tools/package.json
Due: validate, check, readme, format, build

Notes added by 'git notes add'
  72/07ebd36524e5ed4599d5e92a7ddacf4b91ffbd
Due: none

chore(design-tools): design-tools-v1.6.1 [skip ci]
  packages/design-tools/CHANGELOG.md
  packages/design-tools/package.json
Due: validate, check, readme, format, build

Notes added by 'git notes add'
  8c/1108317fc2dfbf4ee33683c714d7e71a9f9583
Due: none

chore(testing-tools): testing-tools-v1.22.1 [skip ci]
  packages/testing-tools/CHANGELOG.md
  packages/testing-tools/package.json
Due: validate, check, readme, format, build

Notes added by 'git notes add'
  33/da5aed854b1f1958de99c6ede6a6c0499aa163
Due: none

fix(workspace-tools): Clean up code to apply getConfig option in tsup build
  packages/config-tools/src/utilities/logger.ts
  packages/workspace-tools/src/executors/tsup-browser/executor.ts
  packages/workspace-tools/src/executors/tsup-browser/get-config.ts
  packages/workspace-tools/src/executors/tsup-neutral/executor.ts
  packages/workspace-tools/src/executors/tsup-neutral/get-config.ts
Due: validate, check, build

chore(config-tools): config-tools-v1.15.3 [skip ci]
  packages/config-tools/CHANGELOG.md
  packages/config-tools/package.json
Due: validate, check, readme, format, build

Notes added by 'git notes add'
  dc/b3bcf7f8d7e1ce52fa617269a59f53cbbe2fa2
Due: none

chore(workspace-tools): workspace-tools-v1.43.3 [skip ci]
  packages/workspace-tools/CHANGELOG.md
  packages/workspace-tools/package.json
Due: validate, check, readme, format, build

Notes added by 'git notes add'
  a9/b551b645a232dffac92d6fa907e3abf564792c
Due: none

chore(create-storm-workspace): create-storm-workspace-v1.43.3 [skip ci]
  packages/create-storm-workspace/CHANGELOG.md
  packages/create-storm-workspace/package.json
Due: validate, check, readme, format, build

Notes added by 'git notes add'
  62/56e494f4cc2498716d7acd7c6ebdbc4b81d978
Due: none

chore(linting-tools): linting-tools-v1.26.3 [skip ci]
  packages/linting-tools/CHANGELOG.md
  packages/linting-tools/package.json
Due: validate, check, readme, format, build

Notes added by 'git notes add'
  28/02b15821c80ddd5bcf776fd5ca33afd2481b3f
Due: none

chore(git-tools): git-tools-v1.24.3 [skip ci]
  packages/git-tools/CHANGELOG.md
  packages/git-tools/package.json
Due: validate, check, readme, format, build

Notes added by 'git notes add'
  fe/c2bef969068ef0d12412aee3a324595840f6eb
Due: none

fix(git-tools): Resolved issue with logging strings
  package.json
  packages/config-tools/src/utilities/logger.ts
  packages/workspace-tools/src/executors/tsup/executor.ts
Due: validate, check, build

fix(workspace-tools): Remove the transform code from tsup patch
  package.json
  patches/tsup@8.0.0.patch
  pnpm-lock.yaml
Due: validate, build

chore(config-tools): config-tools-v1.15.4 [skip ci]
  packages/config-tools/CHANGELOG.md
  packages/config-tools/package.json
Due: validate, check, readme, format, build

Notes added by 'git notes add'
  1e/f6f297c079a92f2a97eb8600772a9e35c4304a
Due: none

chore(workspace-tools): workspace-tools-v1.43.4 [skip ci]
  packages/workspace-tools/CHANGELOG.md
  packages/workspace-tools/package.json
Due: validate, check, readme, format, build

Notes added by 'git notes add'
  c9/789fd44728fa858ce9aa02bb48e03859d6b198
Due: none

chore(create-storm-workspace): create-storm-workspace-v1.43.4 [skip ci]
  packages/create-storm-workspace/CHANGELOG.md
  packages/create-storm-workspace/package.json
Due: validate, check, readme, format, build

Notes added by 'git notes add'
  1a/686e1d8e52712b681e61cf8509f251cfac6ce3
Due: none

chore(linting-tools): linting-tools-v1.26.4 [skip ci]
  packages/linting-tools/CHANGELOG.md
  packages/linting-tools/package.json
Due: validate, check, readme, format, build

Notes added by 'git notes add'
  de/77f18a2304448812b13b8b11c169482ac1db93
Due: none

chore(git-tools): git-tools-v1.24.4 [skip ci]
  packages/git-tools/CHANGELOG.md
  packages/git-tools/package.json
Due: validate, check, readme, format, build

Notes added by 'git notes add'
  15/a04ed64e2844ff969035b649c745fafc398252
Due: none

chore(testing-tools): testing-tools-v1.22.2 [skip ci]
  packages/testing-tools/CHANGELOG.md
  packages/testing-tools/package.json
Due: validate, check, readme, format, build

Notes added by 'git notes add'
  8f/f55d14626d5a33854ee037839d8b7d698382b7
Due: none

chore(design-tools): design-tools-v1.6.2 [skip ci]
  packages/design-tools/CHANGELOG.md
  packages/design-tools/package.json
Due: validate, check, readme, format, build

Notes added by 'git notes add'
  cc/628360eadc9db4ad4a09f2226dafe67ccc99af
Due: none

fix(workspace-tools): Removed instance of JSDocs parser in tsup patch
  packages/config-tools/src/utilities/logger.ts
  patches/tsup@8.0.0.patch
  pnpm-lock.yaml
Due: validate, check, build

chore(config-tools): config-tools-v1.15.5 [skip ci]
  packages/config-tools/CHANGELOG.md
  packages/config-tools/package.json
Due: validate, check, readme, format, build

Notes added by 'git notes add'
  3e/aa29304aa06e88127c0e8e56f32e64a4856aaf
Due: none

chore(workspace-tools): workspace-tools-v1.43.5 [skip ci]
  packages/workspace-tools/CHANGELOG.md
  packages/workspace-tools/package.json
Due: validate, check, readme, format, build

Notes added by 'git notes add'
  f7/af90cbc11ab5cd9982c43cfeebcbb6599bbcfa
Due: none
